Node-red/SVG_Watertank.json
[
    {
        "id": "5bfeef237ac94587",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "353884247cf96861",
        "type": "ui_slider",
        "z": "5bfeef237ac94587",
        "name": "",
        "label": "Set Point",
        "tooltip": "",
        "group": "bebe9b4002d42f24",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "changewater",
        "topicType": "msg",
        "min": "0",
        "max": "30",
        "step": 1,
        "className": "",
        "x": 100,
        "y": 400,
        "wires": [
            [
                "f3d320bfbb1d6272",
                "6f1224c514e679b9",
                "f8cd901d009018ba"
            ]
        ]
    },
    {
        "id": "592eb362a4aabb57",
        "type": "ui_gauge",
        "z": "5bfeef237ac94587",
        "name": "",
        "group": "17365f225a7fccae",
        "order": 2,
        "width": 12,
        "height": 4,
        "gtype": "gage",
        "title": "Mực nước",
        "label": "cm",
        "format": "{{value}}",
        "min": 0,
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1190,
        "y": 180,
        "wires": []
    },
    {
        "id": "6642eead5e26ad15",
        "type": "find",
        "z": "5bfeef237ac94587",
        "name": "",
        "x": 350,
        "y": 160,
        "wires": [
            [
                "ac626c30919a90f7",
                "b01f945914d5247d",
                "e4b455cba8d794bc",
                "acb4427ffcf707e7",
                "d3823537a6d31274"
            ]
        ]
    },
    {
        "id": "b9b07084b68f34d4",
        "type": "function",
        "z": "5bfeef237ac94587",
        "name": "Find MongDB",
        "func": "msg.url = \"mongodb+srv://Qthanh01:Qthanh0307@cluster0.kfvfo.mongodb.net/?retryWrites=true&w=majority\";\nmsg.db_name = \"MyData\";\nmsg.db_collection = \"WaterTank_Data\";\nmsg.sort = { \"_id\": -1 };\nmsg.limit = 1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 120,
        "wires": [
            [
                "6642eead5e26ad15",
                "422befd9475383d6"
            ]
        ]
    },
    {
        "id": "e4b455cba8d794bc",
        "type": "debug",
        "z": "5bfeef237ac94587",
        "name": "Debug Input",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1190,
        "y": 140,
        "wires": []
    },
    {
        "id": "ac626c30919a90f7",
        "type": "function",
        "z": "5bfeef237ac94587",
        "name": "Get measure level from object",
        "func": "var level_M = parseFloat(msg.payload[0].Level_M);\nmsg.payload = level_M.toFixed(2);\nmsg.topic = \"Measure Level\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 200,
        "wires": [
            [
                "592eb362a4aabb57",
                "8d57ec5ba637fe27",
                "29b0541ab6432584",
                "094dc4fe2f52e96d"
            ]
        ]
    },
    {
        "id": "f3d320bfbb1d6272",
        "type": "ui_text",
        "z": "5bfeef237ac94587",
        "group": "bebe9b4002d42f24",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Set Point Value",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 120,
        "y": 440,
        "wires": []
    },
    {
        "id": "b01f945914d5247d",
        "type": "function",
        "z": "5bfeef237ac94587",
        "name": "Get Kalman level from object",
        "func": "var level_Kal = parseFloat(msg.payload[0].Level_Kal);\nmsg.payload = level_Kal.toFixed(2);\nmsg.topic = \"Kalman Level\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 240,
        "wires": [
            [
                "8d57ec5ba637fe27"
            ]
        ]
    },
    {
        "id": "8d57ec5ba637fe27",
        "type": "ui_chart",
        "z": "5bfeef237ac94587",
        "name": "",
        "group": "17365f225a7fccae",
        "order": 1,
        "width": 12,
        "height": "8",
        "label": "Biểu đồ",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-5",
        "ymax": "30",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#20d214",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#dd2727",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1180,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "422befd9475383d6",
        "type": "delay",
        "z": "5bfeef237ac94587",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "3",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 380,
        "y": 60,
        "wires": [
            [
                "b9b07084b68f34d4"
            ]
        ]
    },
    {
        "id": "30dc37edb818943c",
        "type": "ui_button",
        "z": "5bfeef237ac94587",
        "name": "",
        "group": "bebe9b4002d42f24",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "RESET CHART",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "[]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 700,
        "y": 280,
        "wires": [
            [
                "8d57ec5ba637fe27",
                "772d143bac34c463"
            ]
        ]
    },
    {
        "id": "912ed2acaf0b4f93",
        "type": "deleteMany",
        "z": "5bfeef237ac94587",
        "name": "",
        "x": 1190,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "772d143bac34c463",
        "type": "function",
        "z": "5bfeef237ac94587",
        "name": "Reset mongo chart",
        "func": "\nmsg.url = \"mongodb+srv://Qthanh01:Qthanh0307@cluster0.kfvfo.mongodb.net/?retryWrites=true&w=majority\";\nmsg.db_name = \"MyData\";\nmsg.db_collection = \"WaterTank_Data\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 280,
        "wires": [
            [
                "912ed2acaf0b4f93"
            ]
        ]
    },
    {
        "id": "d60b8efa9ffe2894",
        "type": "trigger",
        "z": "5bfeef237ac94587",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "0",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 160,
        "y": 60,
        "wires": [
            [
                "422befd9475383d6"
            ]
        ]
    },
    {
        "id": "0a41fd3369c7c834",
        "type": "drawsvg-local",
        "z": "5bfeef237ac94587",
        "name": "",
        "x": 1200,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "3542362ce16d6e72",
        "type": "debug",
        "z": "5bfeef237ac94587",
        "name": "Debug Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 600,
        "wires": []
    },
    {
        "id": "ab0da2ae3276c416",
        "type": "function",
        "z": "5bfeef237ac94587",
        "name": "Up_Value_Water_Level",
        "func": "const msgInput = msg.payload;\n\nconst msgOutput =\n{ payload:\n    {\n        command: \"update_style\",\n        selector: \"#WaterLevel\",\n        attributeName: \"height\",\n        attributeValue: msgInput\n    }\n};\nreturn msgOutput;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 360,
        "wires": [
            [
                "36e6b6b1ef9bfdb6"
            ]
        ]
    },
    {
        "id": "29b0541ab6432584",
        "type": "range",
        "z": "5bfeef237ac94587",
        "minin": "0",
        "maxin": "30",
        "minout": "0",
        "maxout": "160",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "",
        "x": 680,
        "y": 360,
        "wires": [
            [
                "ab0da2ae3276c416"
            ]
        ]
    },
    {
        "id": "f8cd901d009018ba",
        "type": "range",
        "z": "5bfeef237ac94587",
        "minin": "0",
        "maxin": "30",
        "minout": "220",
        "maxout": "60",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "",
        "x": 680,
        "y": 400,
        "wires": [
            [
                "9060520e1af00fd6"
            ]
        ]
    },
    {
        "id": "4c3ff2d35a3d4da4",
        "type": "insertOne",
        "z": "5bfeef237ac94587",
        "name": "",
        "x": 1180,
        "y": 640,
        "wires": [
            [
                "3542362ce16d6e72"
            ]
        ]
    },
    {
        "id": "78059c484362df98",
        "type": "function",
        "z": "5bfeef237ac94587",
        "name": "Fill_Pipe_In",
        "func": "let style;\nif (msg.payload === true)\n    {\n    style = \"stroke: rgb(0, 0, 0); fill: rgb(100, 149, 237);\";\n    }\nelse\n    {\n    style = \"stroke: rgb(0, 0, 0); fill: rgb(255, 255, 255);\";\n    }\nconst msgOutput =\n    {\n        payload:\n        {\n            command: \"update_attribute\",\n            selector: \"#Pipe_In\",\n            attributeName: \"style\",\n            attributeValue: style\n        }\n    };\nnode.send(msgOutput);",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 480,
        "wires": [
            [
                "36e6b6b1ef9bfdb6"
            ]
        ]
    },
    {
        "id": "bda459dd37a5b7b2",
        "type": "function",
        "z": "5bfeef237ac94587",
        "name": "Fill_Pipe_Out",
        "func": "let style;\nif (msg.payload === true) {\n    style = \"stroke: rgb(0, 0, 0); fill: rgb(100, 149, 237);\";\n}\nelse {\n    style = \"stroke: rgb(0, 0, 0); fill: rgb(255, 255, 255);\";\n}\nconst msgOutput =\n{\n    payload:\n    {\n        command: \"update_attribute\",\n        selector: \"#Pipe_Out\",\n        attributeName: \"style\",\n        attributeValue: style\n    }\n};\nnode.send(msgOutput);",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 560,
        "wires": [
            [
                "36e6b6b1ef9bfdb6"
            ]
        ]
    },
    {
        "id": "6f1224c514e679b9",
        "type": "function",
        "z": "5bfeef237ac94587",
        "name": "SP_insert_MongoDB",
        "func": "var MesstoMongo = { \"SetPoint\": msg.payload};\n\nmsg.url = \"mongodb+srv://Qthanh01:Qthanh0307@cluster0.kfvfo.mongodb.net/?retryWrites=true&w=majority\";\nmsg.db_name = \"MyData\";\nmsg.db_collection = \"WaterTank_SP\";\nmsg.payload = MesstoMongo;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 640,
        "wires": [
            [
                "4c3ff2d35a3d4da4"
            ]
        ]
    },
    {
        "id": "d3823537a6d31274",
        "type": "function",
        "z": "5bfeef237ac94587",
        "name": "Get Pump Out",
        "func": "var POn = (msg.payload[0].PumpOut == true) ? true : false;\nmsg.payload = POn;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 480,
        "wires": [
            [
                "bda459dd37a5b7b2",
                "5f4c38872b13502a"
            ]
        ]
    },
    {
        "id": "acb4427ffcf707e7",
        "type": "function",
        "z": "5bfeef237ac94587",
        "name": "Get Pump In",
        "func": "var PIn = (msg.payload[0].PumpIn == true) ? true : false;\nmsg.payload = PIn;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 440,
        "wires": [
            [
                "78059c484362df98",
                "8e390423bc5d86a2"
            ]
        ]
    },
    {
        "id": "8e390423bc5d86a2",
        "type": "function",
        "z": "5bfeef237ac94587",
        "name": "Fill_Pump_In",
        "func": "let style;\nif (msg.payload === true)\n    {\n    style = \"fill:cornflowerblue\";\n    }\nelse\n    {\n    style = \"fill:black\";\n    }\nconst msgOutput =\n    {\n        payload:\n        {\n            command: \"update_attribute\",\n            selector: \"#Pump_In\",\n            attributeName: \"style\",\n            attributeValue: style\n        }\n    };\nnode.send(msgOutput);",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 440,
        "wires": [
            [
                "36e6b6b1ef9bfdb6"
            ]
        ]
    },
    {
        "id": "5f4c38872b13502a",
        "type": "function",
        "z": "5bfeef237ac94587",
        "name": "Fill_Pump_Out",
        "func": "let style;\nif (msg.payload === true)\n    {\n    style = \"fill:cornflowerblue\";\n    }\nelse\n    {\n    style = \"fill:black\";\n    }\nconst msgOutput =\n    {\n        payload:\n        {\n            command: \"update_attribute\",\n            selector: \"#Pump_Out\",\n            attributeName: \"style\",\n            attributeValue: style\n        }\n    };\nnode.send(msgOutput);",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 520,
        "wires": [
            [
                "36e6b6b1ef9bfdb6"
            ]
        ]
    },
    {
        "id": "36e6b6b1ef9bfdb6",
        "type": "ui_svg_graphics",
        "z": "5bfeef237ac94587",
        "group": "8a6069de70574e4e",
        "order": 1,
        "width": 16,
        "height": 13,
        "svgString": "<svg xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" viewBox=\"0 0 500 300\" width=\"100%\" height=\"100%\" preserveAspectRatio=\"xMidYMid meet\"><rect id=\"svgEditorBackground\" x=\"0\" y=\"0\" width=\"500\" height=\"300\" style=\"fill: none; stroke: none;\"/>\n  <defs/>\n  <g transform=\"matrix(0, 0.290499, -0.339413, 0, 78.830925, 59.462959)\" style=\"\">\n    <defs/>\n    <path d=\"M74.991,91.227c-13.12,0,-23.76,10.64,-23.76,23.76s10.64,23.76,23.76,23.76s23.76,-10.64,23.76,-23.76S88.111,91.227,74.991,91.227ZM74.991,131.997c-9.39,0,-17.01,-7.62,-17.01,-17.01c0,-9.39,7.62,-17.01,17.01,-17.01c9.39,0,17.01,7.62,17.01,17.01C92.001,124.377,84.381,131.997,74.991,131.997ZM74.991,91.227c-13.12,0,-23.76,10.64,-23.76,23.76s10.64,23.76,23.76,23.76s23.76,-10.64,23.76,-23.76S88.111,91.227,74.991,91.227ZM74.991,131.997c-9.39,0,-17.01,-7.62,-17.01,-17.01c0,-9.39,7.62,-17.01,17.01,-17.01c9.39,0,17.01,7.62,17.01,17.01C92.001,124.377,84.381,131.997,74.991,131.997ZM74.991,91.227c-13.12,0,-23.76,10.64,-23.76,23.76s10.64,23.76,23.76,23.76s23.76,-10.64,23.76,-23.76S88.111,91.227,74.991,91.227ZM74.991,131.997c-9.39,0,-17.01,-7.62,-17.01,-17.01c0,-9.39,7.62,-17.01,17.01,-17.01c9.39,0,17.01,7.62,17.01,17.01C92.001,124.377,84.381,131.997,74.991,131.997ZM74.991,91.227c-13.12,0,-23.76,10.64,-23.76,23.76s10.64,23.76,23.76,23.76s23.76,-10.64,23.76,-23.76S88.111,91.227,74.991,91.227ZM74.991,131.997c-9.39,0,-17.01,-7.62,-17.01,-17.01c0,-9.39,7.62,-17.01,17.01,-17.01c9.39,0,17.01,7.62,17.01,17.01C92.001,124.377,84.381,131.997,74.991,131.997ZM106.821,114.968c0,-1.86,1.5,-3.36,3.36,-3.36h15.71c-0.021,-0.47,-0.061,-0.93,-0.11,-1.39c-0.04,-0.391,-0.08,-0.78,-0.12,-1.171c-0.04,-0.39,-0.09,-0.779,-0.15,-1.17c-0.05,-0.38,-0.109,-0.77,-0.18,-1.149c-0.1,-0.601,-0.21,-1.2,-0.32,-1.79c-1.779,-8.9,-5.869,-16.96,-11.619,-23.53l-2.561,2.56l-0.06,0.06l-0.011,0.01l-0.029,0.03l-8.54,8.54c-1.32,1.31,-3.44,1.31,-4.75,0c-1.32,-1.32,-1.32,-3.44,0,-4.75l8.55,-8.55l0.03,-0.03l2.62,-2.62c-2.41,-2.12,-5.021,-4.01,-7.801,-5.65c-0.399,-0.23,-0.8,-0.46,-1.199,-0.68c-0.181,-0.1,-0.36,-0.2,-0.551,-0.3c-0.38,-0.2,-0.76,-0.4,-1.14,-0.59c-0.229,-0.12,-0.46,-0.23,-0.7,-0.35c-0.479,-0.24,-0.96,-0.46,-1.45,-0.68c-0.279,-0.14,-0.569,-0.26,-0.859,-0.38c-0.17,-0.08,-0.33,-0.15,-0.5,-0.21c-0.521,-0.22,-1.05,-0.42,-1.58,-0.62c-0.03,-0.01,-0.061,-0.02,-0.09,-0.04c-0.41,-0.15,-0.83,-0.3,-1.24,-0.44c-0.42,-0.15,-0.85,-0.29,-1.28,-0.42c-0.069,-0.02,-0.14,-0.04,-0.2,-0.06c-0.369,-0.11,-0.729,-0.22,-1.1,-0.32c-0.4,-0.12,-0.81,-0.23,-1.21,-0.33c-1.43,-0.37,-2.87,-0.67,-4.32,-0.91c-0.109,-0.02,-0.22,-0.03,-0.33,-0.05c-0.239,-0.04,-0.47,-0.08,-0.71,-0.11c-0.51,-0.07,-1.02,-0.14,-1.54,-0.2c-0.01,0,-0.01,0,-0.02,0h-0.01c-0.521,-0.06,-1.04,-0.11,-1.57,-0.16c-0.28,-0.02,-0.55,-0.04,-0.83,-0.06v15.85c0,1.86,-1.5,3.36,-3.36,3.36c-1.859,0,-3.359,-1.5,-3.359,-3.36v-15.85c-7.9,0.52,-15.7,2.86,-22.72,7.05c-0.19,0.11,-0.38,0.22,-0.57,0.34c-0.48,0.29,-0.95,0.59,-1.42,0.9c-0.48,0.32,-0.96,0.65,-1.44,0.98c-0.06,0.04,-0.11,0.08,-0.17,0.12c-0.3,0.22,-0.6,0.44,-0.89,0.65c-0.52,0.4,-1.04,0.81,-1.55,1.21c-0.5,0.43,-1,0.85,-1.49,1.28l11.18,11.18c1.32,1.32,1.32,3.44,0,4.75c-1.31,1.32,-3.43,1.32,-4.75,0l-11.18,-11.18c-0.37,0.42,-0.73,0.84,-1.09,1.26c-0.35,0.44,-0.7,0.87,-1.04,1.31c-0.22,0.29,-0.44,0.59,-0.66,0.89c-0.5,0.69,-0.99,1.39,-1.46,2.09c-0.47,0.71,-0.91,1.42,-1.34,2.15c-0.26,0.45,-0.52,0.9,-0.77,1.35c-0.75,1.36,-1.43,2.75,-2.05,4.16c-0.17,0.41,-0.34,0.81,-0.51,1.22c-0.15,0.38,-0.3,0.77,-0.45,1.15c-1.02,2.71,-1.8,5.49,-2.35,8.3c-0.07,0.4,-0.15,0.8,-0.22,1.21c-0.13,0.8,-0.25,1.609,-0.35,2.42c-0.04,0.35,-0.07,0.699,-0.11,1.04c-0.06,0.569,-0.1,1.13,-0.14,1.699h15.82c1.86,0,3.36,1.5,3.36,3.36s-1.5,3.36,-3.36,3.36h-15.71c0.02,0.47,0.06,0.93,0.11,1.39c0.04,0.39,0.08,0.78,0.12,1.17s0.09,0.78,0.15,1.17c0.05,0.38,0.11,0.771,0.18,1.15c0.1,0.6,0.21,1.2,0.32,1.79c1.78,8.899,5.87,16.96,11.62,23.529l2.56,-2.56l0.06,-0.06l0.01,-0.011l0.03,-0.029l8.54,-8.54c1.32,-1.311,3.44,-1.311,4.75,0c1.32,1.319,1.32,3.439,0,4.75l-8.55,8.55l-0.03,0.03l-0.04,0.04l-2.58,2.579c2.41,2.12,5.02,4.011,7.8,5.65c0.4,0.23,0.8,0.46,1.2,0.68c0.18,0.101,0.36,0.2,0.55,0.301c0.38,0.199,0.76,0.399,1.14,0.59c0.23,0.12,0.46,0.229,0.7,0.35c0.48,0.24,0.96,0.46,1.45,0.68c0.28,0.141,0.57,0.261,0.86,0.381c0.17,0.079,0.33,0.149,0.5,0.21c0.52,0.22,1.05,0.42,1.58,0.619c0.03,0.011,0.06,0.021,0.09,0.04c0.41,0.15,0.83,0.301,1.24,0.44c0.42,0.15,0.85,0.29,1.28,0.42c0.07,0.021,0.14,0.04,0.2,0.061c0.37,0.109,0.73,0.22,1.1,0.319c0.4,0.12,0.81,0.23,1.21,0.33c1.43,0.37,2.87,0.67,4.32,0.91c0.34,0.06,0.69,0.11,1.04,0.16c0.51,0.069,1.02,0.14,1.54,0.2h0.03c0.11,0.02,0.209,0.029,0.31,0.04c0.42,0.05,0.84,0.09,1.26,0.119c0.271,0.021,0.55,0.04,0.83,0.061v-15.851c0,-1.859,1.5,-3.359,3.36,-3.359c1.859,0,3.359,1.5,3.359,3.359v15.83c7.721,-0.52,15.351,-2.79,22.25,-6.8c0.53,-0.31,1.05,-0.63,1.57,-0.96c0.68,-0.43,1.35,-0.88,2.01,-1.34c0.021,-0.02,0.05,-0.04,0.08,-0.06c0.32,-0.23,0.64,-0.46,0.96,-0.7c0.46,-0.34,0.91,-0.69,1.36,-1.05c0.34,-0.261,0.68,-0.54,1.01,-0.811c0.07,-0.07,0.14,-0.12,0.21,-0.189c0.25,-0.21,0.5,-0.421,0.75,-0.65l-11.13,-11.13c-1.32,-1.32,-1.32,-3.44,0,-4.75c1.31,-1.32,3.43,-1.32,4.75,0l11.13,11.13c0.12,-0.13,0.23,-0.26,0.34,-0.39c0.28,-0.33,0.561,-0.66,0.83,-0.99c0.271,-0.34,0.54,-0.67,0.8,-1.01c0.271,-0.341,0.521,-0.681,0.78,-1.03c0.25,-0.34,0.5,-0.69,0.74,-1.04c0.17,-0.24,0.34,-0.48,0.5,-0.73c0.189,-0.279,0.38,-0.569,0.56,-0.859c0.15,-0.23,0.3,-0.46,0.44,-0.69c0.14,-0.22,0.27,-0.439,0.41,-0.67c0.149,-0.24,0.29,-0.49,0.43,-0.74c0.21,-0.359,0.41,-0.71,0.6,-1.08c0.24,-0.43,0.471,-0.859,0.681,-1.3c0.149,-0.29,0.3,-0.59,0.45,-0.89c0,-0.01,0.01,-0.01,0.01,-0.021c0.17,-0.359,0.35,-0.739,0.51,-1.109c0.17,-0.38,0.34,-0.75,0.5,-1.141c0.32,-0.76,0.63,-1.529,0.91,-2.31c0.149,-0.39,0.29,-0.79,0.42,-1.18c0.15,-0.44,0.3,-0.88,0.43,-1.32c0.23,-0.76,0.45,-1.521,0.641,-2.29c0.25,-0.98,0.47,-1.96,0.659,-2.94c0.04,-0.189,0.07,-0.38,0.101,-0.569c0.08,-0.42,0.149,-0.83,0.22,-1.25c0.061,-0.42,0.12,-0.84,0.18,-1.26c0.021,-0.181,0.051,-0.351,0.07,-0.53c0.11,-0.931,0.2,-1.87,0.26,-2.8c0,-0.021,0.011,-0.04,0.011,-0.061h-15.71C108.321,118.327,106.821,116.827,106.821,114.968ZM121.821,121.787c-0.03,0.26,-0.07,0.521,-0.12,0.78c-0.04,0.26,-0.08,0.51,-0.13,0.77c-0.07,0.381,-0.14,0.771,-0.22,1.15c-0.07,0.39,-0.16,0.77,-0.25,1.15c-0.17,0.76,-0.36,1.52,-0.58,2.27c-0.101,0.37,-0.21,0.74,-0.33,1.11c-0.11,0.37,-0.23,0.739,-0.36,1.109c-0.26,0.78,-0.54,1.551,-0.85,2.32c-0.29,0.74,-0.601,1.47,-0.94,2.19c-0.01,0.02,-0.02,0.029,-0.03,0.05c-0.109,0.24,-0.22,0.49,-0.34,0.729c-0.109,0.24,-0.229,0.48,-0.359,0.71c-0.19,0.4,-0.391,0.79,-0.61,1.181c-0.08,0.16,-0.16,0.31,-0.25,0.47c-0.09,0.17,-0.18,0.33,-0.28,0.49c-0.08,0.17,-0.18,0.33,-0.29,0.5c-0.08,0.16,-0.189,0.33,-0.29,0.5c-0.02,0.04,-0.04,0.09,-0.069,0.13c-0.03,0.06,-0.07,0.12,-0.11,0.18c-0.1,0.17,-0.2,0.33,-0.3,0.49c-0.03,0.05,-0.061,0.1,-0.09,0.14c-0.3,0.49,-0.61,0.971,-0.94,1.44c-0.2,0.3,-0.41,0.6,-0.63,0.899c-0.33,0.471,-0.68,0.94,-1.05,1.4l-8.71,-8.7c-2.29,-2.29,-6.021,-2.3,-8.311,0c-2.3,2.29,-2.29,6.021,0,8.311l8.71,8.72c-0.02,0.01,-0.029,0.03,-0.05,0.04c-0.51,0.4,-1.03,0.79,-1.55,1.16s-1.04,0.729,-1.58,1.069c0,0.011,-0.01,0.011,-0.02,0.011c-0.53,0.359,-1.07,0.689,-1.62,1.01c-0.28,0.16,-0.55,0.33,-0.83,0.479c-0.181,0.11,-0.36,0.21,-0.55,0.301c-0.091,0.06,-0.19,0.109,-0.28,0.159c-0.01,0,-0.021,0.011,-0.04,0.021c-0.01,0,-0.021,0.01,-0.03,0.01c-0.53,0.3,-1.069,0.58,-1.609,0.83l-0.011,0.01c-0.01,0.011,-0.029,0.021,-0.04,0.021c-0.229,0.12,-0.46,0.229,-0.689,0.33c-0.25,0.12,-0.49,0.229,-0.74,0.34l-0.01,0.01c-0.07,0.04,-0.141,0.07,-0.21,0.09c-0.471,0.21,-0.94,0.42,-1.42,0.601c-0.25,0.109,-0.511,0.21,-0.761,0.3c-0.25,0.11,-0.51,0.21,-0.77,0.3c-0.37,0.14,-0.73,0.271,-1.1,0.39c-0.351,0.12,-0.71,0.24,-1.061,0.341c-0.24,0.08,-0.47,0.149,-0.71,0.21c-0.05,0.02,-0.09,0.029,-0.14,0.04c-0.42,0.14,-0.851,0.25,-1.271,0.35c-0.109,0.04,-0.22,0.06,-0.33,0.09c-0.239,0.07,-0.479,0.13,-0.72,0.181c-0.3,0.069,-0.6,0.14,-0.9,0.199c-0.199,0.051,-0.39,0.09,-0.59,0.12c-0.14,0.04,-0.27,0.061,-0.41,0.09c-0.26,0.051,-0.52,0.101,-0.779,0.141c-0.05,0.01,-0.101,0.02,-0.15,0.02c-0.04,0.021,-0.08,0.03,-0.12,0.03c-0.22,0.04,-0.43,0.08,-0.649,0.11c-0.46,0.069,-0.91,0.14,-1.37,0.199v-12.39c0,-3.24,-2.63,-5.88,-5.88,-5.88s-5.88,2.64,-5.88,5.88v12.36c0.01,0,0.01,0,0.02,0.01c0,0,-0.01,0,-0.02,0c-0.3,-0.03,-0.6,-0.07,-0.89,-0.12c-0.3,-0.05,-0.59,-0.09,-0.89,-0.14c-0.6,-0.101,-1.2,-0.21,-1.8,-0.33c-0.08,-0.011,-0.16,-0.03,-0.25,-0.061c-0.5,-0.1,-1,-0.21,-1.5,-0.34c-0.61,-0.14,-1.23,-0.3,-1.84,-0.479c-0.25,-0.07,-0.49,-0.141,-0.74,-0.221c-0.17,-0.04,-0.33,-0.1,-0.5,-0.16c-1.73,-0.539,-3.43,-1.189,-5.1,-1.949c-0.43,-0.19,-0.86,-0.391,-1.28,-0.601c-2.84,-1.37,-5.57,-3.04,-8.13,-5.029c-0.03,-0.021,-0.05,-0.04,-0.08,-0.061c-0.01,-0.01,-0.02,-0.02,-0.03,-0.02c-0.03,-0.03,-0.06,-0.051,-0.1,-0.07l0.03,-0.03l8.74,-8.729c2.29,-2.29,2.3,-6.021,0,-8.32c-2.3,-2.3,-6.02,-2.29,-8.31,0l-8.73,8.73l-0.04,0.04c-0.07,-0.091,-0.14,-0.181,-0.21,-0.271c-0.19,-0.229,-0.37,-0.47,-0.53,-0.71c-0.06,-0.08,-0.12,-0.16,-0.18,-0.25c-0.01,-0.02,-0.03,-0.04,-0.05,-0.07c-0.07,-0.1,-0.14,-0.199,-0.21,-0.3c-0.16,-0.22,-0.32,-0.45,-0.48,-0.67c-0.48,-0.69,-0.93,-1.38,-1.36,-2.09c-0.12,-0.19,-0.23,-0.38,-0.34,-0.58c-0.01,-0.01,-0.02,-0.01,-0.02,-0.021c-0.1,-0.159,-0.19,-0.329,-0.29,-0.5c-0.05,-0.079,-0.1,-0.17,-0.15,-0.26c-0.08,-0.13,-0.16,-0.27,-0.22,-0.41c-0.04,-0.06,-0.07,-0.13,-0.11,-0.189c-0.07,-0.12,-0.13,-0.24,-0.2,-0.36c-0.12,-0.229,-0.24,-0.46,-0.36,-0.68c-0.14,-0.28,-0.28,-0.55,-0.41,-0.83l-0.12,-0.24c-0.29,-0.59,-0.56,-1.189,-0.82,-1.79c-0.52,-1.189,-0.98,-2.41,-1.4,-3.63c0,-0.02,-0.01,-0.04,-0.02,-0.05c-0.2,-0.6,-0.39,-1.2,-0.56,-1.8c-0.11,-0.391,-0.22,-0.78,-0.32,-1.17c-0.52,-1.95,-0.91,-3.92,-1.17,-5.91c-0.01,-0.11,-0.03,-0.21,-0.04,-0.32h12.28c3.24,0,5.88,-2.63,5.88,-5.88s-2.64,-5.88,-5.88,-5.88h-12.4c0.3,-2.41,0.78,-4.76,1.44,-7.04c0.09,-0.33,0.19,-0.66,0.29,-0.99c0.11,-0.37,0.23,-0.75,0.36,-1.12c0.18,-0.53,0.36,-1.06,0.56,-1.59c0.09,-0.25,0.19,-0.5,0.29,-0.75c0.21,-0.53,0.43,-1.06,0.66,-1.59c0.19,-0.45,0.4,-0.9,0.61,-1.34c0.46,-0.96,0.95,-1.91,1.48,-2.84c0.29,-0.54,0.6,-1.07,0.93,-1.59c0.08,-0.14,0.17,-0.28,0.26,-0.42c0.26,-0.42,0.53,-0.84,0.82,-1.25c0.1,-0.17,0.22,-0.34,0.35,-0.51c0.33,-0.5,0.69,-1,1.07,-1.48c0.15,-0.22,0.31,-0.44,0.48,-0.65l0.01,0.01l0.02,0.02l0.02,0.02l0.01,0.01l8.71,8.7c2.29,2.29,6.02,2.3,8.31,0c2.3,-2.29,2.29,-6.02,0,-8.31l-8.71,-8.72l-0.05,-0.05c0.27,-0.21,0.55,-0.42,0.83,-0.61c0.68,-0.51,1.36,-0.99,2.06,-1.45c5.48,-3.66,11.56,-6.04,17.82,-7.13c0.31,-0.05,0.63,-0.11,0.94,-0.16c0.5,-0.09,1.01,-0.16,1.51,-0.21v12.4c0,3.24,2.629,5.88,5.879,5.88s5.881,-2.64,5.881,-5.88v-12.36c-0.011,0,-0.011,0,-0.021,-0.01c0,0,0.01,0,0.021,0c0.3,0.03,0.6,0.07,0.89,0.12c0.3,0.05,0.59,0.09,0.89,0.14c0.601,0.1,1.2,0.21,1.8,0.33c0.08,0.01,0.16,0.03,0.25,0.06c0.5,0.1,1,0.21,1.5,0.34c0.61,0.14,1.23,0.3,1.841,0.48c0.25,0.07,0.489,0.14,0.739,0.22c0.17,0.04,0.33,0.1,0.5,0.16c1.73,0.54,3.431,1.19,5.101,1.95c0.43,0.19,0.859,0.39,1.28,0.6c2.84,1.37,5.569,3.04,8.13,5.03c0.029,0.02,0.05,0.04,0.08,0.06c0.01,0.01,0.02,0.02,0.029,0.02c0.03,0.03,0.061,0.05,0.101,0.07l-0.03,0.03l-8.74,8.73c-2.29,2.29,-2.3,6.02,0,8.32s6.021,2.29,8.311,0l8.729,-8.73l0.04,-0.04c0.07,0.09,0.14,0.18,0.21,0.27c0.19,0.23,0.37,0.47,0.53,0.71c0.06,0.08,0.12,0.16,0.18,0.25c0.01,0.02,0.03,0.04,0.05,0.07c0.07,0.1,0.141,0.2,0.21,0.3c0.16,0.22,0.32,0.45,0.48,0.67c0.479,0.69,0.93,1.38,1.36,2.09c0.119,0.19,0.229,0.38,0.34,0.58c0.01,0.01,0.02,0.01,0.02,0.02c0.101,0.16,0.19,0.33,0.29,0.5c0.05,0.08,0.101,0.17,0.15,0.26c0.08,0.13,0.16,0.27,0.22,0.41c0.04,0.06,0.07,0.13,0.11,0.19c0.069,0.12,0.13,0.24,0.2,0.36c0.119,0.23,0.239,0.46,0.359,0.68c0.141,0.28,0.28,0.55,0.41,0.83l0.12,0.24c0.29,0.59,0.56,1.19,0.82,1.79c0.52,1.19,0.979,2.41,1.399,3.63c0,0.02,0.01,0.04,0.021,0.05c0.199,0.6,0.39,1.2,0.56,1.8c0.11,0.39,0.22,0.78,0.32,1.17c0.52,1.95,0.91,3.92,1.17,5.91c0.01,0.109,0.03,0.21,0.04,0.319h-12.28c-3.24,0,-5.88,2.631,-5.88,5.881s2.64,5.88,5.88,5.88h12.29C121.921,121.157,121.871,121.477,121.821,121.787ZM74.991,91.227c-13.12,0,-23.76,10.64,-23.76,23.76s10.64,23.76,23.76,23.76s23.76,-10.64,23.76,-23.76S88.111,91.227,74.991,91.227ZM74.991,131.997c-9.39,0,-17.01,-7.62,-17.01,-17.01c0,-9.39,7.62,-17.01,17.01,-17.01c9.39,0,17.01,7.62,17.01,17.01C92.001,124.377,84.381,131.997,74.991,131.997ZM74.991,91.227c-13.12,0,-23.76,10.64,-23.76,23.76s10.64,23.76,23.76,23.76s23.76,-10.64,23.76,-23.76S88.111,91.227,74.991,91.227ZM74.991,131.997c-9.39,0,-17.01,-7.62,-17.01,-17.01c0,-9.39,7.62,-17.01,17.01,-17.01c9.39,0,17.01,7.62,17.01,17.01C92.001,124.377,84.381,131.997,74.991,131.997ZM74.991,91.227c-13.12,0,-23.76,10.64,-23.76,23.76s10.64,23.76,23.76,23.76s23.76,-10.64,23.76,-23.76S88.111,91.227,74.991,91.227ZM74.991,131.997c-9.39,0,-17.01,-7.62,-17.01,-17.01c0,-9.39,7.62,-17.01,17.01,-17.01c9.39,0,17.01,7.62,17.01,17.01C92.001,124.377,84.381,131.997,74.991,131.997ZM106.821,114.968c0,-1.86,1.5,-3.36,3.36,-3.36h15.71c-0.021,-0.47,-0.061,-0.93,-0.11,-1.39c-0.04,-0.391,-0.08,-0.78,-0.12,-1.171c-0.04,-0.39,-0.09,-0.779,-0.15,-1.17c-0.05,-0.38,-0.109,-0.77,-0.18,-1.149c-0.1,-0.601,-0.21,-1.2,-0.32,-1.79c-1.779,-8.9,-5.869,-16.96,-11.619,-23.53l-2.561,2.56l-0.06,0.06l-0.011,0.01l-0.029,0.03l-8.54,8.54c-1.32,1.31,-3.44,1.31,-4.75,0c-1.32,-1.32,-1.32,-3.44,0,-4.75l8.55,-8.55l0.03,-0.03l2.62,-2.62c-2.41,-2.12,-5.021,-4.01,-7.801,-5.65c-0.399,-0.23,-0.8,-0.46,-1.199,-0.68c-0.181,-0.1,-0.36,-0.2,-0.551,-0.3c-0.38,-0.2,-0.76,-0.4,-1.14,-0.59c-0.229,-0.12,-0.46,-0.23,-0.7,-0.35c-0.479,-0.24,-0.96,-0.46,-1.45,-0.68c-0.279,-0.14,-0.569,-0.26,-0.859,-0.38c-0.17,-0.08,-0.33,-0.15,-0.5,-0.21c-0.521,-0.22,-1.05,-0.42,-1.58,-0.62c-0.03,-0.01,-0.061,-0.02,-0.09,-0.04c-0.41,-0.15,-0.83,-0.3,-1.24,-0.44c-0.42,-0.15,-0.85,-0.29,-1.28,-0.42c-0.069,-0.02,-0.14,-0.04,-0.2,-0.06c-0.369,-0.11,-0.729,-0.22,-1.1,-0.32c-0.4,-0.12,-0.81,-0.23,-1.21,-0.33c-1.43,-0.37,-2.87,-0.67,-4.32,-0.91c-0.109,-0.02,-0.22,-0.03,-0.33,-0.05c-0.239,-0.04,-0.47,-0.08,-0.71,-0.11c-0.51,-0.07,-1.02,-0.14,-1.54,-0.2c-0.01,0,-0.01,0,-0.02,0h-0.01c-0.521,-0.06,-1.04,-0.11,-1.57,-0.16c-0.28,-0.02,-0.55,-0.04,-0.83,-0.06v15.85c0,1.86,-1.5,3.36,-3.36,3.36c-1.859,0,-3.359,-1.5,-3.359,-3.36v-15.85c-7.9,0.52,-15.7,2.86,-22.72,7.05c-0.19,0.11,-0.38,0.22,-0.57,0.34c-0.48,0.29,-0.95,0.59,-1.42,0.9c-0.48,0.32,-0.96,0.65,-1.44,0.98c-0.06,0.04,-0.11,0.08,-0.17,0.12c-0.3,0.22,-0.6,0.44,-0.89,0.65c-0.52,0.4,-1.04,0.81,-1.55,1.21c-0.5,0.43,-1,0.85,-1.49,1.28l11.18,11.18c1.32,1.32,1.32,3.44,0,4.75c-1.31,1.32,-3.43,1.32,-4.75,0l-11.18,-11.18c-0.37,0.42,-0.73,0.84,-1.09,1.26c-0.35,0.44,-0.7,0.87,-1.04,1.31c-0.22,0.29,-0.44,0.59,-0.66,0.89c-0.5,0.69,-0.99,1.39,-1.46,2.09c-0.47,0.71,-0.91,1.42,-1.34,2.15c-0.26,0.45,-0.52,0.9,-0.77,1.35c-0.75,1.36,-1.43,2.75,-2.05,4.16c-0.17,0.41,-0.34,0.81,-0.51,1.22c-0.15,0.38,-0.3,0.77,-0.45,1.15c-1.02,2.71,-1.8,5.49,-2.35,8.3c-0.07,0.4,-0.15,0.8,-0.22,1.21c-0.13,0.8,-0.25,1.609,-0.35,2.42c-0.04,0.35,-0.07,0.699,-0.11,1.04c-0.06,0.569,-0.1,1.13,-0.14,1.699h15.82c1.86,0,3.36,1.5,3.36,3.36s-1.5,3.36,-3.36,3.36h-15.71c0.02,0.47,0.06,0.93,0.11,1.39c0.04,0.39,0.08,0.78,0.12,1.17s0.09,0.78,0.15,1.17c0.05,0.38,0.11,0.771,0.18,1.15c0.1,0.6,0.21,1.2,0.32,1.79c1.78,8.899,5.87,16.96,11.62,23.529l2.56,-2.56l0.06,-0.06l0.01,-0.011l0.03,-0.029l8.54,-8.54c1.32,-1.311,3.44,-1.311,4.75,0c1.32,1.319,1.32,3.439,0,4.75l-8.55,8.55l-0.03,0.03l-0.04,0.04l-2.58,2.579c2.41,2.12,5.02,4.011,7.8,5.65c0.4,0.23,0.8,0.46,1.2,0.68c0.18,0.101,0.36,0.2,0.55,0.301c0.38,0.199,0.76,0.399,1.14,0.59c0.23,0.12,0.46,0.229,0.7,0.35c0.48,0.24,0.96,0.46,1.45,0.68c0.28,0.141,0.57,0.261,0.86,0.381c0.17,0.079,0.33,0.149,0.5,0.21c0.52,0.22,1.05,0.42,1.58,0.619c0.03,0.011,0.06,0.021,0.09,0.04c0.41,0.15,0.83,0.301,1.24,0.44c0.42,0.15,0.85,0.29,1.28,0.42c0.07,0.021,0.14,0.04,0.2,0.061c0.37,0.109,0.73,0.22,1.1,0.319c0.4,0.12,0.81,0.23,1.21,0.33c1.43,0.37,2.87,0.67,4.32,0.91c0.34,0.06,0.69,0.11,1.04,0.16c0.51,0.069,1.02,0.14,1.54,0.2h0.03c0.11,0.02,0.209,0.029,0.31,0.04c0.42,0.05,0.84,0.09,1.26,0.119c0.271,0.021,0.55,0.04,0.83,0.061v-15.851c0,-1.859,1.5,-3.359,3.36,-3.359c1.859,0,3.359,1.5,3.359,3.359v15.83c7.721,-0.52,15.351,-2.79,22.25,-6.8c0.53,-0.31,1.05,-0.63,1.57,-0.96c0.68,-0.43,1.35,-0.88,2.01,-1.34c0.021,-0.02,0.05,-0.04,0.08,-0.06c0.32,-0.23,0.64,-0.46,0.96,-0.7c0.46,-0.34,0.91,-0.69,1.36,-1.05c0.34,-0.261,0.68,-0.54,1.01,-0.811c0.07,-0.07,0.14,-0.12,0.21,-0.189c0.25,-0.21,0.5,-0.421,0.75,-0.65l-11.13,-11.13c-1.32,-1.32,-1.32,-3.44,0,-4.75c1.31,-1.32,3.43,-1.32,4.75,0l11.13,11.13c0.12,-0.13,0.23,-0.26,0.34,-0.39c0.28,-0.33,0.561,-0.66,0.83,-0.99c0.271,-0.34,0.54,-0.67,0.8,-1.01c0.271,-0.341,0.521,-0.681,0.78,-1.03c0.25,-0.34,0.5,-0.69,0.74,-1.04c0.17,-0.24,0.34,-0.48,0.5,-0.73c0.189,-0.279,0.38,-0.569,0.56,-0.859c0.15,-0.23,0.3,-0.46,0.44,-0.69c0.14,-0.22,0.27,-0.439,0.41,-0.67c0.149,-0.24,0.29,-0.49,0.43,-0.74c0.21,-0.359,0.41,-0.71,0.6,-1.08c0.24,-0.43,0.471,-0.859,0.681,-1.3c0.149,-0.29,0.3,-0.59,0.45,-0.89c0,-0.01,0.01,-0.01,0.01,-0.021c0.17,-0.359,0.35,-0.739,0.51,-1.109c0.17,-0.38,0.34,-0.75,0.5,-1.141c0.32,-0.76,0.63,-1.529,0.91,-2.31c0.149,-0.39,0.29,-0.79,0.42,-1.18c0.15,-0.44,0.3,-0.88,0.43,-1.32c0.23,-0.76,0.45,-1.521,0.641,-2.29c0.25,-0.98,0.47,-1.96,0.659,-2.94c0.04,-0.189,0.07,-0.38,0.101,-0.569c0.08,-0.42,0.149,-0.83,0.22,-1.25c0.061,-0.42,0.12,-0.84,0.18,-1.26c0.021,-0.181,0.051,-0.351,0.07,-0.53c0.11,-0.931,0.2,-1.87,0.26,-2.8c0,-0.021,0.011,-0.04,0.011,-0.061h-15.71C108.321,118.327,106.821,116.827,106.821,114.968ZM121.821,121.787c-0.03,0.26,-0.07,0.521,-0.12,0.78c-0.04,0.26,-0.08,0.51,-0.13,0.77c-0.07,0.381,-0.14,0.771,-0.22,1.15c-0.07,0.39,-0.16,0.77,-0.25,1.15c-0.17,0.76,-0.36,1.52,-0.58,2.27c-0.101,0.37,-0.21,0.74,-0.33,1.11c-0.11,0.37,-0.23,0.739,-0.36,1.109c-0.26,0.78,-0.54,1.551,-0.85,2.32c-0.29,0.74,-0.601,1.47,-0.94,2.19c-0.01,0.02,-0.02,0.029,-0.03,0.05c-0.109,0.24,-0.22,0.49,-0.34,0.729c-0.109,0.24,-0.229,0.48,-0.359,0.71c-0.19,0.4,-0.391,0.79,-0.61,1.181c-0.08,0.16,-0.16,0.31,-0.25,0.47c-0.09,0.17,-0.18,0.33,-0.28,0.49c-0.08,0.17,-0.18,0.33,-0.29,0.5c-0.08,0.16,-0.189,0.33,-0.29,0.5c-0.02,0.04,-0.04,0.09,-0.069,0.13c-0.03,0.06,-0.07,0.12,-0.11,0.18c-0.1,0.17,-0.2,0.33,-0.3,0.49c-0.03,0.05,-0.061,0.1,-0.09,0.14c-0.3,0.49,-0.61,0.971,-0.94,1.44c-0.2,0.3,-0.41,0.6,-0.63,0.899c-0.33,0.471,-0.68,0.94,-1.05,1.4l-8.71,-8.7c-2.29,-2.29,-6.021,-2.3,-8.311,0c-2.3,2.29,-2.29,6.021,0,8.311l8.71,8.72c-0.02,0.01,-0.029,0.03,-0.05,0.04c-0.51,0.4,-1.03,0.79,-1.55,1.16s-1.04,0.729,-1.58,1.069c0,0.011,-0.01,0.011,-0.02,0.011c-0.53,0.359,-1.07,0.689,-1.62,1.01c-0.28,0.16,-0.55,0.33,-0.83,0.479c-0.181,0.11,-0.36,0.21,-0.55,0.301c-0.091,0.06,-0.19,0.109,-0.28,0.159c-0.01,0,-0.021,0.011,-0.04,0.021c-0.01,0,-0.021,0.01,-0.03,0.01c-0.53,0.3,-1.069,0.58,-1.609,0.83l-0.011,0.01c-0.01,0.011,-0.029,0.021,-0.04,0.021c-0.229,0.12,-0.46,0.229,-0.689,0.33c-0.25,0.12,-0.49,0.229,-0.74,0.34l-0.01,0.01c-0.07,0.04,-0.141,0.07,-0.21,0.09c-0.471,0.21,-0.94,0.42,-1.42,0.601c-0.25,0.109,-0.511,0.21,-0.761,0.3c-0.25,0.11,-0.51,0.21,-0.77,0.3c-0.37,0.14,-0.73,0.271,-1.1,0.39c-0.351,0.12,-0.71,0.24,-1.061,0.341c-0.24,0.08,-0.47,0.149,-0.71,0.21c-0.05,0.02,-0.09,0.029,-0.14,0.04c-0.42,0.14,-0.851,0.25,-1.271,0.35c-0.109,0.04,-0.22,0.06,-0.33,0.09c-0.239,0.07,-0.479,0.13,-0.72,0.181c-0.3,0.069,-0.6,0.14,-0.9,0.199c-0.199,0.051,-0.39,0.09,-0.59,0.12c-0.14,0.04,-0.27,0.061,-0.41,0.09c-0.26,0.051,-0.52,0.101,-0.779,0.141c-0.05,0.01,-0.101,0.02,-0.15,0.02c-0.04,0.021,-0.08,0.03,-0.12,0.03c-0.22,0.04,-0.43,0.08,-0.649,0.11c-0.46,0.069,-0.91,0.14,-1.37,0.199v-12.39c0,-3.24,-2.63,-5.88,-5.88,-5.88s-5.88,2.64,-5.88,5.88v12.36c0.01,0,0.01,0,0.02,0.01c0,0,-0.01,0,-0.02,0c-0.3,-0.03,-0.6,-0.07,-0.89,-0.12c-0.3,-0.05,-0.59,-0.09,-0.89,-0.14c-0.6,-0.101,-1.2,-0.21,-1.8,-0.33c-0.08,-0.011,-0.16,-0.03,-0.25,-0.061c-0.5,-0.1,-1,-0.21,-1.5,-0.34c-0.61,-0.14,-1.23,-0.3,-1.84,-0.479c-0.25,-0.07,-0.49,-0.141,-0.74,-0.221c-0.17,-0.04,-0.33,-0.1,-0.5,-0.16c-1.73,-0.539,-3.43,-1.189,-5.1,-1.949c-0.43,-0.19,-0.86,-0.391,-1.28,-0.601c-2.84,-1.37,-5.57,-3.04,-8.13,-5.029c-0.03,-0.021,-0.05,-0.04,-0.08,-0.061c-0.01,-0.01,-0.02,-0.02,-0.03,-0.02c-0.03,-0.03,-0.06,-0.051,-0.1,-0.07l0.03,-0.03l8.74,-8.729c2.29,-2.29,2.3,-6.021,0,-8.32c-2.3,-2.3,-6.02,-2.29,-8.31,0l-8.73,8.73l-0.04,0.04c-0.07,-0.091,-0.14,-0.181,-0.21,-0.271c-0.19,-0.229,-0.37,-0.47,-0.53,-0.71c-0.06,-0.08,-0.12,-0.16,-0.18,-0.25c-0.01,-0.02,-0.03,-0.04,-0.05,-0.07c-0.07,-0.1,-0.14,-0.199,-0.21,-0.3c-0.16,-0.22,-0.32,-0.45,-0.48,-0.67c-0.48,-0.69,-0.93,-1.38,-1.36,-2.09c-0.12,-0.19,-0.23,-0.38,-0.34,-0.58c-0.01,-0.01,-0.02,-0.01,-0.02,-0.021c-0.1,-0.159,-0.19,-0.329,-0.29,-0.5c-0.05,-0.079,-0.1,-0.17,-0.15,-0.26c-0.08,-0.13,-0.16,-0.27,-0.22,-0.41c-0.04,-0.06,-0.07,-0.13,-0.11,-0.189c-0.07,-0.12,-0.13,-0.24,-0.2,-0.36c-0.12,-0.229,-0.24,-0.46,-0.36,-0.68c-0.14,-0.28,-0.28,-0.55,-0.41,-0.83l-0.12,-0.24c-0.29,-0.59,-0.56,-1.189,-0.82,-1.79c-0.52,-1.189,-0.98,-2.41,-1.4,-3.63c0,-0.02,-0.01,-0.04,-0.02,-0.05c-0.2,-0.6,-0.39,-1.2,-0.56,-1.8c-0.11,-0.391,-0.22,-0.78,-0.32,-1.17c-0.52,-1.95,-0.91,-3.92,-1.17,-5.91c-0.01,-0.11,-0.03,-0.21,-0.04,-0.32h12.28c3.24,0,5.88,-2.63,5.88,-5.88s-2.64,-5.88,-5.88,-5.88h-12.4c0.3,-2.41,0.78,-4.76,1.44,-7.04c0.09,-0.33,0.19,-0.66,0.29,-0.99c0.11,-0.37,0.23,-0.75,0.36,-1.12c0.18,-0.53,0.36,-1.06,0.56,-1.59c0.09,-0.25,0.19,-0.5,0.29,-0.75c0.21,-0.53,0.43,-1.06,0.66,-1.59c0.19,-0.45,0.4,-0.9,0.61,-1.34c0.46,-0.96,0.95,-1.91,1.48,-2.84c0.29,-0.54,0.6,-1.07,0.93,-1.59c0.08,-0.14,0.17,-0.28,0.26,-0.42c0.26,-0.42,0.53,-0.84,0.82,-1.25c0.1,-0.17,0.22,-0.34,0.35,-0.51c0.33,-0.5,0.69,-1,1.07,-1.48c0.15,-0.22,0.31,-0.44,0.48,-0.65l0.01,0.01l0.02,0.02l0.02,0.02l0.01,0.01l8.71,8.7c2.29,2.29,6.02,2.3,8.31,0c2.3,-2.29,2.29,-6.02,0,-8.31l-8.71,-8.72l-0.05,-0.05c0.27,-0.21,0.55,-0.42,0.83,-0.61c0.68,-0.51,1.36,-0.99,2.06,-1.45c5.48,-3.66,11.56,-6.04,17.82,-7.13c0.31,-0.05,0.63,-0.11,0.94,-0.16c0.5,-0.09,1.01,-0.16,1.51,-0.21v12.4c0,3.24,2.629,5.88,5.879,5.88s5.881,-2.64,5.881,-5.88v-12.36c-0.011,0,-0.011,0,-0.021,-0.01c0,0,0.01,0,0.021,0c0.3,0.03,0.6,0.07,0.89,0.12c0.3,0.05,0.59,0.09,0.89,0.14c0.601,0.1,1.2,0.21,1.8,0.33c0.08,0.01,0.16,0.03,0.25,0.06c0.5,0.1,1,0.21,1.5,0.34c0.61,0.14,1.23,0.3,1.841,0.48c0.25,0.07,0.489,0.14,0.739,0.22c0.17,0.04,0.33,0.1,0.5,0.16c1.73,0.54,3.431,1.19,5.101,1.95c0.43,0.19,0.859,0.39,1.28,0.6c2.84,1.37,5.569,3.04,8.13,5.03c0.029,0.02,0.05,0.04,0.08,0.06c0.01,0.01,0.02,0.02,0.029,0.02c0.03,0.03,0.061,0.05,0.101,0.07l-0.03,0.03l-8.74,8.73c-2.29,2.29,-2.3,6.02,0,8.32s6.021,2.29,8.311,0l8.729,-8.73l0.04,-0.04c0.07,0.09,0.14,0.18,0.21,0.27c0.19,0.23,0.37,0.47,0.53,0.71c0.06,0.08,0.12,0.16,0.18,0.25c0.01,0.02,0.03,0.04,0.05,0.07c0.07,0.1,0.141,0.2,0.21,0.3c0.16,0.22,0.32,0.45,0.48,0.67c0.479,0.69,0.93,1.38,1.36,2.09c0.119,0.19,0.229,0.38,0.34,0.58c0.01,0.01,0.02,0.01,0.02,0.02c0.101,0.16,0.19,0.33,0.29,0.5c0.05,0.08,0.101,0.17,0.15,0.26c0.08,0.13,0.16,0.27,0.22,0.41c0.04,0.06,0.07,0.13,0.11,0.19c0.069,0.12,0.13,0.24,0.2,0.36c0.119,0.23,0.239,0.46,0.359,0.68c0.141,0.28,0.28,0.55,0.41,0.83l0.12,0.24c0.29,0.59,0.56,1.19,0.82,1.79c0.52,1.19,0.979,2.41,1.399,3.63c0,0.02,0.01,0.04,0.021,0.05c0.199,0.6,0.39,1.2,0.56,1.8c0.11,0.39,0.22,0.78,0.32,1.17c0.52,1.95,0.91,3.92,1.17,5.91c0.01,0.109,0.03,0.21,0.04,0.319h-12.28c-3.24,0,-5.88,2.631,-5.88,5.881s2.64,5.88,5.88,5.88h12.29C121.921,121.157,121.871,121.477,121.821,121.787ZM74.991,91.227c-13.12,0,-23.76,10.64,-23.76,23.76s10.64,23.76,23.76,23.76s23.76,-10.64,23.76,-23.76S88.111,91.227,74.991,91.227ZM74.991,131.997c-9.39,0,-17.01,-7.62,-17.01,-17.01c0,-9.39,7.62,-17.01,17.01,-17.01c9.39,0,17.01,7.62,17.01,17.01C92.001,124.377,84.381,131.997,74.991,131.997ZM78.461,150.007v15.83c7.721,-0.52,15.351,-2.79,22.25,-6.8c0.53,-0.31,1.05,-0.63,1.57,-0.96c0.68,-0.43,1.35,-0.88,2.01,-1.34c0.021,-0.02,0.05,-0.04,0.08,-0.06c0.32,-0.23,0.64,-0.46,0.96,-0.7c0.46,-0.34,0.91,-0.69,1.36,-1.05c0.34,-0.261,0.68,-0.54,1.01,-0.811c0.07,-0.07,0.14,-0.12,0.21,-0.189c0.25,-0.21,0.5,-0.421,0.75,-0.65l-11.13,-11.13c-1.32,-1.32,-1.32,-3.44,0,-4.75c1.31,-1.32,3.43,-1.32,4.75,0l11.13,11.13c0.12,-0.13,0.23,-0.26,0.34,-0.39c0.28,-0.33,0.561,-0.66,0.83,-0.99c0.271,-0.34,0.54,-0.67,0.8,-1.01c0.271,-0.341,0.521,-0.681,0.78,-1.03c0.25,-0.34,0.5,-0.69,0.74,-1.04c0.17,-0.24,0.34,-0.48,0.5,-0.73c0.189,-0.279,0.38,-0.569,0.56,-0.859c0.15,-0.23,0.3,-0.46,0.44,-0.69c0.14,-0.22,0.27,-0.439,0.41,-0.67c0.149,-0.24,0.29,-0.49,0.43,-0.74c0.21,-0.359,0.41,-0.71,0.6,-1.08c0.24,-0.43,0.471,-0.859,0.681,-1.3c0.149,-0.29,0.3,-0.59,0.45,-0.89c0,-0.01,0.01,-0.01,0.01,-0.021c0.17,-0.359,0.35,-0.739,0.51,-1.109c0.17,-0.38,0.34,-0.75,0.5,-1.141c0.32,-0.76,0.63,-1.529,0.91,-2.31c0.149,-0.39,0.29,-0.79,0.42,-1.18c0.15,-0.44,0.3,-0.88,0.43,-1.32c0.23,-0.76,0.45,-1.521,0.641,-2.29c0.25,-0.98,0.47,-1.96,0.659,-2.94c0.04,-0.189,0.07,-0.38,0.101,-0.569c0.08,-0.42,0.149,-0.83,0.22,-1.25c0.061,-0.42,0.12,-0.84,0.18,-1.26c0.021,-0.181,0.051,-0.351,0.07,-0.53c0.11,-0.931,0.2,-1.87,0.26,-2.8c0,-0.021,0.011,-0.04,0.011,-0.061h-15.71c-1.86,0,-3.36,-1.5,-3.36,-3.359c0,-1.86,1.5,-3.36,3.36,-3.36h15.71c-0.021,-0.47,-0.061,-0.93,-0.11,-1.39c-0.04,-0.391,-0.08,-0.78,-0.12,-1.171c-0.04,-0.39,-0.09,-0.779,-0.15,-1.17c-0.05,-0.38,-0.109,-0.77,-0.18,-1.149c-0.1,-0.601,-0.21,-1.2,-0.32,-1.79c-1.779,-8.9,-5.869,-16.96,-11.619,-23.53l-2.561,2.56l-0.06,0.06l-0.011,0.01l-0.029,0.03l-8.54,8.54c-1.32,1.31,-3.44,1.31,-4.75,0c-1.32,-1.32,-1.32,-3.44,0,-4.75l8.55,-8.55l0.03,-0.03l2.62,-2.62c-2.41,-2.12,-5.021,-4.01,-7.801,-5.65c-0.399,-0.23,-0.8,-0.46,-1.199,-0.68c-0.181,-0.1,-0.36,-0.2,-0.551,-0.3c-0.38,-0.2,-0.76,-0.4,-1.14,-0.59c-0.229,-0.12,-0.46,-0.23,-0.7,-0.35c-0.479,-0.24,-0.96,-0.46,-1.45,-0.68c-0.279,-0.14,-0.569,-0.26,-0.859,-0.38c-0.17,-0.08,-0.33,-0.15,-0.5,-0.21c-0.521,-0.22,-1.05,-0.42,-1.58,-0.62c-0.03,-0.01,-0.061,-0.02,-0.09,-0.04c-0.41,-0.15,-0.83,-0.3,-1.24,-0.44c-0.42,-0.15,-0.85,-0.29,-1.28,-0.42c-0.069,-0.02,-0.14,-0.04,-0.2,-0.06c-0.369,-0.11,-0.729,-0.22,-1.1,-0.32c-0.4,-0.12,-0.81,-0.23,-1.21,-0.33c-1.43,-0.37,-2.87,-0.67,-4.32,-0.91c-0.109,-0.02,-0.22,-0.03,-0.33,-0.05c-0.239,-0.04,-0.47,-0.08,-0.71,-0.11c-0.51,-0.07,-1.02,-0.14,-1.54,-0.2c-0.01,0,-0.01,0,-0.02,0h-0.01c-0.521,-0.06,-1.04,-0.11,-1.57,-0.16c-0.28,-0.02,-0.55,-0.04,-0.83,-0.06v15.85c0,1.86,-1.5,3.36,-3.36,3.36c-1.859,0,-3.359,-1.5,-3.359,-3.36v-15.85c-7.9,0.52,-15.7,2.86,-22.72,7.05c-0.19,0.11,-0.38,0.22,-0.57,0.34c-0.48,0.29,-0.95,0.59,-1.42,0.9c-0.48,0.32,-0.96,0.65,-1.44,0.98c-0.06,0.04,-0.11,0.08,-0.17,0.12c-0.3,0.22,-0.6,0.44,-0.89,0.65c-0.52,0.4,-1.04,0.81,-1.55,1.21c-0.5,0.43,-1,0.85,-1.49,1.28l11.18,11.18c1.32,1.32,1.32,3.44,0,4.75c-1.31,1.32,-3.43,1.32,-4.75,0l-11.18,-11.18c-0.37,0.42,-0.73,0.84,-1.09,1.26c-0.35,0.44,-0.7,0.87,-1.04,1.31c-0.22,0.29,-0.44,0.59,-0.66,0.89c-0.5,0.69,-0.99,1.39,-1.46,2.09c-0.47,0.71,-0.91,1.42,-1.34,2.15c-0.26,0.45,-0.52,0.9,-0.77,1.35c-0.75,1.36,-1.43,2.75,-2.05,4.16c-0.17,0.41,-0.34,0.81,-0.51,1.22c-0.15,0.38,-0.3,0.77,-0.45,1.15c-1.02,2.71,-1.8,5.49,-2.35,8.3c-0.07,0.4,-0.15,0.8,-0.22,1.21c-0.13,0.8,-0.25,1.609,-0.35,2.42c-0.04,0.35,-0.07,0.699,-0.11,1.04c-0.06,0.569,-0.1,1.13,-0.14,1.699h15.82c1.86,0,3.36,1.5,3.36,3.36s-1.5,3.36,-3.36,3.36h-15.71c0.02,0.47,0.06,0.93,0.11,1.39c0.04,0.39,0.08,0.78,0.12,1.17s0.09,0.78,0.15,1.17c0.05,0.38,0.11,0.771,0.18,1.15c0.1,0.6,0.21,1.2,0.32,1.79c1.78,8.899,5.87,16.96,11.62,23.529l2.56,-2.56l0.06,-0.06l0.01,-0.011l0.03,-0.029l8.54,-8.54c1.32,-1.311,3.44,-1.311,4.75,0c1.32,1.319,1.32,3.439,0,4.75l-8.55,8.55l-0.03,0.03l-0.04,0.04l-2.58,2.579c2.41,2.12,5.02,4.011,7.8,5.65c0.4,0.23,0.8,0.46,1.2,0.68c0.18,0.101,0.36,0.2,0.55,0.301c0.38,0.199,0.76,0.399,1.14,0.59c0.23,0.12,0.46,0.229,0.7,0.35c0.48,0.24,0.96,0.46,1.45,0.68c0.28,0.141,0.57,0.261,0.86,0.381c0.17,0.079,0.33,0.149,0.5,0.21c0.52,0.22,1.05,0.42,1.58,0.619c0.03,0.011,0.06,0.021,0.09,0.04c0.41,0.15,0.83,0.301,1.24,0.44c0.42,0.15,0.85,0.29,1.28,0.42c0.07,0.021,0.14,0.04,0.2,0.061c0.37,0.109,0.73,0.22,1.1,0.319c0.4,0.12,0.81,0.23,1.21,0.33c1.43,0.37,2.87,0.67,4.32,0.91c0.34,0.06,0.69,0.11,1.04,0.16c0.51,0.069,1.02,0.14,1.54,0.2h0.03c0.11,0.02,0.209,0.029,0.31,0.04c0.42,0.05,0.84,0.09,1.26,0.119c0.271,0.021,0.55,0.04,0.83,0.061v-15.851c0,-1.859,1.5,-3.359,3.36,-3.359C76.961,146.647,78.461,148.147,78.461,150.007ZM69.221,149.487v12.36c0.01,0,0.01,0,0.02,0.01c0,0,-0.01,0,-0.02,0c-0.3,-0.03,-0.6,-0.07,-0.89,-0.12c-0.3,-0.05,-0.59,-0.09,-0.89,-0.14c-0.6,-0.101,-1.2,-0.21,-1.8,-0.33c-0.08,-0.011,-0.16,-0.03,-0.25,-0.061c-0.5,-0.1,-1,-0.21,-1.5,-0.34c-0.61,-0.14,-1.23,-0.3,-1.84,-0.479c-0.25,-0.07,-0.49,-0.141,-0.74,-0.221c-0.17,-0.04,-0.33,-0.1,-0.5,-0.16c-1.73,-0.539,-3.43,-1.189,-5.1,-1.949c-0.43,-0.19,-0.86,-0.391,-1.28,-0.601c-2.84,-1.37,-5.57,-3.04,-8.13,-5.029c-0.03,-0.021,-0.05,-0.04,-0.08,-0.061c-0.01,-0.01,-0.02,-0.02,-0.03,-0.02c-0.03,-0.03,-0.06,-0.051,-0.1,-0.07l0.03,-0.03l8.74,-8.729c2.29,-2.29,2.3,-6.021,0,-8.32c-2.3,-2.3,-6.02,-2.29,-8.31,0l-8.73,8.73l-0.04,0.04c-0.07,-0.091,-0.14,-0.181,-0.21,-0.271c-0.19,-0.229,-0.37,-0.47,-0.53,-0.71c-0.06,-0.08,-0.12,-0.16,-0.18,-0.25c-0.01,-0.02,-0.03,-0.04,-0.05,-0.07c-0.07,-0.1,-0.14,-0.199,-0.21,-0.3c-0.16,-0.22,-0.32,-0.45,-0.48,-0.67c-0.48,-0.69,-0.93,-1.38,-1.36,-2.09c-0.12,-0.19,-0.23,-0.38,-0.34,-0.58c-0.01,-0.01,-0.02,-0.01,-0.02,-0.021c-0.1,-0.159,-0.19,-0.329,-0.29,-0.5c-0.05,-0.079,-0.1,-0.17,-0.15,-0.26c-0.08,-0.13,-0.16,-0.27,-0.22,-0.41c-0.04,-0.06,-0.07,-0.13,-0.11,-0.189c-0.07,-0.12,-0.13,-0.24,-0.2,-0.36c-0.12,-0.229,-0.24,-0.46,-0.36,-0.68c-0.14,-0.28,-0.28,-0.55,-0.41,-0.83l-0.12,-0.24c-0.29,-0.59,-0.56,-1.189,-0.82,-1.79c-0.52,-1.189,-0.98,-2.41,-1.4,-3.63c0,-0.02,-0.01,-0.04,-0.02,-0.05c-0.2,-0.6,-0.39,-1.2,-0.56,-1.8c-0.11,-0.391,-0.22,-0.78,-0.32,-1.17c-0.52,-1.95,-0.91,-3.92,-1.17,-5.91c-0.01,-0.11,-0.03,-0.21,-0.04,-0.32h12.28c3.24,0,5.88,-2.63,5.88,-5.88s-2.64,-5.88,-5.88,-5.88h-12.4c0.3,-2.41,0.78,-4.76,1.44,-7.04c0.09,-0.33,0.19,-0.66,0.29,-0.99c0.11,-0.37,0.23,-0.75,0.36,-1.12c0.18,-0.53,0.36,-1.06,0.56,-1.59c0.09,-0.25,0.19,-0.5,0.29,-0.75c0.21,-0.53,0.43,-1.06,0.66,-1.59c0.19,-0.45,0.4,-0.9,0.61,-1.34c0.46,-0.96,0.95,-1.91,1.48,-2.84c0.29,-0.54,0.6,-1.07,0.93,-1.59c0.08,-0.14,0.17,-0.28,0.26,-0.42c0.26,-0.42,0.53,-0.84,0.82,-1.25c0.1,-0.17,0.22,-0.34,0.35,-0.51c0.33,-0.5,0.69,-1,1.07,-1.48c0.15,-0.22,0.31,-0.44,0.48,-0.65l0.01,0.01l0.02,0.02l0.02,0.02l0.01,0.01l8.71,8.7c2.29,2.29,6.02,2.3,8.31,0c2.3,-2.29,2.29,-6.02,0,-8.31l-8.71,-8.72l-0.05,-0.05c0.27,-0.21,0.55,-0.42,0.83,-0.61c0.68,-0.51,1.36,-0.99,2.06,-1.45c5.48,-3.66,11.56,-6.04,17.82,-7.13c0.31,-0.05,0.63,-0.11,0.94,-0.16c0.5,-0.09,1.01,-0.16,1.51,-0.21v12.4c0,3.24,2.629,5.88,5.879,5.88s5.881,-2.64,5.881,-5.88v-12.36c-0.011,0,-0.011,0,-0.021,-0.01c0,0,0.01,0,0.021,0c0.3,0.03,0.6,0.07,0.89,0.12c0.3,0.05,0.59,0.09,0.89,0.14c0.601,0.1,1.2,0.21,1.8,0.33c0.08,0.01,0.16,0.03,0.25,0.06c0.5,0.1,1,0.21,1.5,0.34c0.61,0.14,1.23,0.3,1.841,0.48c0.25,0.07,0.489,0.14,0.739,0.22c0.17,0.04,0.33,0.1,0.5,0.16c1.73,0.54,3.431,1.19,5.101,1.95c0.43,0.19,0.859,0.39,1.28,0.6c2.84,1.37,5.569,3.04,8.13,5.03c0.029,0.02,0.05,0.04,0.08,0.06c0.01,0.01,0.02,0.02,0.029,0.02c0.03,0.03,0.061,0.05,0.101,0.07l-0.03,0.03l-8.74,8.73c-2.29,2.29,-2.3,6.02,0,8.32s6.021,2.29,8.311,0l8.729,-8.73l0.04,-0.04c0.07,0.09,0.14,0.18,0.21,0.27c0.19,0.23,0.37,0.47,0.53,0.71c0.06,0.08,0.12,0.16,0.18,0.25c0.01,0.02,0.03,0.04,0.05,0.07c0.07,0.1,0.141,0.2,0.21,0.3c0.16,0.22,0.32,0.45,0.48,0.67c0.479,0.69,0.93,1.38,1.36,2.09c0.119,0.19,0.229,0.38,0.34,0.58c0.01,0.01,0.02,0.01,0.02,0.02c0.101,0.16,0.19,0.33,0.29,0.5c0.05,0.08,0.101,0.17,0.15,0.26c0.08,0.13,0.16,0.27,0.22,0.41c0.04,0.06,0.07,0.13,0.11,0.19c0.069,0.12,0.13,0.24,0.2,0.36c0.119,0.23,0.239,0.46,0.359,0.68c0.141,0.28,0.28,0.55,0.41,0.83l0.12,0.24c0.29,0.59,0.56,1.19,0.82,1.79c0.52,1.19,0.979,2.41,1.399,3.63c0,0.02,0.01,0.04,0.021,0.05c0.199,0.6,0.39,1.2,0.56,1.8c0.11,0.39,0.22,0.78,0.32,1.17c0.52,1.95,0.91,3.92,1.17,5.91c0.01,0.109,0.03,0.21,0.04,0.319h-12.28c-3.24,0,-5.88,2.631,-5.88,5.881s2.64,5.88,5.88,5.88h12.29c-0.03,0.31,-0.08,0.63,-0.13,0.939c-0.03,0.26,-0.07,0.521,-0.12,0.78c-0.04,0.26,-0.08,0.51,-0.13,0.77c-0.07,0.381,-0.14,0.771,-0.22,1.15c-0.07,0.39,-0.16,0.77,-0.25,1.15c-0.17,0.76,-0.36,1.52,-0.58,2.27c-0.101,0.37,-0.21,0.74,-0.33,1.11c-0.11,0.37,-0.23,0.739,-0.36,1.109c-0.26,0.78,-0.54,1.551,-0.85,2.32c-0.29,0.74,-0.601,1.47,-0.94,2.19c-0.01,0.02,-0.02,0.029,-0.03,0.05c-0.109,0.24,-0.22,0.49,-0.34,0.729c-0.109,0.24,-0.229,0.48,-0.359,0.71c-0.19,0.4,-0.391,0.79,-0.61,1.181c-0.08,0.16,-0.16,0.31,-0.25,0.47c-0.09,0.17,-0.18,0.33,-0.28,0.49c-0.08,0.17,-0.18,0.33,-0.29,0.5c-0.08,0.16,-0.189,0.33,-0.29,0.5c-0.02,0.04,-0.04,0.09,-0.069,0.13c-0.03,0.06,-0.07,0.12,-0.11,0.18c-0.1,0.17,-0.2,0.33,-0.3,0.49c-0.03,0.05,-0.061,0.1,-0.09,0.14c-0.3,0.49,-0.61,0.971,-0.94,1.44c-0.2,0.3,-0.41,0.6,-0.63,0.899c-0.33,0.471,-0.68,0.94,-1.05,1.4l-8.71,-8.7c-2.29,-2.29,-6.021,-2.3,-8.311,0c-2.3,2.29,-2.29,6.021,0,8.311l8.71,8.72c-0.02,0.01,-0.029,0.03,-0.05,0.04c-0.51,0.4,-1.03,0.79,-1.55,1.16s-1.04,0.729,-1.58,1.069c0,0.011,-0.01,0.011,-0.02,0.011c-0.53,0.359,-1.07,0.689,-1.62,1.01c-0.28,0.16,-0.55,0.33,-0.83,0.479c-0.181,0.11,-0.36,0.21,-0.55,0.301c-0.091,0.06,-0.19,0.109,-0.28,0.159c-0.01,0,-0.021,0.011,-0.04,0.021c-0.01,0,-0.021,0.01,-0.03,0.01c-0.53,0.3,-1.069,0.58,-1.609,0.83l-0.011,0.01c-0.01,0.011,-0.029,0.021,-0.04,0.021c-0.229,0.12,-0.46,0.229,-0.689,0.33c-0.25,0.12,-0.49,0.229,-0.74,0.34l-0.01,0.01c-0.07,0.04,-0.141,0.07,-0.21,0.09c-0.471,0.21,-0.94,0.42,-1.42,0.601c-0.25,0.109,-0.511,0.21,-0.761,0.3c-0.25,0.11,-0.51,0.21,-0.77,0.3c-0.37,0.14,-0.73,0.271,-1.1,0.39c-0.351,0.12,-0.71,0.24,-1.061,0.341c-0.24,0.08,-0.47,0.149,-0.71,0.21c-0.05,0.02,-0.09,0.029,-0.14,0.04c-0.42,0.14,-0.851,0.25,-1.271,0.35c-0.109,0.04,-0.22,0.06,-0.33,0.09c-0.239,0.07,-0.479,0.13,-0.72,0.181c-0.3,0.069,-0.6,0.14,-0.9,0.199c-0.199,0.051,-0.39,0.09,-0.59,0.12c-0.14,0.04,-0.27,0.061,-0.41,0.09c-0.26,0.051,-0.52,0.101,-0.779,0.141c-0.05,0.01,-0.101,0.02,-0.15,0.02c-0.04,0.021,-0.08,0.03,-0.12,0.03c-0.22,0.04,-0.43,0.08,-0.649,0.11c-0.46,0.069,-0.91,0.14,-1.37,0.199v-12.39c0,-3.24,-2.63,-5.88,-5.88,-5.88S69.221,146.247,69.221,149.487ZM96.251,173.077h-0.05c23.53,-8.8,40.29,-31.49,40.29,-58.09c0,-34.24,-27.76,-62,-62,-62c-12.03,0,-23.25,3.43,-32.76,9.36v-34.86h10.98V4.367H1.501v23.12h10.99v87.5c0,26.64,16.8,49.35,40.38,58.12c-0.01,7.45,-5.54,13.61,-12.71,14.63h-8v22.1h85.66v-22.1h-8.771C101.821,186.767,96.251,180.567,96.251,173.077ZM6.991,9.857h40.23v5.51H6.991V9.857ZM6.991,21.987v-5.5h40.23v5.5h-10.98v44.2c-7.81,6.14,-14.12,14.11,-18.26,23.27v-67.47H6.991ZM17.981,114.987c0,-31.21,25.3,-56.51,56.51,-56.51s56.51,25.3,56.51,56.51s-25.3,56.51,-56.51,56.51S17.981,146.197,17.981,114.987ZM111.801,203.817h-73.62v-8.33h73.62V203.817ZM38.181,193.757c5.65,-0.029,10.75,-2.31,14.47,-6.02c3.35,-3.33,5.56,-7.81,6,-12.79c5.06,1.33,10.37,2.04,15.84,2.04c5.53,0,10.88,-0.72,15.98,-2.08c0.43,5,2.64,9.49,6,12.83c3.739,3.73,8.89,6.02,14.579,6.02H38.181ZM98.751,114.987c0,-13.12,-10.64,-23.76,-23.76,-23.76s-23.76,10.64,-23.76,23.76s10.64,23.76,23.76,23.76S98.751,128.107,98.751,114.987ZM74.991,131.997c-9.39,0,-17.01,-7.62,-17.01,-17.01c0,-9.39,7.62,-17.01,17.01,-17.01c9.39,0,17.01,7.62,17.01,17.01C92.001,124.377,84.381,131.997,74.991,131.997ZM74.991,91.227c-13.12,0,-23.76,10.64,-23.76,23.76s10.64,23.76,23.76,23.76s23.76,-10.64,23.76,-23.76S88.111,91.227,74.991,91.227ZM74.991,131.997c-9.39,0,-17.01,-7.62,-17.01,-17.01c0,-9.39,7.62,-17.01,17.01,-17.01c9.39,0,17.01,7.62,17.01,17.01C92.001,124.377,84.381,131.997,74.991,131.997ZM106.821,114.968c0,-1.86,1.5,-3.36,3.36,-3.36h15.71c-0.021,-0.47,-0.061,-0.93,-0.11,-1.39c-0.04,-0.391,-0.08,-0.78,-0.12,-1.171c-0.04,-0.39,-0.09,-0.779,-0.15,-1.17c-0.05,-0.38,-0.109,-0.77,-0.18,-1.149c-0.1,-0.601,-0.21,-1.2,-0.32,-1.79c-1.779,-8.9,-5.869,-16.96,-11.619,-23.53l-2.561,2.56l-0.06,0.06l-0.011,0.01l-0.029,0.03l-8.54,8.54c-1.32,1.31,-3.44,1.31,-4.75,0c-1.32,-1.32,-1.32,-3.44,0,-4.75l8.55,-8.55l0.03,-0.03l2.62,-2.62c-2.41,-2.12,-5.021,-4.01,-7.801,-5.65c-0.399,-0.23,-0.8,-0.46,-1.199,-0.68c-0.181,-0.1,-0.36,-0.2,-0.551,-0.3c-0.38,-0.2,-0.76,-0.4,-1.14,-0.59c-0.229,-0.12,-0.46,-0.23,-0.7,-0.35c-0.479,-0.24,-0.96,-0.46,-1.45,-0.68c-0.279,-0.14,-0.569,-0.26,-0.859,-0.38c-0.17,-0.08,-0.33,-0.15,-0.5,-0.21c-0.521,-0.22,-1.05,-0.42,-1.58,-0.62c-0.03,-0.01,-0.061,-0.02,-0.09,-0.04c-0.41,-0.15,-0.83,-0.3,-1.24,-0.44c-0.42,-0.15,-0.85,-0.29,-1.28,-0.42c-0.069,-0.02,-0.14,-0.04,-0.2,-0.06c-0.369,-0.11,-0.729,-0.22,-1.1,-0.32c-0.4,-0.12,-0.81,-0.23,-1.21,-0.33c-1.43,-0.37,-2.87,-0.67,-4.32,-0.91c-0.109,-0.02,-0.22,-0.03,-0.33,-0.05c-0.239,-0.04,-0.47,-0.08,-0.71,-0.11c-0.51,-0.07,-1.02,-0.14,-1.54,-0.2c-0.01,0,-0.01,0,-0.02,0h-0.01c-0.521,-0.06,-1.04,-0.11,-1.57,-0.16c-0.28,-0.02,-0.55,-0.04,-0.83,-0.06v15.85c0,1.86,-1.5,3.36,-3.36,3.36c-1.859,0,-3.359,-1.5,-3.359,-3.36v-15.85c-7.9,0.52,-15.7,2.86,-22.72,7.05c-0.19,0.11,-0.38,0.22,-0.57,0.34c-0.48,0.29,-0.95,0.59,-1.42,0.9c-0.48,0.32,-0.96,0.65,-1.44,0.98c-0.06,0.04,-0.11,0.08,-0.17,0.12c-0.3,0.22,-0.6,0.44,-0.89,0.65c-0.52,0.4,-1.04,0.81,-1.55,1.21c-0.5,0.43,-1,0.85,-1.49,1.28l11.18,11.18c1.32,1.32,1.32,3.44,0,4.75c-1.31,1.32,-3.43,1.32,-4.75,0l-11.18,-11.18c-0.37,0.42,-0.73,0.84,-1.09,1.26c-0.35,0.44,-0.7,0.87,-1.04,1.31c-0.22,0.29,-0.44,0.59,-0.66,0.89c-0.5,0.69,-0.99,1.39,-1.46,2.09c-0.47,0.71,-0.91,1.42,-1.34,2.15c-0.26,0.45,-0.52,0.9,-0.77,1.35c-0.75,1.36,-1.43,2.75,-2.05,4.16c-0.17,0.41,-0.34,0.81,-0.51,1.22c-0.15,0.38,-0.3,0.77,-0.45,1.15c-1.02,2.71,-1.8,5.49,-2.35,8.3c-0.07,0.4,-0.15,0.8,-0.22,1.21c-0.13,0.8,-0.25,1.609,-0.35,2.42c-0.04,0.35,-0.07,0.699,-0.11,1.04c-0.06,0.569,-0.1,1.13,-0.14,1.699h15.82c1.86,0,3.36,1.5,3.36,3.36s-1.5,3.36,-3.36,3.36h-15.71c0.02,0.47,0.06,0.93,0.11,1.39c0.04,0.39,0.08,0.78,0.12,1.17s0.09,0.78,0.15,1.17c0.05,0.38,0.11,0.771,0.18,1.15c0.1,0.6,0.21,1.2,0.32,1.79c1.78,8.899,5.87,16.96,11.62,23.529l2.56,-2.56l0.06,-0.06l0.01,-0.011l0.03,-0.029l8.54,-8.54c1.32,-1.311,3.44,-1.311,4.75,0c1.32,1.319,1.32,3.439,0,4.75l-8.55,8.55l-0.03,0.03l-0.04,0.04l-2.58,2.579c2.41,2.12,5.02,4.011,7.8,5.65c0.4,0.23,0.8,0.46,1.2,0.68c0.18,0.101,0.36,0.2,0.55,0.301c0.38,0.199,0.76,0.399,1.14,0.59c0.23,0.12,0.46,0.229,0.7,0.35c0.48,0.24,0.96,0.46,1.45,0.68c0.28,0.141,0.57,0.261,0.86,0.381c0.17,0.079,0.33,0.149,0.5,0.21c0.52,0.22,1.05,0.42,1.58,0.619c0.03,0.011,0.06,0.021,0.09,0.04c0.41,0.15,0.83,0.301,1.24,0.44c0.42,0.15,0.85,0.29,1.28,0.42c0.07,0.021,0.14,0.04,0.2,0.061c0.37,0.109,0.73,0.22,1.1,0.319c0.4,0.12,0.81,0.23,1.21,0.33c1.43,0.37,2.87,0.67,4.32,0.91c0.34,0.06,0.69,0.11,1.04,0.16c0.51,0.069,1.02,0.14,1.54,0.2h0.03c0.11,0.02,0.209,0.029,0.31,0.04c0.42,0.05,0.84,0.09,1.26,0.119c0.271,0.021,0.55,0.04,0.83,0.061v-15.851c0,-1.859,1.5,-3.359,3.36,-3.359c1.859,0,3.359,1.5,3.359,3.359v15.83c7.721,-0.52,15.351,-2.79,22.25,-6.8c0.53,-0.31,1.05,-0.63,1.57,-0.96c0.68,-0.43,1.35,-0.88,2.01,-1.34c0.021,-0.02,0.05,-0.04,0.08,-0.06c0.32,-0.23,0.64,-0.46,0.96,-0.7c0.46,-0.34,0.91,-0.69,1.36,-1.05c0.34,-0.261,0.68,-0.54,1.01,-0.811c0.07,-0.07,0.14,-0.12,0.21,-0.189c0.25,-0.21,0.5,-0.421,0.75,-0.65l-11.13,-11.13c-1.32,-1.32,-1.32,-3.44,0,-4.75c1.31,-1.32,3.43,-1.32,4.75,0l11.13,11.13c0.12,-0.13,0.23,-0.26,0.34,-0.39c0.28,-0.33,0.561,-0.66,0.83,-0.99c0.271,-0.34,0.54,-0.67,0.8,-1.01c0.271,-0.341,0.521,-0.681,0.78,-1.03c0.25,-0.34,0.5,-0.69,0.74,-1.04c0.17,-0.24,0.34,-0.48,0.5,-0.73c0.189,-0.279,0.38,-0.569,0.56,-0.859c0.15,-0.23,0.3,-0.46,0.44,-0.69c0.14,-0.22,0.27,-0.439,0.41,-0.67c0.149,-0.24,0.29,-0.49,0.43,-0.74c0.21,-0.359,0.41,-0.71,0.6,-1.08c0.24,-0.43,0.471,-0.859,0.681,-1.3c0.149,-0.29,0.3,-0.59,0.45,-0.89c0,-0.01,0.01,-0.01,0.01,-0.021c0.17,-0.359,0.35,-0.739,0.51,-1.109c0.17,-0.38,0.34,-0.75,0.5,-1.141c0.32,-0.76,0.63,-1.529,0.91,-2.31c0.149,-0.39,0.29,-0.79,0.42,-1.18c0.15,-0.44,0.3,-0.88,0.43,-1.32c0.23,-0.76,0.45,-1.521,0.641,-2.29c0.25,-0.98,0.47,-1.96,0.659,-2.94c0.04,-0.189,0.07,-0.38,0.101,-0.569c0.08,-0.42,0.149,-0.83,0.22,-1.25c0.061,-0.42,0.12,-0.84,0.18,-1.26c0.021,-0.181,0.051,-0.351,0.07,-0.53c0.11,-0.931,0.2,-1.87,0.26,-2.8c0,-0.021,0.011,-0.04,0.011,-0.061h-15.71C108.321,118.327,106.821,116.827,106.821,114.968ZM121.821,121.787c-0.03,0.26,-0.07,0.521,-0.12,0.78c-0.04,0.26,-0.08,0.51,-0.13,0.77c-0.07,0.381,-0.14,0.771,-0.22,1.15c-0.07,0.39,-0.16,0.77,-0.25,1.15c-0.17,0.76,-0.36,1.52,-0.58,2.27c-0.101,0.37,-0.21,0.74,-0.33,1.11c-0.11,0.37,-0.23,0.739,-0.36,1.109c-0.26,0.78,-0.54,1.551,-0.85,2.32c-0.29,0.74,-0.601,1.47,-0.94,2.19c-0.01,0.02,-0.02,0.029,-0.03,0.05c-0.109,0.24,-0.22,0.49,-0.34,0.729c-0.109,0.24,-0.229,0.48,-0.359,0.71c-0.19,0.4,-0.391,0.79,-0.61,1.181c-0.08,0.16,-0.16,0.31,-0.25,0.47c-0.09,0.17,-0.18,0.33,-0.28,0.49c-0.08,0.17,-0.18,0.33,-0.29,0.5c-0.08,0.16,-0.189,0.33,-0.29,0.5c-0.02,0.04,-0.04,0.09,-0.069,0.13c-0.03,0.06,-0.07,0.12,-0.11,0.18c-0.1,0.17,-0.2,0.33,-0.3,0.49c-0.03,0.05,-0.061,0.1,-0.09,0.14c-0.3,0.49,-0.61,0.971,-0.94,1.44c-0.2,0.3,-0.41,0.6,-0.63,0.899c-0.33,0.471,-0.68,0.94,-1.05,1.4l-8.71,-8.7c-2.29,-2.29,-6.021,-2.3,-8.311,0c-2.3,2.29,-2.29,6.021,0,8.311l8.71,8.72c-0.02,0.01,-0.029,0.03,-0.05,0.04c-0.51,0.4,-1.03,0.79,-1.55,1.16s-1.04,0.729,-1.58,1.069c0,0.011,-0.01,0.011,-0.02,0.011c-0.53,0.359,-1.07,0.689,-1.62,1.01c-0.28,0.16,-0.55,0.33,-0.83,0.479c-0.181,0.11,-0.36,0.21,-0.55,0.301c-0.091,0.06,-0.19,0.109,-0.28,0.159c-0.01,0,-0.021,0.011,-0.04,0.021c-0.01,0,-0.021,0.01,-0.03,0.01c-0.53,0.3,-1.069,0.58,-1.609,0.83l-0.011,0.01c-0.01,0.011,-0.029,0.021,-0.04,0.021c-0.229,0.12,-0.46,0.229,-0.689,0.33c-0.25,0.12,-0.49,0.229,-0.74,0.34l-0.01,0.01c-0.07,0.04,-0.141,0.07,-0.21,0.09c-0.471,0.21,-0.94,0.42,-1.42,0.601c-0.25,0.109,-0.511,0.21,-0.761,0.3c-0.25,0.11,-0.51,0.21,-0.77,0.3c-0.37,0.14,-0.73,0.271,-1.1,0.39c-0.351,0.12,-0.71,0.24,-1.061,0.341c-0.24,0.08,-0.47,0.149,-0.71,0.21c-0.05,0.02,-0.09,0.029,-0.14,0.04c-0.42,0.14,-0.851,0.25,-1.271,0.35c-0.109,0.04,-0.22,0.06,-0.33,0.09c-0.239,0.07,-0.479,0.13,-0.72,0.181c-0.3,0.069,-0.6,0.14,-0.9,0.199c-0.199,0.051,-0.39,0.09,-0.59,0.12c-0.14,0.04,-0.27,0.061,-0.41,0.09c-0.26,0.051,-0.52,0.101,-0.779,0.141c-0.05,0.01,-0.101,0.02,-0.15,0.02c-0.04,0.021,-0.08,0.03,-0.12,0.03c-0.22,0.04,-0.43,0.08,-0.649,0.11c-0.46,0.069,-0.91,0.14,-1.37,0.199v-12.39c0,-3.24,-2.63,-5.88,-5.88,-5.88s-5.88,2.64,-5.88,5.88v12.36c0.01,0,0.01,0,0.02,0.01c0,0,-0.01,0,-0.02,0c-0.3,-0.03,-0.6,-0.07,-0.89,-0.12c-0.3,-0.05,-0.59,-0.09,-0.89,-0.14c-0.6,-0.101,-1.2,-0.21,-1.8,-0.33c-0.08,-0.011,-0.16,-0.03,-0.25,-0.061c-0.5,-0.1,-1,-0.21,-1.5,-0.34c-0.61,-0.14,-1.23,-0.3,-1.84,-0.479c-0.25,-0.07,-0.49,-0.141,-0.74,-0.221c-0.17,-0.04,-0.33,-0.1,-0.5,-0.16c-1.73,-0.539,-3.43,-1.189,-5.1,-1.949c-0.43,-0.19,-0.86,-0.391,-1.28,-0.601c-2.84,-1.37,-5.57,-3.04,-8.13,-5.029c-0.03,-0.021,-0.05,-0.04,-0.08,-0.061c-0.01,-0.01,-0.02,-0.02,-0.03,-0.02c-0.03,-0.03,-0.06,-0.051,-0.1,-0.07l0.03,-0.03l8.74,-8.729c2.29,-2.29,2.3,-6.021,0,-8.32c-2.3,-2.3,-6.02,-2.29,-8.31,0l-8.73,8.73l-0.04,0.04c-0.07,-0.091,-0.14,-0.181,-0.21,-0.271c-0.19,-0.229,-0.37,-0.47,-0.53,-0.71c-0.06,-0.08,-0.12,-0.16,-0.18,-0.25c-0.01,-0.02,-0.03,-0.04,-0.05,-0.07c-0.07,-0.1,-0.14,-0.199,-0.21,-0.3c-0.16,-0.22,-0.32,-0.45,-0.48,-0.67c-0.48,-0.69,-0.93,-1.38,-1.36,-2.09c-0.12,-0.19,-0.23,-0.38,-0.34,-0.58c-0.01,-0.01,-0.02,-0.01,-0.02,-0.021c-0.1,-0.159,-0.19,-0.329,-0.29,-0.5c-0.05,-0.079,-0.1,-0.17,-0.15,-0.26c-0.08,-0.13,-0.16,-0.27,-0.22,-0.41c-0.04,-0.06,-0.07,-0.13,-0.11,-0.189c-0.07,-0.12,-0.13,-0.24,-0.2,-0.36c-0.12,-0.229,-0.24,-0.46,-0.36,-0.68c-0.14,-0.28,-0.28,-0.55,-0.41,-0.83l-0.12,-0.24c-0.29,-0.59,-0.56,-1.189,-0.82,-1.79c-0.52,-1.189,-0.98,-2.41,-1.4,-3.63c0,-0.02,-0.01,-0.04,-0.02,-0.05c-0.2,-0.6,-0.39,-1.2,-0.56,-1.8c-0.11,-0.391,-0.22,-0.78,-0.32,-1.17c-0.52,-1.95,-0.91,-3.92,-1.17,-5.91c-0.01,-0.11,-0.03,-0.21,-0.04,-0.32h12.28c3.24,0,5.88,-2.63,5.88,-5.88s-2.64,-5.88,-5.88,-5.88h-12.4c0.3,-2.41,0.78,-4.76,1.44,-7.04c0.09,-0.33,0.19,-0.66,0.29,-0.99c0.11,-0.37,0.23,-0.75,0.36,-1.12c0.18,-0.53,0.36,-1.06,0.56,-1.59c0.09,-0.25,0.19,-0.5,0.29,-0.75c0.21,-0.53,0.43,-1.06,0.66,-1.59c0.19,-0.45,0.4,-0.9,0.61,-1.34c0.46,-0.96,0.95,-1.91,1.48,-2.84c0.29,-0.54,0.6,-1.07,0.93,-1.59c0.08,-0.14,0.17,-0.28,0.26,-0.42c0.26,-0.42,0.53,-0.84,0.82,-1.25c0.1,-0.17,0.22,-0.34,0.35,-0.51c0.33,-0.5,0.69,-1,1.07,-1.48c0.15,-0.22,0.31,-0.44,0.48,-0.65l0.01,0.01l0.02,0.02l0.02,0.02l0.01,0.01l8.71,8.7c2.29,2.29,6.02,2.3,8.31,0c2.3,-2.29,2.29,-6.02,0,-8.31l-8.71,-8.72l-0.05,-0.05c0.27,-0.21,0.55,-0.42,0.83,-0.61c0.68,-0.51,1.36,-0.99,2.06,-1.45c5.48,-3.66,11.56,-6.04,17.82,-7.13c0.31,-0.05,0.63,-0.11,0.94,-0.16c0.5,-0.09,1.01,-0.16,1.51,-0.21v12.4c0,3.24,2.629,5.88,5.879,5.88s5.881,-2.64,5.881,-5.88v-12.36c-0.011,0,-0.011,0,-0.021,-0.01c0,0,0.01,0,0.021,0c0.3,0.03,0.6,0.07,0.89,0.12c0.3,0.05,0.59,0.09,0.89,0.14c0.601,0.1,1.2,0.21,1.8,0.33c0.08,0.01,0.16,0.03,0.25,0.06c0.5,0.1,1,0.21,1.5,0.34c0.61,0.14,1.23,0.3,1.841,0.48c0.25,0.07,0.489,0.14,0.739,0.22c0.17,0.04,0.33,0.1,0.5,0.16c1.73,0.54,3.431,1.19,5.101,1.95c0.43,0.19,0.859,0.39,1.28,0.6c2.84,1.37,5.569,3.04,8.13,5.03c0.029,0.02,0.05,0.04,0.08,0.06c0.01,0.01,0.02,0.02,0.029,0.02c0.03,0.03,0.061,0.05,0.101,0.07l-0.03,0.03l-8.74,8.73c-2.29,2.29,-2.3,6.02,0,8.32s6.021,2.29,8.311,0l8.729,-8.73l0.04,-0.04c0.07,0.09,0.14,0.18,0.21,0.27c0.19,0.23,0.37,0.47,0.53,0.71c0.06,0.08,0.12,0.16,0.18,0.25c0.01,0.02,0.03,0.04,0.05,0.07c0.07,0.1,0.141,0.2,0.21,0.3c0.16,0.22,0.32,0.45,0.48,0.67c0.479,0.69,0.93,1.38,1.36,2.09c0.119,0.19,0.229,0.38,0.34,0.58c0.01,0.01,0.02,0.01,0.02,0.02c0.101,0.16,0.19,0.33,0.29,0.5c0.05,0.08,0.101,0.17,0.15,0.26c0.08,0.13,0.16,0.27,0.22,0.41c0.04,0.06,0.07,0.13,0.11,0.19c0.069,0.12,0.13,0.24,0.2,0.36c0.119,0.23,0.239,0.46,0.359,0.68c0.141,0.28,0.28,0.55,0.41,0.83l0.12,0.24c0.29,0.59,0.56,1.19,0.82,1.79c0.52,1.19,0.979,2.41,1.399,3.63c0,0.02,0.01,0.04,0.021,0.05c0.199,0.6,0.39,1.2,0.56,1.8c0.11,0.39,0.22,0.78,0.32,1.17c0.52,1.95,0.91,3.92,1.17,5.91c0.01,0.109,0.03,0.21,0.04,0.319h-12.28c-3.24,0,-5.88,2.631,-5.88,5.881s2.64,5.88,5.88,5.88h12.29C121.921,121.157,121.871,121.477,121.821,121.787ZM74.991,91.227c-13.12,0,-23.76,10.64,-23.76,23.76s10.64,23.76,23.76,23.76s23.76,-10.64,23.76,-23.76S88.111,91.227,74.991,91.227ZM74.991,131.997c-9.39,0,-17.01,-7.62,-17.01,-17.01c0,-9.39,7.62,-17.01,17.01,-17.01c9.39,0,17.01,7.62,17.01,17.01C92.001,124.377,84.381,131.997,74.991,131.997ZM74.991,91.227c-13.12,0,-23.76,10.64,-23.76,23.76s10.64,23.76,23.76,23.76s23.76,-10.64,23.76,-23.76S88.111,91.227,74.991,91.227ZM74.991,131.997c-9.39,0,-17.01,-7.62,-17.01,-17.01c0,-9.39,7.62,-17.01,17.01,-17.01c9.39,0,17.01,7.62,17.01,17.01C92.001,124.377,84.381,131.997,74.991,131.997ZM74.991,91.227c-13.12,0,-23.76,10.64,-23.76,23.76s10.64,23.76,23.76,23.76s23.76,-10.64,23.76,-23.76S88.111,91.227,74.991,91.227ZM74.991,131.997c-9.39,0,-17.01,-7.62,-17.01,-17.01c0,-9.39,7.62,-17.01,17.01,-17.01c9.39,0,17.01,7.62,17.01,17.01C92.001,124.377,84.381,131.997,74.991,131.997ZM106.821,114.968c0,-1.86,1.5,-3.36,3.36,-3.36h15.71c-0.021,-0.47,-0.061,-0.93,-0.11,-1.39c-0.04,-0.391,-0.08,-0.78,-0.12,-1.171c-0.04,-0.39,-0.09,-0.779,-0.15,-1.17c-0.05,-0.38,-0.109,-0.77,-0.18,-1.149c-0.1,-0.601,-0.21,-1.2,-0.32,-1.79c-1.779,-8.9,-5.869,-16.96,-11.619,-23.53l-2.561,2.56l-0.06,0.06l-0.011,0.01l-0.029,0.03l-8.54,8.54c-1.32,1.31,-3.44,1.31,-4.75,0c-1.32,-1.32,-1.32,-3.44,0,-4.75l8.55,-8.55l0.03,-0.03l2.62,-2.62c-2.41,-2.12,-5.021,-4.01,-7.801,-5.65c-0.399,-0.23,-0.8,-0.46,-1.199,-0.68c-0.181,-0.1,-0.36,-0.2,-0.551,-0.3c-0.38,-0.2,-0.76,-0.4,-1.14,-0.59c-0.229,-0.12,-0.46,-0.23,-0.7,-0.35c-0.479,-0.24,-0.96,-0.46,-1.45,-0.68c-0.279,-0.14,-0.569,-0.26,-0.859,-0.38c-0.17,-0.08,-0.33,-0.15,-0.5,-0.21c-0.521,-0.22,-1.05,-0.42,-1.58,-0.62c-0.03,-0.01,-0.061,-0.02,-0.09,-0.04c-0.41,-0.15,-0.83,-0.3,-1.24,-0.44c-0.42,-0.15,-0.85,-0.29,-1.28,-0.42c-0.069,-0.02,-0.14,-0.04,-0.2,-0.06c-0.369,-0.11,-0.729,-0.22,-1.1,-0.32c-0.4,-0.12,-0.81,-0.23,-1.21,-0.33c-1.43,-0.37,-2.87,-0.67,-4.32,-0.91c-0.109,-0.02,-0.22,-0.03,-0.33,-0.05c-0.239,-0.04,-0.47,-0.08,-0.71,-0.11c-0.51,-0.07,-1.02,-0.14,-1.54,-0.2c-0.01,0,-0.01,0,-0.02,0h-0.01c-0.521,-0.06,-1.04,-0.11,-1.57,-0.16c-0.28,-0.02,-0.55,-0.04,-0.83,-0.06v15.85c0,1.86,-1.5,3.36,-3.36,3.36c-1.859,0,-3.359,-1.5,-3.359,-3.36v-15.85c-7.9,0.52,-15.7,2.86,-22.72,7.05c-0.19,0.11,-0.38,0.22,-0.57,0.34c-0.48,0.29,-0.95,0.59,-1.42,0.9c-0.48,0.32,-0.96,0.65,-1.44,0.98c-0.06,0.04,-0.11,0.08,-0.17,0.12c-0.3,0.22,-0.6,0.44,-0.89,0.65c-0.52,0.4,-1.04,0.81,-1.55,1.21c-0.5,0.43,-1,0.85,-1.49,1.28l11.18,11.18c1.32,1.32,1.32,3.44,0,4.75c-1.31,1.32,-3.43,1.32,-4.75,0l-11.18,-11.18c-0.37,0.42,-0.73,0.84,-1.09,1.26c-0.35,0.44,-0.7,0.87,-1.04,1.31c-0.22,0.29,-0.44,0.59,-0.66,0.89c-0.5,0.69,-0.99,1.39,-1.46,2.09c-0.47,0.71,-0.91,1.42,-1.34,2.15c-0.26,0.45,-0.52,0.9,-0.77,1.35c-0.75,1.36,-1.43,2.75,-2.05,4.16c-0.17,0.41,-0.34,0.81,-0.51,1.22c-0.15,0.38,-0.3,0.77,-0.45,1.15c-1.02,2.71,-1.8,5.49,-2.35,8.3c-0.07,0.4,-0.15,0.8,-0.22,1.21c-0.13,0.8,-0.25,1.609,-0.35,2.42c-0.04,0.35,-0.07,0.699,-0.11,1.04c-0.06,0.569,-0.1,1.13,-0.14,1.699h15.82c1.86,0,3.36,1.5,3.36,3.36s-1.5,3.36,-3.36,3.36h-15.71c0.02,0.47,0.06,0.93,0.11,1.39c0.04,0.39,0.08,0.78,0.12,1.17s0.09,0.78,0.15,1.17c0.05,0.38,0.11,0.771,0.18,1.15c0.1,0.6,0.21,1.2,0.32,1.79c1.78,8.899,5.87,16.96,11.62,23.529l2.56,-2.56l0.06,-0.06l0.01,-0.011l0.03,-0.029l8.54,-8.54c1.32,-1.311,3.44,-1.311,4.75,0c1.32,1.319,1.32,3.439,0,4.75l-8.55,8.55l-0.03,0.03l-0.04,0.04l-2.58,2.579c2.41,2.12,5.02,4.011,7.8,5.65c0.4,0.23,0.8,0.46,1.2,0.68c0.18,0.101,0.36,0.2,0.55,0.301c0.38,0.199,0.76,0.399,1.14,0.59c0.23,0.12,0.46,0.229,0.7,0.35c0.48,0.24,0.96,0.46,1.45,0.68c0.28,0.141,0.57,0.261,0.86,0.381c0.17,0.079,0.33,0.149,0.5,0.21c0.52,0.22,1.05,0.42,1.58,0.619c0.03,0.011,0.06,0.021,0.09,0.04c0.41,0.15,0.83,0.301,1.24,0.44c0.42,0.15,0.85,0.29,1.28,0.42c0.07,0.021,0.14,0.04,0.2,0.061c0.37,0.109,0.73,0.22,1.1,0.319c0.4,0.12,0.81,0.23,1.21,0.33c1.43,0.37,2.87,0.67,4.32,0.91c0.34,0.06,0.69,0.11,1.04,0.16c0.51,0.069,1.02,0.14,1.54,0.2h0.03c0.11,0.02,0.209,0.029,0.31,0.04c0.42,0.05,0.84,0.09,1.26,0.119c0.271,0.021,0.55,0.04,0.83,0.061v-15.851c0,-1.859,1.5,-3.359,3.36,-3.359c1.859,0,3.359,1.5,3.359,3.359v15.83c7.721,-0.52,15.351,-2.79,22.25,-6.8c0.53,-0.31,1.05,-0.63,1.57,-0.96c0.68,-0.43,1.35,-0.88,2.01,-1.34c0.021,-0.02,0.05,-0.04,0.08,-0.06c0.32,-0.23,0.64,-0.46,0.96,-0.7c0.46,-0.34,0.91,-0.69,1.36,-1.05c0.34,-0.261,0.68,-0.54,1.01,-0.811c0.07,-0.07,0.14,-0.12,0.21,-0.189c0.25,-0.21,0.5,-0.421,0.75,-0.65l-11.13,-11.13c-1.32,-1.32,-1.32,-3.44,0,-4.75c1.31,-1.32,3.43,-1.32,4.75,0l11.13,11.13c0.12,-0.13,0.23,-0.26,0.34,-0.39c0.28,-0.33,0.561,-0.66,0.83,-0.99c0.271,-0.34,0.54,-0.67,0.8,-1.01c0.271,-0.341,0.521,-0.681,0.78,-1.03c0.25,-0.34,0.5,-0.69,0.74,-1.04c0.17,-0.24,0.34,-0.48,0.5,-0.73c0.189,-0.279,0.38,-0.569,0.56,-0.859c0.15,-0.23,0.3,-0.46,0.44,-0.69c0.14,-0.22,0.27,-0.439,0.41,-0.67c0.149,-0.24,0.29,-0.49,0.43,-0.74c0.21,-0.359,0.41,-0.71,0.6,-1.08c0.24,-0.43,0.471,-0.859,0.681,-1.3c0.149,-0.29,0.3,-0.59,0.45,-0.89c0,-0.01,0.01,-0.01,0.01,-0.021c0.17,-0.359,0.35,-0.739,0.51,-1.109c0.17,-0.38,0.34,-0.75,0.5,-1.141c0.32,-0.76,0.63,-1.529,0.91,-2.31c0.149,-0.39,0.29,-0.79,0.42,-1.18c0.15,-0.44,0.3,-0.88,0.43,-1.32c0.23,-0.76,0.45,-1.521,0.641,-2.29c0.25,-0.98,0.47,-1.96,0.659,-2.94c0.04,-0.189,0.07,-0.38,0.101,-0.569c0.08,-0.42,0.149,-0.83,0.22,-1.25c0.061,-0.42,0.12,-0.84,0.18,-1.26c0.021,-0.181,0.051,-0.351,0.07,-0.53c0.11,-0.931,0.2,-1.87,0.26,-2.8c0,-0.021,0.011,-0.04,0.011,-0.061h-15.71C108.321,118.327,106.821,116.827,106.821,114.968ZM121.821,121.787c-0.03,0.26,-0.07,0.521,-0.12,0.78c-0.04,0.26,-0.08,0.51,-0.13,0.77c-0.07,0.381,-0.14,0.771,-0.22,1.15c-0.07,0.39,-0.16,0.77,-0.25,1.15c-0.17,0.76,-0.36,1.52,-0.58,2.27c-0.101,0.37,-0.21,0.74,-0.33,1.11c-0.11,0.37,-0.23,0.739,-0.36,1.109c-0.26,0.78,-0.54,1.551,-0.85,2.32c-0.29,0.74,-0.601,1.47,-0.94,2.19c-0.01,0.02,-0.02,0.029,-0.03,0.05c-0.109,0.24,-0.22,0.49,-0.34,0.729c-0.109,0.24,-0.229,0.48,-0.359,0.71c-0.19,0.4,-0.391,0.79,-0.61,1.181c-0.08,0.16,-0.16,0.31,-0.25,0.47c-0.09,0.17,-0.18,0.33,-0.28,0.49c-0.08,0.17,-0.18,0.33,-0.29,0.5c-0.08,0.16,-0.189,0.33,-0.29,0.5c-0.02,0.04,-0.04,0.09,-0.069,0.13c-0.03,0.06,-0.07,0.12,-0.11,0.18c-0.1,0.17,-0.2,0.33,-0.3,0.49c-0.03,0.05,-0.061,0.1,-0.09,0.14c-0.3,0.49,-0.61,0.971,-0.94,1.44c-0.2,0.3,-0.41,0.6,-0.63,0.899c-0.33,0.471,-0.68,0.94,-1.05,1.4l-8.71,-8.7c-2.29,-2.29,-6.021,-2.3,-8.311,0c-2.3,2.29,-2.29,6.021,0,8.311l8.71,8.72c-0.02,0.01,-0.029,0.03,-0.05,0.04c-0.51,0.4,-1.03,0.79,-1.55,1.16s-1.04,0.729,-1.58,1.069c0,0.011,-0.01,0.011,-0.02,0.011c-0.53,0.359,-1.07,0.689,-1.62,1.01c-0.28,0.16,-0.55,0.33,-0.83,0.479c-0.181,0.11,-0.36,0.21,-0.55,0.301c-0.091,0.06,-0.19,0.109,-0.28,0.159c-0.01,0,-0.021,0.011,-0.04,0.021c-0.01,0,-0.021,0.01,-0.03,0.01c-0.53,0.3,-1.069,0.58,-1.609,0.83l-0.011,0.01c-0.01,0.011,-0.029,0.021,-0.04,0.021c-0.229,0.12,-0.46,0.229,-0.689,0.33c-0.25,0.12,-0.49,0.229,-0.74,0.34l-0.01,0.01c-0.07,0.04,-0.141,0.07,-0.21,0.09c-0.471,0.21,-0.94,0.42,-1.42,0.601c-0.25,0.109,-0.511,0.21,-0.761,0.3c-0.25,0.11,-0.51,0.21,-0.77,0.3c-0.37,0.14,-0.73,0.271,-1.1,0.39c-0.351,0.12,-0.71,0.24,-1.061,0.341c-0.24,0.08,-0.47,0.149,-0.71,0.21c-0.05,0.02,-0.09,0.029,-0.14,0.04c-0.42,0.14,-0.851,0.25,-1.271,0.35c-0.109,0.04,-0.22,0.06,-0.33,0.09c-0.239,0.07,-0.479,0.13,-0.72,0.181c-0.3,0.069,-0.6,0.14,-0.9,0.199c-0.199,0.051,-0.39,0.09,-0.59,0.12c-0.14,0.04,-0.27,0.061,-0.41,0.09c-0.26,0.051,-0.52,0.101,-0.779,0.141c-0.05,0.01,-0.101,0.02,-0.15,0.02c-0.04,0.021,-0.08,0.03,-0.12,0.03c-0.22,0.04,-0.43,0.08,-0.649,0.11c-0.46,0.069,-0.91,0.14,-1.37,0.199v-12.39c0,-3.24,-2.63,-5.88,-5.88,-5.88s-5.88,2.64,-5.88,5.88v12.36c0.01,0,0.01,0,0.02,0.01c0,0,-0.01,0,-0.02,0c-0.3,-0.03,-0.6,-0.07,-0.89,-0.12c-0.3,-0.05,-0.59,-0.09,-0.89,-0.14c-0.6,-0.101,-1.2,-0.21,-1.8,-0.33c-0.08,-0.011,-0.16,-0.03,-0.25,-0.061c-0.5,-0.1,-1,-0.21,-1.5,-0.34c-0.61,-0.14,-1.23,-0.3,-1.84,-0.479c-0.25,-0.07,-0.49,-0.141,-0.74,-0.221c-0.17,-0.04,-0.33,-0.1,-0.5,-0.16c-1.73,-0.539,-3.43,-1.189,-5.1,-1.949c-0.43,-0.19,-0.86,-0.391,-1.28,-0.601c-2.84,-1.37,-5.57,-3.04,-8.13,-5.029c-0.03,-0.021,-0.05,-0.04,-0.08,-0.061c-0.01,-0.01,-0.02,-0.02,-0.03,-0.02c-0.03,-0.03,-0.06,-0.051,-0.1,-0.07l0.03,-0.03l8.74,-8.729c2.29,-2.29,2.3,-6.021,0,-8.32c-2.3,-2.3,-6.02,-2.29,-8.31,0l-8.73,8.73l-0.04,0.04c-0.07,-0.091,-0.14,-0.181,-0.21,-0.271c-0.19,-0.229,-0.37,-0.47,-0.53,-0.71c-0.06,-0.08,-0.12,-0.16,-0.18,-0.25c-0.01,-0.02,-0.03,-0.04,-0.05,-0.07c-0.07,-0.1,-0.14,-0.199,-0.21,-0.3c-0.16,-0.22,-0.32,-0.45,-0.48,-0.67c-0.48,-0.69,-0.93,-1.38,-1.36,-2.09c-0.12,-0.19,-0.23,-0.38,-0.34,-0.58c-0.01,-0.01,-0.02,-0.01,-0.02,-0.021c-0.1,-0.159,-0.19,-0.329,-0.29,-0.5c-0.05,-0.079,-0.1,-0.17,-0.15,-0.26c-0.08,-0.13,-0.16,-0.27,-0.22,-0.41c-0.04,-0.06,-0.07,-0.13,-0.11,-0.189c-0.07,-0.12,-0.13,-0.24,-0.2,-0.36c-0.12,-0.229,-0.24,-0.46,-0.36,-0.68c-0.14,-0.28,-0.28,-0.55,-0.41,-0.83l-0.12,-0.24c-0.29,-0.59,-0.56,-1.189,-0.82,-1.79c-0.52,-1.189,-0.98,-2.41,-1.4,-3.63c0,-0.02,-0.01,-0.04,-0.02,-0.05c-0.2,-0.6,-0.39,-1.2,-0.56,-1.8c-0.11,-0.391,-0.22,-0.78,-0.32,-1.17c-0.52,-1.95,-0.91,-3.92,-1.17,-5.91c-0.01,-0.11,-0.03,-0.21,-0.04,-0.32h12.28c3.24,0,5.88,-2.63,5.88,-5.88s-2.64,-5.88,-5.88,-5.88h-12.4c0.3,-2.41,0.78,-4.76,1.44,-7.04c0.09,-0.33,0.19,-0.66,0.29,-0.99c0.11,-0.37,0.23,-0.75,0.36,-1.12c0.18,-0.53,0.36,-1.06,0.56,-1.59c0.09,-0.25,0.19,-0.5,0.29,-0.75c0.21,-0.53,0.43,-1.06,0.66,-1.59c0.19,-0.45,0.4,-0.9,0.61,-1.34c0.46,-0.96,0.95,-1.91,1.48,-2.84c0.29,-0.54,0.6,-1.07,0.93,-1.59c0.08,-0.14,0.17,-0.28,0.26,-0.42c0.26,-0.42,0.53,-0.84,0.82,-1.25c0.1,-0.17,0.22,-0.34,0.35,-0.51c0.33,-0.5,0.69,-1,1.07,-1.48c0.15,-0.22,0.31,-0.44,0.48,-0.65l0.01,0.01l0.02,0.02l0.02,0.02l0.01,0.01l8.71,8.7c2.29,2.29,6.02,2.3,8.31,0c2.3,-2.29,2.29,-6.02,0,-8.31l-8.71,-8.72l-0.05,-0.05c0.27,-0.21,0.55,-0.42,0.83,-0.61c0.68,-0.51,1.36,-0.99,2.06,-1.45c5.48,-3.66,11.56,-6.04,17.82,-7.13c0.31,-0.05,0.63,-0.11,0.94,-0.16c0.5,-0.09,1.01,-0.16,1.51,-0.21v12.4c0,3.24,2.629,5.88,5.879,5.88s5.881,-2.64,5.881,-5.88v-12.36c-0.011,0,-0.011,0,-0.021,-0.01c0,0,0.01,0,0.021,0c0.3,0.03,0.6,0.07,0.89,0.12c0.3,0.05,0.59,0.09,0.89,0.14c0.601,0.1,1.2,0.21,1.8,0.33c0.08,0.01,0.16,0.03,0.25,0.06c0.5,0.1,1,0.21,1.5,0.34c0.61,0.14,1.23,0.3,1.841,0.48c0.25,0.07,0.489,0.14,0.739,0.22c0.17,0.04,0.33,0.1,0.5,0.16c1.73,0.54,3.431,1.19,5.101,1.95c0.43,0.19,0.859,0.39,1.28,0.6c2.84,1.37,5.569,3.04,8.13,5.03c0.029,0.02,0.05,0.04,0.08,0.06c0.01,0.01,0.02,0.02,0.029,0.02c0.03,0.03,0.061,0.05,0.101,0.07l-0.03,0.03l-8.74,8.73c-2.29,2.29,-2.3,6.02,0,8.32s6.021,2.29,8.311,0l8.729,-8.73l0.04,-0.04c0.07,0.09,0.14,0.18,0.21,0.27c0.19,0.23,0.37,0.47,0.53,0.71c0.06,0.08,0.12,0.16,0.18,0.25c0.01,0.02,0.03,0.04,0.05,0.07c0.07,0.1,0.141,0.2,0.21,0.3c0.16,0.22,0.32,0.45,0.48,0.67c0.479,0.69,0.93,1.38,1.36,2.09c0.119,0.19,0.229,0.38,0.34,0.58c0.01,0.01,0.02,0.01,0.02,0.02c0.101,0.16,0.19,0.33,0.29,0.5c0.05,0.08,0.101,0.17,0.15,0.26c0.08,0.13,0.16,0.27,0.22,0.41c0.04,0.06,0.07,0.13,0.11,0.19c0.069,0.12,0.13,0.24,0.2,0.36c0.119,0.23,0.239,0.46,0.359,0.68c0.141,0.28,0.28,0.55,0.41,0.83l0.12,0.24c0.29,0.59,0.56,1.19,0.82,1.79c0.52,1.19,0.979,2.41,1.399,3.63c0,0.02,0.01,0.04,0.021,0.05c0.199,0.6,0.39,1.2,0.56,1.8c0.11,0.39,0.22,0.78,0.32,1.17c0.52,1.95,0.91,3.92,1.17,5.91c0.01,0.109,0.03,0.21,0.04,0.319h-12.28c-3.24,0,-5.88,2.631,-5.88,5.881s2.64,5.88,5.88,5.88h12.29C121.921,121.157,121.871,121.477,121.821,121.787ZM74.991,91.227c-13.12,0,-23.76,10.64,-23.76,23.76s10.64,23.76,23.76,23.76s23.76,-10.64,23.76,-23.76S88.111,91.227,74.991,91.227ZM74.991,131.997c-9.39,0,-17.01,-7.62,-17.01,-17.01c0,-9.39,7.62,-17.01,17.01,-17.01c9.39,0,17.01,7.62,17.01,17.01C92.001,124.377,84.381,131.997,74.991,131.997ZM74.991,91.227c-13.12,0,-23.76,10.64,-23.76,23.76s10.64,23.76,23.76,23.76s23.76,-10.64,23.76,-23.76S88.111,91.227,74.991,91.227ZM74.991,131.997c-9.39,0,-17.01,-7.62,-17.01,-17.01c0,-9.39,7.62,-17.01,17.01,-17.01c9.39,0,17.01,7.62,17.01,17.01C92.001,124.377,84.381,131.997,74.991,131.997Z\" style=\"fill:black;\" id=\"Pump_In\"/>\n  </g>\n  <rect x=\"76.599\" y=\"60.142\" width=\"196.227\" height=\"14.031\" style=\"stroke: rgb(0, 0, 0); fill: rgb(255, 255, 255);\" id=\"Pipe_In\">\n  </rect>\n  <g transform=\"matrix(0.755506, 0, 0, 0.666569, 7.888053, 19.066032)\" style=\"\">\n    <path d=\"M 549.078 278.081 C 543.36 278.081 538.723 282.861 538.723 288.756 C 538.723 294.65 543.36 299.43 549.078 299.43 C 554.796 299.43 559.433 294.65 559.433 288.756 C 559.433 282.861 554.796 278.081 549.078 278.081 Z M 549.078 296.397 C 544.986 296.397 541.665 292.974 541.665 288.756 C 541.665 284.537 544.986 281.114 549.078 281.114 C 553.17 281.114 556.491 284.537 556.491 288.756 C 556.491 292.974 553.17 296.397 549.078 296.397 Z M 549.078 278.081 C 543.36 278.081 538.723 282.861 538.723 288.756 C 538.723 294.65 543.36 299.43 549.078 299.43 C 554.796 299.43 559.433 294.65 559.433 288.756 C 559.433 282.861 554.796 278.081 549.078 278.081 Z M 549.078 296.397 C 544.986 296.397 541.665 292.974 541.665 288.756 C 541.665 284.537 544.986 281.114 549.078 281.114 C 553.17 281.114 556.491 284.537 556.491 288.756 C 556.491 292.974 553.17 296.397 549.078 296.397 Z M 549.078 278.081 C 543.36 278.081 538.723 282.861 538.723 288.756 C 538.723 294.65 543.36 299.43 549.078 299.43 C 554.796 299.43 559.433 294.65 559.433 288.756 C 559.433 282.861 554.796 278.081 549.078 278.081 Z M 549.078 296.397 C 544.986 296.397 541.665 292.974 541.665 288.756 C 541.665 284.537 544.986 281.114 549.078 281.114 C 553.17 281.114 556.491 284.537 556.491 288.756 C 556.491 292.974 553.17 296.397 549.078 296.397 Z M 549.078 278.081 C 543.36 278.081 538.723 282.861 538.723 288.756 C 538.723 294.65 543.36 299.43 549.078 299.43 C 554.796 299.43 559.433 294.65 559.433 288.756 C 559.433 282.861 554.796 278.081 549.078 278.081 Z M 549.078 296.397 C 544.986 296.397 541.665 292.974 541.665 288.756 C 541.665 284.537 544.986 281.114 549.078 281.114 C 553.17 281.114 556.491 284.537 556.491 288.756 C 556.491 292.974 553.17 296.397 549.078 296.397 Z M 562.95 288.747 C 562.95 287.911 563.604 287.237 564.414 287.237 L 571.261 287.237 C 571.252 287.026 571.234 286.82 571.213 286.613 C 571.195 286.437 571.178 286.263 571.161 286.087 C 571.143 285.912 571.121 285.737 571.095 285.561 C 571.073 285.391 571.048 285.215 571.017 285.045 C 570.973 284.775 570.925 284.506 570.877 284.241 C 570.102 280.243 568.319 276.622 565.814 273.67 L 564.697 274.82 L 564.671 274.847 L 564.666 274.852 L 564.654 274.865 L 560.932 278.702 C 560.357 279.29 559.433 279.29 558.862 278.702 C 558.287 278.109 558.287 277.156 558.862 276.568 L 562.588 272.727 L 562.601 272.713 L 563.743 271.536 C 562.693 270.584 561.555 269.735 560.343 268.998 C 560.169 268.894 559.995 268.791 559.821 268.692 C 559.742 268.647 559.664 268.602 559.581 268.558 C 559.415 268.468 559.249 268.378 559.084 268.292 C 558.984 268.239 558.883 268.189 558.779 268.135 C 558.57 268.027 558.36 267.929 558.147 267.83 C 558.025 267.767 557.899 267.713 557.772 267.659 C 557.698 267.623 557.629 267.592 557.554 267.565 C 557.327 267.466 557.097 267.376 556.866 267.286 C 556.853 267.282 556.839 267.277 556.827 267.268 C 556.648 267.201 556.465 267.133 556.286 267.071 C 556.103 267.003 555.916 266.94 555.728 266.882 C 555.698 266.873 555.667 266.864 555.641 266.855 C 555.48 266.805 555.324 266.756 555.162 266.711 C 554.988 266.657 554.809 266.608 554.635 266.563 C 554.011 266.397 553.384 266.262 552.752 266.154 C 552.704 266.145 552.656 266.141 552.608 266.132 C 552.504 266.114 552.403 266.096 552.299 266.082 C 552.076 266.051 551.854 266.019 551.627 265.992 C 551.623 265.992 551.623 265.992 551.619 265.992 L 551.614 265.992 C 551.387 265.965 551.161 265.943 550.93 265.92 C 550.808 265.911 550.69 265.902 550.568 265.893 L 550.568 273.014 C 550.568 273.85 549.915 274.524 549.104 274.524 C 548.294 274.524 547.64 273.85 547.64 273.014 L 547.64 265.893 C 544.197 266.127 540.798 267.178 537.739 269.061 C 537.656 269.11 537.573 269.16 537.49 269.213 C 537.281 269.344 537.076 269.479 536.871 269.618 C 536.662 269.762 536.453 269.91 536.244 270.058 C 536.218 270.076 536.196 270.094 536.17 270.112 C 536.039 270.211 535.908 270.31 535.782 270.404 C 535.555 270.584 535.328 270.768 535.106 270.948 C 534.888 271.141 534.67 271.329 534.457 271.523 L 539.329 276.545 C 539.905 277.138 539.905 278.091 539.329 278.679 C 538.758 279.272 537.834 279.272 537.259 278.679 L 532.387 273.657 C 532.226 273.845 532.069 274.034 531.912 274.223 C 531.759 274.42 531.607 274.613 531.458 274.811 C 531.363 274.941 531.267 275.076 531.171 275.211 C 530.953 275.521 530.739 275.835 530.535 276.15 C 530.33 276.469 530.138 276.788 529.951 277.116 C 529.837 277.318 529.724 277.52 529.615 277.722 C 529.288 278.333 528.992 278.958 528.722 279.591 C 528.647 279.775 528.573 279.955 528.499 280.139 C 528.434 280.31 528.369 280.485 528.303 280.656 C 527.859 281.873 527.519 283.122 527.279 284.385 C 527.249 284.564 527.214 284.744 527.183 284.928 C 527.127 285.288 527.074 285.651 527.031 286.016 C 527.013 286.173 527 286.33 526.983 286.483 C 526.957 286.738 526.939 286.99 526.922 287.246 L 533.816 287.246 C 534.627 287.246 535.281 287.92 535.281 288.756 C 535.281 289.591 534.627 290.265 533.816 290.265 L 526.97 290.265 C 526.978 290.476 526.996 290.683 527.018 290.889 C 527.035 291.065 527.052 291.24 527.07 291.415 C 527.087 291.59 527.109 291.765 527.135 291.941 C 527.157 292.111 527.183 292.287 527.214 292.457 C 527.257 292.727 527.305 292.996 527.353 293.262 C 528.129 297.259 529.911 300.881 532.417 303.832 L 533.533 302.682 L 533.559 302.655 L 533.563 302.65 L 533.577 302.637 L 537.298 298.8 C 537.874 298.211 538.798 298.211 539.368 298.8 C 539.944 299.393 539.944 300.345 539.368 300.934 L 535.642 304.775 L 535.629 304.789 L 535.612 304.807 L 534.487 305.965 C 535.538 306.918 536.675 307.767 537.887 308.504 C 538.061 308.607 538.235 308.71 538.41 308.809 C 538.488 308.855 538.567 308.899 538.649 308.944 C 538.815 309.034 538.981 309.124 539.146 309.21 C 539.246 309.263 539.347 309.312 539.451 309.367 C 539.66 309.475 539.87 309.573 540.083 309.672 C 540.205 309.736 540.332 309.79 540.458 309.843 C 540.532 309.879 540.602 309.91 540.676 309.938 C 540.903 310.037 541.134 310.126 541.364 310.216 C 541.378 310.221 541.391 310.225 541.404 310.234 C 541.582 310.301 541.765 310.369 541.944 310.432 C 542.127 310.499 542.315 310.562 542.502 310.62 C 542.532 310.63 542.563 310.638 542.589 310.648 C 542.75 310.697 542.907 310.746 543.069 310.791 C 543.243 310.845 543.422 310.894 543.596 310.939 C 544.219 311.105 544.847 311.24 545.479 311.348 C 545.627 311.375 545.779 311.397 545.932 311.42 C 546.154 311.451 546.376 311.483 546.603 311.51 L 546.616 311.51 C 546.664 311.519 546.707 311.523 546.751 311.528 C 546.934 311.55 547.117 311.568 547.3 311.581 C 547.418 311.591 547.54 311.599 547.662 311.609 L 547.662 304.487 C 547.662 303.652 548.316 302.978 549.126 302.978 C 549.936 302.978 550.59 303.652 550.59 304.487 L 550.59 311.599 C 553.955 311.366 557.28 310.346 560.287 308.544 C 560.518 308.405 560.745 308.261 560.971 308.113 C 561.268 307.92 561.56 307.718 561.847 307.511 C 561.856 307.502 561.869 307.493 561.882 307.484 C 562.022 307.381 562.161 307.277 562.3 307.169 C 562.501 307.017 562.697 306.86 562.893 306.698 C 563.041 306.581 563.19 306.455 563.333 306.333 C 563.364 306.302 563.394 306.28 563.425 306.249 C 563.534 306.154 563.643 306.059 563.752 305.957 L 558.901 300.956 C 558.326 300.363 558.326 299.411 558.901 298.822 C 559.472 298.229 560.396 298.229 560.971 298.822 L 565.822 303.823 C 565.874 303.764 565.922 303.706 565.97 303.647 C 566.092 303.499 566.214 303.351 566.332 303.203 C 566.45 303.05 566.567 302.902 566.68 302.749 C 566.798 302.596 566.907 302.443 567.02 302.286 C 567.129 302.133 567.238 301.976 567.343 301.819 C 567.417 301.711 567.491 301.603 567.561 301.491 C 567.643 301.366 567.726 301.235 567.805 301.105 C 567.87 301.002 567.936 300.898 567.997 300.795 C 568.058 300.696 568.114 300.598 568.175 300.494 C 568.24 300.386 568.302 300.274 568.363 300.162 C 568.454 300 568.541 299.843 568.624 299.676 C 568.729 299.483 568.829 299.29 568.921 299.092 C 568.986 298.962 569.052 298.827 569.117 298.693 C 569.117 298.688 569.121 298.688 569.121 298.683 C 569.195 298.522 569.274 298.351 569.344 298.185 C 569.418 298.014 569.492 297.848 569.562 297.672 C 569.701 297.331 569.836 296.985 569.958 296.635 C 570.023 296.459 570.085 296.28 570.141 296.104 C 570.207 295.907 570.272 295.709 570.329 295.511 C 570.429 295.17 570.525 294.828 570.608 294.483 C 570.717 294.042 570.813 293.602 570.895 293.162 C 570.913 293.077 570.926 292.991 570.939 292.906 C 570.974 292.717 571.004 292.533 571.035 292.345 C 571.062 292.156 571.087 291.967 571.113 291.779 C 571.123 291.697 571.136 291.621 571.144 291.54 C 571.192 291.122 571.231 290.7 571.257 290.283 C 571.257 290.273 571.262 290.265 571.262 290.255 L 564.415 290.255 C 563.604 290.256 562.95 289.582 562.95 288.747 Z M 569.487 291.81 C 569.474 291.927 569.456 292.044 569.435 292.161 C 569.417 292.278 569.4 292.39 569.378 292.507 C 569.348 292.678 569.317 292.853 569.282 293.023 C 569.252 293.199 569.212 293.369 569.173 293.54 C 569.099 293.881 569.016 294.223 568.92 294.56 C 568.876 294.726 568.829 294.892 568.777 295.059 C 568.729 295.225 568.676 295.391 568.62 295.557 C 568.506 295.907 568.384 296.254 568.249 296.599 C 568.123 296.931 567.987 297.259 567.84 297.583 C 567.835 297.592 567.831 297.596 567.827 297.605 C 567.779 297.713 567.731 297.825 567.678 297.933 C 567.631 298.041 567.579 298.148 567.522 298.252 C 567.439 298.432 567.352 298.607 567.256 298.782 C 567.221 298.854 567.186 298.922 567.147 298.994 C 567.108 299.07 567.069 299.142 567.025 299.214 C 566.99 299.29 566.947 299.362 566.899 299.438 C 566.864 299.51 566.816 299.587 566.772 299.663 C 566.764 299.681 566.755 299.703 566.742 299.721 C 566.729 299.748 566.712 299.775 566.694 299.802 C 566.651 299.879 566.607 299.95 566.564 300.022 C 566.551 300.045 566.537 300.067 566.524 300.085 C 566.394 300.305 566.259 300.521 566.115 300.732 C 566.028 300.867 565.936 301.002 565.84 301.136 C 565.696 301.348 565.544 301.558 565.383 301.765 L 561.587 297.856 C 560.589 296.828 558.963 296.823 557.965 297.856 C 556.962 298.885 556.967 300.561 557.965 301.59 L 561.76 305.508 C 561.752 305.512 561.748 305.521 561.739 305.526 C 561.516 305.705 561.29 305.881 561.063 306.047 C 560.837 306.213 560.61 306.374 560.375 306.527 C 560.375 306.532 560.37 306.532 560.366 306.532 C 560.135 306.693 559.9 306.842 559.66 306.986 C 559.538 307.058 559.42 307.134 559.298 307.201 C 559.219 307.25 559.141 307.295 559.058 307.336 C 559.019 307.363 558.976 307.385 558.936 307.408 C 558.932 307.408 558.927 307.413 558.919 307.417 C 558.915 307.417 558.91 307.422 558.906 307.422 C 558.675 307.556 558.44 307.682 558.205 307.794 L 558.2 307.799 C 558.196 307.804 558.187 307.808 558.182 307.808 C 558.083 307.862 557.982 307.911 557.882 307.957 C 557.773 308.01 557.669 308.059 557.56 308.109 L 557.555 308.114 C 557.525 308.132 557.494 308.145 557.464 308.154 C 557.259 308.249 557.054 308.343 556.845 308.424 C 556.736 308.473 556.622 308.519 556.513 308.559 C 556.404 308.608 556.291 308.653 556.178 308.694 C 556.016 308.757 555.86 308.816 555.698 308.869 C 555.545 308.923 555.389 308.977 555.236 309.022 C 555.131 309.058 555.031 309.089 554.927 309.117 C 554.905 309.126 554.887 309.13 554.866 309.135 C 554.682 309.197 554.495 309.247 554.312 309.292 C 554.264 309.31 554.216 309.319 554.168 309.332 C 554.064 309.364 553.959 309.391 553.854 309.414 C 553.723 309.445 553.593 309.476 553.462 309.503 C 553.375 309.526 553.292 309.543 553.205 309.557 C 553.144 309.575 553.087 309.584 553.026 309.597 C 552.913 309.62 552.799 309.643 552.686 309.661 C 552.665 309.665 552.642 309.67 552.621 309.67 C 552.604 309.679 552.586 309.683 552.569 309.683 C 552.473 309.701 552.381 309.719 552.286 309.732 C 552.085 309.763 551.889 309.795 551.689 309.822 L 551.689 304.256 C 551.689 302.8 550.543 301.614 549.126 301.614 C 547.71 301.614 546.564 302.8 546.564 304.256 L 546.564 309.808 C 546.568 309.808 546.568 309.808 546.572 309.813 C 546.572 309.813 546.568 309.813 546.564 309.813 C 546.433 309.799 546.302 309.781 546.176 309.759 C 546.045 309.737 545.919 309.719 545.788 309.696 C 545.526 309.651 545.265 309.602 545.004 309.548 C 544.969 309.543 544.934 309.534 544.895 309.52 C 544.677 309.476 544.459 309.426 544.241 309.368 C 543.975 309.305 543.705 309.233 543.439 309.152 C 543.33 309.121 543.225 309.089 543.116 309.053 C 543.042 309.035 542.973 309.008 542.899 308.981 C 542.145 308.739 541.404 308.447 540.676 308.106 C 540.489 308.02 540.301 307.93 540.118 307.836 C 538.88 307.22 537.691 306.47 536.575 305.576 C 536.562 305.567 536.553 305.558 536.54 305.549 C 536.536 305.545 536.531 305.54 536.527 305.54 C 536.514 305.527 536.501 305.517 536.483 305.509 L 536.496 305.495 L 540.305 301.574 C 541.303 300.545 541.308 298.869 540.305 297.836 C 539.303 296.803 537.682 296.807 536.684 297.836 L 532.879 301.758 L 532.862 301.776 C 532.831 301.735 532.801 301.694 532.77 301.654 C 532.687 301.551 532.609 301.443 532.539 301.335 C 532.513 301.299 532.487 301.263 532.461 301.223 C 532.456 301.214 532.448 301.205 532.439 301.191 C 532.409 301.146 532.378 301.102 532.348 301.057 C 532.278 300.958 532.208 300.854 532.138 300.756 C 531.929 300.446 531.733 300.136 531.546 299.817 C 531.493 299.731 531.445 299.646 531.397 299.556 C 531.393 299.552 531.389 299.552 531.389 299.547 C 531.345 299.475 531.306 299.399 531.262 299.322 C 531.241 299.286 531.219 299.246 531.197 299.205 C 531.162 299.147 531.127 299.084 531.101 299.021 C 531.084 298.994 531.071 298.963 531.053 298.936 C 531.023 298.882 530.997 298.828 530.966 298.774 C 530.914 298.671 530.861 298.568 530.809 298.469 C 530.748 298.343 530.687 298.222 530.63 298.096 L 530.578 297.988 C 530.452 297.723 530.334 297.454 530.221 297.184 C 529.994 296.65 529.794 296.101 529.611 295.553 C 529.611 295.544 529.606 295.535 529.602 295.531 C 529.515 295.261 529.432 294.992 529.358 294.722 C 529.31 294.546 529.262 294.372 529.218 294.196 C 528.992 293.32 528.822 292.435 528.709 291.541 C 528.704 291.492 528.695 291.447 528.691 291.398 L 534.043 291.398 C 535.455 291.398 536.605 290.216 536.605 288.756 C 536.605 287.296 535.455 286.114 534.043 286.114 L 528.639 286.114 C 528.77 285.032 528.979 283.976 529.266 282.952 C 529.306 282.803 529.349 282.655 529.393 282.507 C 529.441 282.341 529.493 282.17 529.55 282.004 C 529.628 281.766 529.707 281.527 529.794 281.289 C 529.833 281.177 529.876 281.065 529.92 280.952 C 530.012 280.714 530.107 280.476 530.208 280.238 C 530.291 280.036 530.382 279.834 530.474 279.636 C 530.674 279.205 530.888 278.778 531.119 278.36 C 531.245 278.118 531.38 277.88 531.524 277.646 C 531.559 277.583 531.598 277.52 531.637 277.457 C 531.75 277.269 531.868 277.08 531.995 276.896 C 532.038 276.819 532.09 276.743 532.147 276.667 C 532.291 276.442 532.448 276.217 532.613 276.002 C 532.679 275.903 532.748 275.804 532.823 275.71 L 532.827 275.714 L 532.836 275.723 L 532.844 275.732 L 532.849 275.737 L 536.645 279.645 C 537.643 280.674 539.268 280.678 540.266 279.645 C 541.269 278.616 541.264 276.941 540.266 275.912 L 536.47 271.994 L 536.449 271.972 C 536.566 271.878 536.688 271.783 536.81 271.698 C 537.107 271.469 537.403 271.253 537.708 271.046 C 540.096 269.402 542.746 268.333 545.474 267.843 C 545.609 267.821 545.749 267.794 545.884 267.771 C 546.102 267.731 546.324 267.699 546.542 267.677 L 546.542 273.248 C 546.542 274.703 547.688 275.889 549.104 275.889 C 550.52 275.889 551.667 274.703 551.667 273.248 L 551.667 267.695 C 551.662 267.695 551.662 267.695 551.658 267.69 C 551.658 267.69 551.662 267.69 551.667 267.69 C 551.798 267.704 551.929 267.722 552.055 267.744 C 552.186 267.767 552.312 267.785 552.443 267.807 C 552.705 267.852 552.966 267.902 553.227 267.956 C 553.262 267.96 553.297 267.969 553.336 267.982 C 553.554 268.027 553.772 268.077 553.99 268.135 C 554.256 268.198 554.526 268.27 554.792 268.351 C 554.901 268.382 555.005 268.414 555.114 268.45 C 555.188 268.468 555.258 268.495 555.332 268.522 C 556.086 268.764 556.828 269.056 557.555 269.398 C 557.743 269.483 557.93 269.573 558.113 269.667 C 559.351 270.283 560.54 271.033 561.656 271.927 C 561.669 271.936 561.678 271.945 561.691 271.954 C 561.696 271.958 561.7 271.963 561.704 271.963 C 561.717 271.976 561.73 271.985 561.748 271.994 L 561.735 272.008 L 557.926 275.93 C 556.928 276.959 556.923 278.634 557.926 279.668 C 558.928 280.701 560.55 280.696 561.548 279.668 L 565.352 275.746 L 565.369 275.728 C 565.4 275.768 565.43 275.808 565.461 275.849 C 565.544 275.952 565.622 276.06 565.692 276.168 C 565.718 276.204 565.744 276.24 565.77 276.28 C 565.775 276.289 565.783 276.298 565.792 276.312 C 565.823 276.357 565.854 276.401 565.884 276.446 C 565.953 276.545 566.023 276.649 566.093 276.747 C 566.302 277.057 566.498 277.367 566.686 277.686 C 566.737 277.772 566.785 277.857 566.834 277.947 C 566.838 277.951 566.842 277.951 566.842 277.956 C 566.887 278.028 566.925 278.104 566.969 278.181 C 566.991 278.216 567.013 278.257 567.034 278.297 C 567.069 278.356 567.104 278.419 567.13 278.482 C 567.148 278.508 567.161 278.54 567.178 278.567 C 567.208 278.621 567.235 278.675 567.265 278.729 C 567.317 278.832 567.369 278.935 567.422 279.034 C 567.483 279.16 567.544 279.281 567.6 279.407 L 567.653 279.515 C 567.779 279.78 567.897 280.049 568.01 280.319 C 568.237 280.854 568.437 281.402 568.62 281.95 C 568.62 281.959 568.624 281.968 568.629 281.972 C 568.716 282.242 568.799 282.511 568.873 282.781 C 568.921 282.956 568.969 283.131 569.012 283.307 C 569.239 284.183 569.409 285.068 569.522 285.962 C 569.527 286.011 569.535 286.056 569.54 286.105 L 564.188 286.105 C 562.776 286.105 561.625 287.287 561.625 288.747 C 561.625 290.207 562.776 291.389 564.188 291.389 L 569.544 291.389 C 569.531 291.527 569.509 291.671 569.487 291.81 Z M 549.078 278.081 C 543.36 278.081 538.723 282.861 538.723 288.756 C 538.723 294.65 543.36 299.43 549.078 299.43 C 554.796 299.43 559.433 294.65 559.433 288.756 C 559.433 282.861 554.796 278.081 549.078 278.081 Z M 549.078 296.397 C 544.986 296.397 541.665 292.974 541.665 288.756 C 541.665 284.537 544.986 281.114 549.078 281.114 C 553.17 281.114 556.491 284.537 556.491 288.756 C 556.491 292.974 553.17 296.397 549.078 296.397 Z M 549.078 278.081 C 543.36 278.081 538.723 282.861 538.723 288.756 C 538.723 294.65 543.36 299.43 549.078 299.43 C 554.796 299.43 559.433 294.65 559.433 288.756 C 559.433 282.861 554.796 278.081 549.078 278.081 Z M 549.078 296.397 C 544.986 296.397 541.665 292.974 541.665 288.756 C 541.665 284.537 544.986 281.114 549.078 281.114 C 553.17 281.114 556.491 284.537 556.491 288.756 C 556.491 292.974 553.17 296.397 549.078 296.397 Z M 549.078 278.081 C 543.36 278.081 538.723 282.861 538.723 288.756 C 538.723 294.65 543.36 299.43 549.078 299.43 C 554.796 299.43 559.433 294.65 559.433 288.756 C 559.433 282.861 554.796 278.081 549.078 278.081 Z M 549.078 296.397 C 544.986 296.397 541.665 292.974 541.665 288.756 C 541.665 284.537 544.986 281.114 549.078 281.114 C 553.17 281.114 556.491 284.537 556.491 288.756 C 556.491 292.974 553.17 296.397 549.078 296.397 Z M 562.95 288.747 C 562.95 287.911 563.604 287.237 564.414 287.237 L 571.261 287.237 C 571.252 287.026 571.234 286.82 571.213 286.613 C 571.195 286.437 571.178 286.263 571.161 286.087 C 571.143 285.912 571.121 285.737 571.095 285.561 C 571.073 285.391 571.048 285.215 571.017 285.045 C 570.973 284.775 570.925 284.506 570.877 284.241 C 570.102 280.243 568.319 276.622 565.814 273.67 L 564.697 274.82 L 564.671 274.847 L 564.666 274.852 L 564.654 274.865 L 560.932 278.702 C 560.357 279.29 559.433 279.29 558.862 278.702 C 558.287 278.109 558.287 277.156 558.862 276.568 L 562.588 272.727 L 562.601 272.713 L 563.743 271.536 C 562.693 270.584 561.555 269.735 560.343 268.998 C 560.169 268.894 559.995 268.791 559.821 268.692 C 559.742 268.647 559.664 268.602 559.581 268.558 C 559.415 268.468 559.249 268.378 559.084 268.292 C 558.984 268.239 558.883 268.189 558.779 268.135 C 558.57 268.027 558.36 267.929 558.147 267.83 C 558.025 267.767 557.899 267.713 557.772 267.659 C 557.698 267.623 557.629 267.592 557.554 267.565 C 557.327 267.466 557.097 267.376 556.866 267.286 C 556.853 267.282 556.839 267.277 556.827 267.268 C 556.648 267.201 556.465 267.133 556.286 267.071 C 556.103 267.003 555.916 266.94 555.728 266.882 C 555.698 266.873 555.667 266.864 555.641 266.855 C 555.48 266.805 555.324 266.756 555.162 266.711 C 554.988 266.657 554.809 266.608 554.635 266.563 C 554.011 266.397 553.384 266.262 552.752 266.154 C 552.704 266.145 552.656 266.141 552.608 266.132 C 552.504 266.114 552.403 266.096 552.299 266.082 C 552.076 266.051 551.854 266.019 551.627 265.992 C 551.623 265.992 551.623 265.992 551.619 265.992 L 551.614 265.992 C 551.387 265.965 551.161 265.943 550.93 265.92 C 550.808 265.911 550.69 265.902 550.568 265.893 L 550.568 273.014 C 550.568 273.85 549.915 274.524 549.104 274.524 C 548.294 274.524 547.64 273.85 547.64 273.014 L 547.64 265.893 C 544.197 266.127 540.798 267.178 537.739 269.061 C 537.656 269.11 537.573 269.16 537.49 269.213 C 537.281 269.344 537.076 269.479 536.871 269.618 C 536.662 269.762 536.453 269.91 536.244 270.058 C 536.218 270.076 536.196 270.094 536.17 270.112 C 536.039 270.211 535.908 270.31 535.782 270.404 C 535.555 270.584 535.328 270.768 535.106 270.948 C 534.888 271.141 534.67 271.329 534.457 271.523 L 539.329 276.545 C 539.905 277.138 539.905 278.091 539.329 278.679 C 538.758 279.272 537.834 279.272 537.259 278.679 L 532.387 273.657 C 532.226 273.845 532.069 274.034 531.912 274.223 C 531.759 274.42 531.607 274.613 531.458 274.811 C 531.363 274.941 531.267 275.076 531.171 275.211 C 530.953 275.521 530.739 275.835 530.535 276.15 C 530.33 276.469 530.138 276.788 529.951 277.116 C 529.837 277.318 529.724 277.52 529.615 277.722 C 529.288 278.333 528.992 278.958 528.722 279.591 C 528.647 279.775 528.573 279.955 528.499 280.139 C 528.434 280.31 528.369 280.485 528.303 280.656 C 527.859 281.873 527.519 283.122 527.279 284.385 C 527.249 284.564 527.214 284.744 527.183 284.928 C 527.127 285.288 527.074 285.651 527.031 286.016 C 527.013 286.173 527 286.33 526.983 286.483 C 526.957 286.738 526.939 286.99 526.922 287.246 L 533.816 287.246 C 534.627 287.246 535.281 287.92 535.281 288.756 C 535.281 289.591 534.627 290.265 533.816 290.265 L 526.97 290.265 C 526.978 290.476 526.996 290.683 527.018 290.889 C 527.035 291.065 527.052 291.24 527.07 291.415 C 527.087 291.59 527.109 291.765 527.135 291.941 C 527.157 292.111 527.183 292.287 527.214 292.457 C 527.257 292.727 527.305 292.996 527.353 293.262 C 528.129 297.259 529.911 300.881 532.417 303.832 L 533.533 302.682 L 533.559 302.655 L 533.563 302.65 L 533.577 302.637 L 537.298 298.8 C 537.874 298.211 538.798 298.211 539.368 298.8 C 539.944 299.393 539.944 300.345 539.368 300.934 L 535.642 304.775 L 535.629 304.789 L 535.612 304.807 L 534.487 305.965 C 535.538 306.918 536.675 307.767 537.887 308.504 C 538.061 308.607 538.235 308.71 538.41 308.809 C 538.488 308.855 538.567 308.899 538.649 308.944 C 538.815 309.034 538.981 309.124 539.146 309.21 C 539.246 309.263 539.347 309.312 539.451 309.367 C 539.66 309.475 539.87 309.573 540.083 309.672 C 540.205 309.736 540.332 309.79 540.458 309.843 C 540.532 309.879 540.602 309.91 540.676 309.938 C 540.903 310.037 541.134 310.126 541.364 310.216 C 541.378 310.221 541.391 310.225 541.404 310.234 C 541.582 310.301 541.765 310.369 541.944 310.432 C 542.127 310.499 542.315 310.562 542.502 310.62 C 542.532 310.63 542.563 310.638 542.589 310.648 C 542.75 310.697 542.907 310.746 543.069 310.791 C 543.243 310.845 543.422 310.894 543.596 310.939 C 544.219 311.105 544.847 311.24 545.479 311.348 C 545.627 311.375 545.779 311.397 545.932 311.42 C 546.154 311.451 546.376 311.483 546.603 311.51 L 546.616 311.51 C 546.664 311.519 546.707 311.523 546.751 311.528 C 546.934 311.55 547.117 311.568 547.3 311.581 C 547.418 311.591 547.54 311.599 547.662 311.609 L 547.662 304.487 C 547.662 303.652 548.316 302.978 549.126 302.978 C 549.936 302.978 550.59 303.652 550.59 304.487 L 550.59 311.599 C 553.955 311.366 557.28 310.346 560.287 308.544 C 560.518 308.405 560.745 308.261 560.971 308.113 C 561.268 307.92 561.56 307.718 561.847 307.511 C 561.856 307.502 561.869 307.493 561.882 307.484 C 562.022 307.381 562.161 307.277 562.3 307.169 C 562.501 307.017 562.697 306.86 562.893 306.698 C 563.041 306.581 563.19 306.455 563.333 306.333 C 563.364 306.302 563.394 306.28 563.425 306.249 C 563.534 306.154 563.643 306.059 563.752 305.957 L 558.901 300.956 C 558.326 300.363 558.326 299.411 558.901 298.822 C 559.472 298.229 560.396 298.229 560.971 298.822 L 565.822 303.823 C 565.874 303.764 565.922 303.706 565.97 303.647 C 566.092 303.499 566.214 303.351 566.332 303.203 C 566.45 303.05 566.567 302.902 566.68 302.749 C 566.798 302.596 566.907 302.443 567.02 302.286 C 567.129 302.133 567.238 301.976 567.343 301.819 C 567.417 301.711 567.491 301.603 567.561 301.491 C 567.643 301.366 567.726 301.235 567.805 301.105 C 567.87 301.002 567.936 300.898 567.997 300.795 C 568.058 300.696 568.114 300.598 568.175 300.494 C 568.24 300.386 568.302 300.274 568.363 300.162 C 568.454 300 568.541 299.843 568.624 299.676 C 568.729 299.483 568.829 299.29 568.921 299.092 C 568.986 298.962 569.052 298.827 569.117 298.693 C 569.117 298.688 569.121 298.688 569.121 298.683 C 569.195 298.522 569.274 298.351 569.344 298.185 C 569.418 298.014 569.492 297.848 569.562 297.672 C 569.701 297.331 569.836 296.985 569.958 296.635 C 570.023 296.459 570.085 296.28 570.141 296.104 C 570.207 295.907 570.272 295.709 570.329 295.511 C 570.429 295.17 570.525 294.828 570.608 294.483 C 570.717 294.042 570.813 293.602 570.895 293.162 C 570.913 293.077 570.926 292.991 570.939 292.906 C 570.974 292.717 571.004 292.533 571.035 292.345 C 571.062 292.156 571.087 291.967 571.113 291.779 C 571.123 291.697 571.136 291.621 571.144 291.54 C 571.192 291.122 571.231 290.7 571.257 290.283 C 571.257 290.273 571.262 290.265 571.262 290.255 L 564.415 290.255 C 563.604 290.256 562.95 289.582 562.95 288.747 Z M 569.487 291.81 C 569.474 291.927 569.456 292.044 569.435 292.161 C 569.417 292.278 569.4 292.39 569.378 292.507 C 569.348 292.678 569.317 292.853 569.282 293.023 C 569.252 293.199 569.212 293.369 569.173 293.54 C 569.099 293.881 569.016 294.223 568.92 294.56 C 568.876 294.726 568.829 294.892 568.777 295.059 C 568.729 295.225 568.676 295.391 568.62 295.557 C 568.506 295.907 568.384 296.254 568.249 296.599 C 568.123 296.931 567.987 297.259 567.84 297.583 C 567.835 297.592 567.831 297.596 567.827 297.605 C 567.779 297.713 567.731 297.825 567.678 297.933 C 567.631 298.041 567.579 298.148 567.522 298.252 C 567.439 298.432 567.352 298.607 567.256 298.782 C 567.221 298.854 567.186 298.922 567.147 298.994 C 567.108 299.07 567.069 299.142 567.025 299.214 C 566.99 299.29 566.947 299.362 566.899 299.438 C 566.864 299.51 566.816 299.587 566.772 299.663 C 566.764 299.681 566.755 299.703 566.742 299.721 C 566.729 299.748 566.712 299.775 566.694 299.802 C 566.651 299.879 566.607 299.95 566.564 300.022 C 566.551 300.045 566.537 300.067 566.524 300.085 C 566.394 300.305 566.259 300.521 566.115 300.732 C 566.028 300.867 565.936 301.002 565.84 301.136 C 565.696 301.348 565.544 301.558 565.383 301.765 L 561.587 297.856 C 560.589 296.828 558.963 296.823 557.965 297.856 C 556.962 298.885 556.967 300.561 557.965 301.59 L 561.76 305.508 C 561.752 305.512 561.748 305.521 561.739 305.526 C 561.516 305.705 561.29 305.881 561.063 306.047 C 560.837 306.213 560.61 306.374 560.375 306.527 C 560.375 306.532 560.37 306.532 560.366 306.532 C 560.135 306.693 559.9 306.842 559.66 306.986 C 559.538 307.058 559.42 307.134 559.298 307.201 C 559.219 307.25 559.141 307.295 559.058 307.336 C 559.019 307.363 558.976 307.385 558.936 307.408 C 558.932 307.408 558.927 307.413 558.919 307.417 C 558.915 307.417 558.91 307.422 558.906 307.422 C 558.675 307.556 558.44 307.682 558.205 307.794 L 558.2 307.799 C 558.196 307.804 558.187 307.808 558.182 307.808 C 558.083 307.862 557.982 307.911 557.882 307.957 C 557.773 308.01 557.669 308.059 557.56 308.109 L 557.555 308.114 C 557.525 308.132 557.494 308.145 557.464 308.154 C 557.259 308.249 557.054 308.343 556.845 308.424 C 556.736 308.473 556.622 308.519 556.513 308.559 C 556.404 308.608 556.291 308.653 556.178 308.694 C 556.016 308.757 555.86 308.816 555.698 308.869 C 555.545 308.923 555.389 308.977 555.236 309.022 C 555.131 309.058 555.031 309.089 554.927 309.117 C 554.905 309.126 554.887 309.13 554.866 309.135 C 554.682 309.197 554.495 309.247 554.312 309.292 C 554.264 309.31 554.216 309.319 554.168 309.332 C 554.064 309.364 553.959 309.391 553.854 309.414 C 553.723 309.445 553.593 309.476 553.462 309.503 C 553.375 309.526 553.292 309.543 553.205 309.557 C 553.144 309.575 553.087 309.584 553.026 309.597 C 552.913 309.62 552.799 309.643 552.686 309.661 C 552.665 309.665 552.642 309.67 552.621 309.67 C 552.604 309.679 552.586 309.683 552.569 309.683 C 552.473 309.701 552.381 309.719 552.286 309.732 C 552.085 309.763 551.889 309.795 551.689 309.822 L 551.689 304.256 C 551.689 302.8 550.543 301.614 549.126 301.614 C 547.71 301.614 546.564 302.8 546.564 304.256 L 546.564 309.808 C 546.568 309.808 546.568 309.808 546.572 309.813 C 546.572 309.813 546.568 309.813 546.564 309.813 C 546.433 309.799 546.302 309.781 546.176 309.759 C 546.045 309.737 545.919 309.719 545.788 309.696 C 545.526 309.651 545.265 309.602 545.004 309.548 C 544.969 309.543 544.934 309.534 544.895 309.52 C 544.677 309.476 544.459 309.426 544.241 309.368 C 543.975 309.305 543.705 309.233 543.439 309.152 C 543.33 309.121 543.225 309.089 543.116 309.053 C 543.042 309.035 542.973 309.008 542.899 308.981 C 542.145 308.739 541.404 308.447 540.676 308.106 C 540.489 308.02 540.301 307.93 540.118 307.836 C 538.88 307.22 537.691 306.47 536.575 305.576 C 536.562 305.567 536.553 305.558 536.54 305.549 C 536.536 305.545 536.531 305.54 536.527 305.54 C 536.514 305.527 536.501 305.517 536.483 305.509 L 536.496 305.495 L 540.305 301.574 C 541.303 300.545 541.308 298.869 540.305 297.836 C 539.303 296.803 537.682 296.807 536.684 297.836 L 532.879 301.758 L 532.862 301.776 C 532.831 301.735 532.801 301.694 532.77 301.654 C 532.687 301.551 532.609 301.443 532.539 301.335 C 532.513 301.299 532.487 301.263 532.461 301.223 C 532.456 301.214 532.448 301.205 532.439 301.191 C 532.409 301.146 532.378 301.102 532.348 301.057 C 532.278 300.958 532.208 300.854 532.138 300.756 C 531.929 300.446 531.733 300.136 531.546 299.817 C 531.493 299.731 531.445 299.646 531.397 299.556 C 531.393 299.552 531.389 299.552 531.389 299.547 C 531.345 299.475 531.306 299.399 531.262 299.322 C 531.241 299.286 531.219 299.246 531.197 299.205 C 531.162 299.147 531.127 299.084 531.101 299.021 C 531.084 298.994 531.071 298.963 531.053 298.936 C 531.023 298.882 530.997 298.828 530.966 298.774 C 530.914 298.671 530.861 298.568 530.809 298.469 C 530.748 298.343 530.687 298.222 530.63 298.096 L 530.578 297.988 C 530.452 297.723 530.334 297.454 530.221 297.184 C 529.994 296.65 529.794 296.101 529.611 295.553 C 529.611 295.544 529.606 295.535 529.602 295.531 C 529.515 295.261 529.432 294.992 529.358 294.722 C 529.31 294.546 529.262 294.372 529.218 294.196 C 528.992 293.32 528.822 292.435 528.709 291.541 C 528.704 291.492 528.695 291.447 528.691 291.398 L 534.043 291.398 C 535.455 291.398 536.605 290.216 536.605 288.756 C 536.605 287.296 535.455 286.114 534.043 286.114 L 528.639 286.114 C 528.77 285.032 528.979 283.976 529.266 282.952 C 529.306 282.803 529.349 282.655 529.393 282.507 C 529.441 282.341 529.493 282.17 529.55 282.004 C 529.628 281.766 529.707 281.527 529.794 281.289 C 529.833 281.177 529.876 281.065 529.92 280.952 C 530.012 280.714 530.107 280.476 530.208 280.238 C 530.291 280.036 530.382 279.834 530.474 279.636 C 530.674 279.205 530.888 278.778 531.119 278.36 C 531.245 278.118 531.38 277.88 531.524 277.646 C 531.559 277.583 531.598 277.52 531.637 277.457 C 531.75 277.269 531.868 277.08 531.995 276.896 C 532.038 276.819 532.09 276.743 532.147 276.667 C 532.291 276.442 532.448 276.217 532.613 276.002 C 532.679 275.903 532.748 275.804 532.823 275.71 L 532.827 275.714 L 532.836 275.723 L 532.844 275.732 L 532.849 275.737 L 536.645 279.645 C 537.643 280.674 539.268 280.678 540.266 279.645 C 541.269 278.616 541.264 276.941 540.266 275.912 L 536.47 271.994 L 536.449 271.972 C 536.566 271.878 536.688 271.783 536.81 271.698 C 537.107 271.469 537.403 271.253 537.708 271.046 C 540.096 269.402 542.746 268.333 545.474 267.843 C 545.609 267.821 545.749 267.794 545.884 267.771 C 546.102 267.731 546.324 267.699 546.542 267.677 L 546.542 273.248 C 546.542 274.703 547.688 275.889 549.104 275.889 C 550.52 275.889 551.667 274.703 551.667 273.248 L 551.667 267.695 C 551.662 267.695 551.662 267.695 551.658 267.69 C 551.658 267.69 551.662 267.69 551.667 267.69 C 551.798 267.704 551.929 267.722 552.055 267.744 C 552.186 267.767 552.312 267.785 552.443 267.807 C 552.705 267.852 552.966 267.902 553.227 267.956 C 553.262 267.96 553.297 267.969 553.336 267.982 C 553.554 268.027 553.772 268.077 553.99 268.135 C 554.256 268.198 554.526 268.27 554.792 268.351 C 554.901 268.382 555.005 268.414 555.114 268.45 C 555.188 268.468 555.258 268.495 555.332 268.522 C 556.086 268.764 556.828 269.056 557.555 269.398 C 557.743 269.483 557.93 269.573 558.113 269.667 C 559.351 270.283 560.54 271.033 561.656 271.927 C 561.669 271.936 561.678 271.945 561.691 271.954 C 561.696 271.958 561.7 271.963 561.704 271.963 C 561.717 271.976 561.73 271.985 561.748 271.994 L 561.735 272.008 L 557.926 275.93 C 556.928 276.959 556.923 278.634 557.926 279.668 C 558.928 280.701 560.55 280.696 561.548 279.668 L 565.352 275.746 L 565.369 275.728 C 565.4 275.768 565.43 275.808 565.461 275.849 C 565.544 275.952 565.622 276.06 565.692 276.168 C 565.718 276.204 565.744 276.24 565.77 276.28 C 565.775 276.289 565.783 276.298 565.792 276.312 C 565.823 276.357 565.854 276.401 565.884 276.446 C 565.953 276.545 566.023 276.649 566.093 276.747 C 566.302 277.057 566.498 277.367 566.686 277.686 C 566.737 277.772 566.785 277.857 566.834 277.947 C 566.838 277.951 566.842 277.951 566.842 277.956 C 566.887 278.028 566.925 278.104 566.969 278.181 C 566.991 278.216 567.013 278.257 567.034 278.297 C 567.069 278.356 567.104 278.419 567.13 278.482 C 567.148 278.508 567.161 278.54 567.178 278.567 C 567.208 278.621 567.235 278.675 567.265 278.729 C 567.317 278.832 567.369 278.935 567.422 279.034 C 567.483 279.16 567.544 279.281 567.6 279.407 L 567.653 279.515 C 567.779 279.78 567.897 280.049 568.01 280.319 C 568.237 280.854 568.437 281.402 568.62 281.95 C 568.62 281.959 568.624 281.968 568.629 281.972 C 568.716 282.242 568.799 282.511 568.873 282.781 C 568.921 282.956 568.969 283.131 569.012 283.307 C 569.239 284.183 569.409 285.068 569.522 285.962 C 569.527 286.011 569.535 286.056 569.54 286.105 L 564.188 286.105 C 562.776 286.105 561.625 287.287 561.625 288.747 C 561.625 290.207 562.776 291.389 564.188 291.389 L 569.544 291.389 C 569.531 291.527 569.509 291.671 569.487 291.81 Z M 549.078 278.081 C 543.36 278.081 538.723 282.861 538.723 288.756 C 538.723 294.65 543.36 299.43 549.078 299.43 C 554.796 299.43 559.433 294.65 559.433 288.756 C 559.433 282.861 554.796 278.081 549.078 278.081 Z M 549.078 296.397 C 544.986 296.397 541.665 292.974 541.665 288.756 C 541.665 284.537 544.986 281.114 549.078 281.114 C 553.17 281.114 556.491 284.537 556.491 288.756 C 556.491 292.974 553.17 296.397 549.078 296.397 Z M 550.59 304.488 L 550.59 311.6 C 553.955 311.366 557.28 310.347 560.287 308.545 C 560.518 308.406 560.745 308.262 560.971 308.114 C 561.268 307.921 561.56 307.718 561.847 307.512 C 561.856 307.503 561.869 307.494 561.882 307.485 C 562.022 307.382 562.161 307.278 562.3 307.17 C 562.501 307.018 562.697 306.86 562.893 306.699 C 563.041 306.581 563.19 306.456 563.333 306.334 C 563.364 306.303 563.394 306.28 563.425 306.249 C 563.534 306.155 563.643 306.06 563.752 305.957 L 558.901 300.957 C 558.326 300.364 558.326 299.412 558.901 298.823 C 559.472 298.23 560.396 298.23 560.971 298.823 L 565.822 303.823 C 565.874 303.765 565.922 303.707 565.97 303.648 C 566.092 303.5 566.214 303.352 566.332 303.203 C 566.45 303.051 566.567 302.902 566.68 302.75 C 566.798 302.597 566.907 302.444 567.02 302.287 C 567.129 302.134 567.238 301.977 567.343 301.82 C 567.417 301.712 567.491 301.604 567.561 301.492 C 567.643 301.366 567.726 301.236 567.805 301.106 C 567.87 301.003 567.936 300.899 567.997 300.796 C 568.058 300.697 568.114 300.599 568.175 300.495 C 568.24 300.387 568.302 300.275 568.363 300.162 C 568.454 300.001 568.541 299.844 568.624 299.677 C 568.729 299.484 568.829 299.291 568.921 299.093 C 568.986 298.963 569.052 298.828 569.117 298.693 C 569.117 298.689 569.121 298.689 569.121 298.684 C 569.195 298.523 569.274 298.352 569.344 298.186 C 569.418 298.015 569.492 297.849 569.562 297.673 C 569.701 297.332 569.836 296.986 569.958 296.635 C 570.023 296.46 570.085 296.28 570.141 296.105 C 570.207 295.908 570.272 295.71 570.329 295.512 C 570.429 295.171 570.525 294.829 570.608 294.483 C 570.717 294.043 570.813 293.603 570.895 293.163 C 570.913 293.078 570.926 292.992 570.939 292.907 C 570.974 292.718 571.004 292.534 571.035 292.345 C 571.062 292.157 571.087 291.968 571.113 291.779 C 571.123 291.698 571.136 291.622 571.144 291.541 C 571.192 291.123 571.231 290.701 571.257 290.283 C 571.257 290.274 571.262 290.265 571.262 290.256 L 564.415 290.256 C 563.605 290.256 562.951 289.582 562.951 288.747 C 562.951 287.911 563.605 287.237 564.415 287.237 L 571.262 287.237 C 571.253 287.026 571.235 286.82 571.214 286.613 C 571.197 286.437 571.179 286.263 571.162 286.087 C 571.144 285.912 571.123 285.737 571.096 285.561 C 571.075 285.391 571.049 285.215 571.018 285.045 C 570.974 284.775 570.926 284.506 570.879 284.241 C 570.103 280.243 568.321 276.622 565.815 273.67 L 564.699 274.82 L 564.673 274.847 L 564.668 274.852 L 564.655 274.865 L 560.933 278.702 C 560.358 279.29 559.434 279.29 558.863 278.702 C 558.288 278.109 558.288 277.156 558.863 276.568 L 562.589 272.727 L 562.602 272.713 L 563.744 271.536 C 562.694 270.584 561.556 269.735 560.345 268.998 C 560.171 268.894 559.996 268.791 559.822 268.692 C 559.743 268.647 559.665 268.602 559.582 268.558 C 559.416 268.468 559.251 268.378 559.085 268.292 C 558.985 268.239 558.885 268.189 558.78 268.135 C 558.571 268.027 558.362 267.929 558.148 267.83 C 558.026 267.767 557.9 267.713 557.774 267.659 C 557.7 267.623 557.63 267.592 557.556 267.565 C 557.329 267.466 557.098 267.376 556.867 267.286 C 556.854 267.282 556.841 267.277 556.828 267.268 C 556.649 267.201 556.466 267.133 556.288 267.071 C 556.105 267.003 555.917 266.94 555.73 266.882 C 555.7 266.873 555.669 266.864 555.643 266.855 C 555.482 266.805 555.325 266.756 555.163 266.711 C 554.989 266.657 554.81 266.608 554.636 266.563 C 554.013 266.397 553.385 266.262 552.753 266.154 C 552.706 266.145 552.657 266.141 552.609 266.132 C 552.505 266.114 552.404 266.096 552.3 266.082 C 552.078 266.051 551.855 266.019 551.629 265.992 C 551.624 265.992 551.624 265.992 551.62 265.992 L 551.616 265.992 C 551.389 265.965 551.162 265.943 550.931 265.92 C 550.809 265.911 550.692 265.902 550.57 265.893 L 550.57 273.014 C 550.57 273.85 549.916 274.524 549.105 274.524 C 548.295 274.524 547.641 273.85 547.641 273.014 L 547.641 265.893 C 544.199 266.127 540.799 267.178 537.74 269.061 C 537.657 269.11 537.574 269.16 537.491 269.213 C 537.282 269.344 537.077 269.479 536.873 269.618 C 536.663 269.762 536.454 269.91 536.245 270.058 C 536.219 270.076 536.197 270.094 536.171 270.112 C 536.04 270.211 535.909 270.31 535.783 270.404 C 535.556 270.584 535.33 270.768 535.108 270.948 C 534.89 271.141 534.672 271.329 534.458 271.523 L 539.331 276.545 C 539.906 277.138 539.906 278.091 539.331 278.679 C 538.76 279.272 537.836 279.272 537.26 278.679 L 532.388 273.657 C 532.227 273.845 532.07 274.034 531.913 274.223 C 531.76 274.42 531.608 274.613 531.46 274.811 C 531.364 274.941 531.268 275.076 531.172 275.211 C 530.954 275.521 530.741 275.835 530.536 276.15 C 530.331 276.469 530.139 276.788 529.952 277.116 C 529.839 277.318 529.725 277.52 529.616 277.722 C 529.289 278.333 528.993 278.958 528.723 279.591 C 528.649 279.775 528.575 279.955 528.501 280.139 C 528.435 280.31 528.37 280.485 528.305 280.656 C 527.86 281.873 527.52 283.122 527.28 284.385 C 527.25 284.564 527.215 284.744 527.184 284.928 C 527.128 285.288 527.076 285.651 527.032 286.016 C 527.015 286.173 527.001 286.33 526.984 286.483 C 526.958 286.738 526.94 286.99 526.923 287.246 L 533.818 287.246 C 534.628 287.246 535.282 287.92 535.282 288.756 C 535.282 289.591 534.628 290.265 533.818 290.265 L 526.971 290.265 C 526.98 290.476 526.997 290.683 527.019 290.889 C 527.036 291.065 527.054 291.24 527.071 291.415 C 527.089 291.59 527.11 291.765 527.137 291.941 C 527.158 292.111 527.184 292.287 527.215 292.457 C 527.259 292.727 527.306 292.996 527.354 293.262 C 528.13 297.259 529.913 300.881 532.419 303.832 L 533.534 302.682 L 533.56 302.655 L 533.565 302.65 L 533.578 302.637 L 537.3 298.8 C 537.875 298.211 538.799 298.211 539.37 298.8 C 539.945 299.393 539.945 300.345 539.37 300.934 L 535.644 304.775 L 535.631 304.789 L 535.613 304.807 L 534.489 305.965 C 535.539 306.918 536.676 307.767 537.888 308.504 C 538.062 308.607 538.237 308.71 538.411 308.809 C 538.489 308.855 538.568 308.899 538.651 308.944 C 538.816 309.034 538.982 309.124 539.148 309.21 C 539.248 309.263 539.348 309.312 539.453 309.367 C 539.662 309.475 539.871 309.573 540.085 309.672 C 540.207 309.736 540.333 309.79 540.459 309.843 C 540.533 309.879 540.603 309.91 540.677 309.938 C 540.904 310.037 541.135 310.126 541.366 310.216 C 541.379 310.221 541.392 310.225 541.405 310.234 C 541.584 310.301 541.767 310.369 541.945 310.432 C 542.128 310.499 542.316 310.562 542.503 310.62 C 542.534 310.63 542.564 310.638 542.59 310.648 C 542.752 310.697 542.909 310.746 543.07 310.791 C 543.244 310.845 543.423 310.894 543.597 310.939 C 544.22 311.105 544.848 311.24 545.48 311.348 C 545.628 311.375 545.781 311.397 545.933 311.42 C 546.155 311.451 546.378 311.483 546.604 311.51 L 546.617 311.51 C 546.665 311.519 546.708 311.523 546.752 311.528 C 546.935 311.55 547.119 311.568 547.302 311.581 C 547.42 311.591 547.541 311.599 547.663 311.609 L 547.663 304.487 C 547.663 303.652 548.317 302.978 549.128 302.978 C 549.936 302.979 550.59 303.653 550.59 304.488 Z M 546.563 304.255 L 546.563 309.808 C 546.568 309.808 546.568 309.808 546.572 309.812 C 546.572 309.812 546.568 309.812 546.563 309.812 C 546.433 309.799 546.302 309.781 546.175 309.758 C 546.045 309.736 545.918 309.718 545.788 309.695 C 545.526 309.65 545.265 309.601 545.003 309.547 C 544.968 309.542 544.933 309.533 544.894 309.52 C 544.676 309.475 544.458 309.425 544.24 309.367 C 543.975 309.304 543.704 309.232 543.439 309.152 C 543.33 309.12 543.225 309.088 543.116 309.052 C 543.042 309.034 542.972 309.007 542.898 308.98 C 542.144 308.738 541.403 308.446 540.675 308.105 C 540.488 308.019 540.301 307.929 540.118 307.835 C 538.88 307.219 537.69 306.469 536.574 305.576 C 536.561 305.566 536.553 305.558 536.54 305.548 C 536.535 305.544 536.531 305.539 536.527 305.539 C 536.513 305.526 536.5 305.516 536.483 305.508 L 536.496 305.494 L 540.305 301.573 C 541.303 300.544 541.307 298.868 540.305 297.835 C 539.303 296.802 537.681 296.806 536.683 297.835 L 532.879 301.757 L 532.861 301.775 C 532.831 301.734 532.8 301.694 532.77 301.653 C 532.687 301.55 532.609 301.442 532.539 301.334 C 532.513 301.298 532.487 301.262 532.46 301.222 C 532.456 301.213 532.447 301.204 532.439 301.19 C 532.408 301.145 532.378 301.101 532.347 301.056 C 532.277 300.957 532.208 300.853 532.138 300.755 C 531.929 300.445 531.733 300.135 531.545 299.816 C 531.493 299.73 531.445 299.645 531.397 299.555 C 531.393 299.551 531.388 299.551 531.388 299.546 C 531.345 299.474 531.306 299.398 531.262 299.321 C 531.24 299.286 531.218 299.245 531.197 299.204 C 531.162 299.146 531.127 299.083 531.101 299.02 C 531.083 298.993 531.07 298.962 531.053 298.935 C 531.022 298.881 530.996 298.827 530.966 298.773 C 530.913 298.671 530.861 298.567 530.809 298.468 C 530.748 298.342 530.687 298.221 530.63 298.095 L 530.578 297.987 C 530.451 297.722 530.334 297.453 530.22 297.183 C 529.994 296.649 529.793 296.1 529.61 295.552 C 529.61 295.543 529.606 295.534 529.601 295.53 C 529.514 295.26 529.432 294.991 529.357 294.721 C 529.309 294.545 529.262 294.371 529.218 294.196 C 528.991 293.319 528.821 292.434 528.708 291.54 C 528.704 291.491 528.695 291.446 528.691 291.397 L 534.042 291.397 C 535.454 291.397 536.605 290.215 536.605 288.755 C 536.605 287.295 535.454 286.113 534.042 286.113 L 528.638 286.113 C 528.769 285.031 528.978 283.975 529.266 282.951 C 529.305 282.802 529.349 282.654 529.392 282.506 C 529.44 282.34 529.493 282.169 529.549 282.003 C 529.628 281.765 529.706 281.527 529.793 281.288 C 529.832 281.176 529.876 281.064 529.92 280.952 C 530.011 280.713 530.107 280.475 530.207 280.237 C 530.29 280.035 530.382 279.833 530.473 279.635 C 530.674 279.204 530.887 278.777 531.118 278.359 C 531.244 278.117 531.38 277.879 531.523 277.645 C 531.558 277.582 531.598 277.519 531.637 277.456 C 531.75 277.268 531.868 277.079 531.994 276.895 C 532.038 276.818 532.09 276.742 532.147 276.666 C 532.29 276.441 532.447 276.216 532.613 276.001 C 532.678 275.902 532.748 275.803 532.822 275.709 L 532.826 275.713 L 532.835 275.722 L 532.844 275.731 L 532.848 275.736 L 536.644 279.644 C 537.642 280.673 539.268 280.677 540.266 279.644 C 541.268 278.615 541.264 276.94 540.266 275.911 L 536.47 271.993 L 536.448 271.971 C 536.566 271.877 536.688 271.782 536.81 271.697 C 537.106 271.468 537.403 271.252 537.708 271.045 C 540.096 269.401 542.746 268.332 545.474 267.842 C 545.609 267.82 545.748 267.793 545.883 267.77 C 546.101 267.73 546.324 267.699 546.541 267.676 L 546.541 273.247 C 546.541 274.702 547.687 275.888 549.104 275.888 C 550.52 275.888 551.667 274.702 551.667 273.247 L 551.667 267.694 C 551.662 267.694 551.662 267.694 551.657 267.69 C 551.657 267.69 551.662 267.69 551.667 267.69 C 551.797 267.703 551.928 267.721 552.055 267.743 C 552.185 267.766 552.312 267.784 552.442 267.806 C 552.704 267.851 552.965 267.901 553.227 267.955 C 553.262 267.959 553.297 267.968 553.336 267.982 C 553.554 268.027 553.772 268.076 553.99 268.134 C 554.255 268.197 554.526 268.269 554.792 268.35 C 554.901 268.381 555.005 268.413 555.114 268.449 C 555.188 268.467 555.258 268.494 555.332 268.521 C 556.086 268.763 556.827 269.055 557.555 269.397 C 557.742 269.482 557.929 269.572 558.113 269.666 C 559.35 270.282 560.54 271.032 561.656 271.926 C 561.669 271.935 561.678 271.944 561.691 271.953 C 561.695 271.957 561.699 271.962 561.703 271.962 C 561.716 271.975 561.73 271.984 561.747 271.993 L 561.734 272.007 L 557.925 275.929 C 556.927 276.958 556.923 278.633 557.925 279.667 C 558.928 280.7 560.549 280.695 561.547 279.667 L 565.352 275.745 L 565.369 275.727 C 565.4 275.767 565.43 275.808 565.461 275.848 C 565.543 275.951 565.622 276.059 565.692 276.167 C 565.718 276.203 565.744 276.239 565.77 276.279 C 565.774 276.288 565.783 276.297 565.792 276.311 C 565.822 276.356 565.853 276.401 565.883 276.446 C 565.953 276.544 566.023 276.648 566.092 276.747 C 566.301 277.057 566.498 277.366 566.685 277.685 C 566.737 277.771 566.785 277.856 566.833 277.946 C 566.838 277.951 566.842 277.951 566.842 277.955 C 566.886 278.027 566.925 278.103 566.968 278.18 C 566.99 278.216 567.012 278.256 567.034 278.296 C 567.069 278.355 567.104 278.418 567.13 278.481 C 567.147 278.508 567.16 278.539 567.178 278.566 C 567.208 278.62 567.234 278.674 567.265 278.728 C 567.317 278.831 567.369 278.934 567.421 279.033 C 567.483 279.159 567.543 279.28 567.6 279.406 L 567.652 279.514 C 567.779 279.779 567.896 280.049 568.01 280.318 C 568.236 280.853 568.436 281.401 568.619 281.949 C 568.619 281.958 568.624 281.967 568.628 281.971 C 568.715 282.241 568.798 282.51 568.873 282.78 C 568.92 282.955 568.968 283.13 569.012 283.306 C 569.239 284.182 569.409 285.067 569.522 285.961 C 569.526 286.01 569.535 286.055 569.539 286.104 L 564.188 286.104 C 562.775 286.104 561.625 287.286 561.625 288.746 C 561.625 290.206 562.775 291.388 564.188 291.388 L 569.544 291.388 C 569.531 291.527 569.509 291.671 569.487 291.81 C 569.474 291.926 569.456 292.044 569.435 292.16 C 569.417 292.277 569.4 292.389 569.378 292.506 C 569.348 292.677 569.317 292.852 569.282 293.023 C 569.252 293.198 569.212 293.368 569.173 293.539 C 569.099 293.881 569.016 294.222 568.92 294.559 C 568.876 294.725 568.829 294.891 568.777 295.058 C 568.729 295.224 568.676 295.39 568.62 295.556 C 568.506 295.906 568.384 296.253 568.249 296.598 C 568.123 296.931 567.987 297.259 567.84 297.582 C 567.835 297.591 567.831 297.595 567.827 297.604 C 567.779 297.712 567.731 297.825 567.678 297.932 C 567.631 298.04 567.579 298.148 567.522 298.251 C 567.439 298.431 567.352 298.606 567.256 298.781 C 567.221 298.853 567.186 298.921 567.147 298.993 C 567.108 299.069 567.069 299.141 567.025 299.213 C 566.99 299.289 566.947 299.361 566.899 299.437 C 566.864 299.509 566.816 299.586 566.772 299.662 C 566.764 299.68 566.755 299.702 566.742 299.72 C 566.729 299.747 566.712 299.774 566.694 299.801 C 566.651 299.878 566.607 299.95 566.564 300.021 C 566.551 300.044 566.537 300.066 566.524 300.084 C 566.394 300.304 566.259 300.521 566.115 300.731 C 566.028 300.866 565.936 301.001 565.84 301.135 C 565.696 301.347 565.544 301.557 565.383 301.764 L 561.587 297.856 C 560.589 296.827 558.963 296.822 557.965 297.856 C 556.962 298.884 556.967 300.561 557.965 301.589 L 561.76 305.507 C 561.752 305.511 561.748 305.52 561.739 305.525 C 561.516 305.704 561.29 305.88 561.063 306.046 C 560.837 306.212 560.61 306.373 560.375 306.526 C 560.375 306.531 560.37 306.531 560.366 306.531 C 560.135 306.692 559.9 306.841 559.66 306.985 C 559.538 307.057 559.42 307.133 559.298 307.2 C 559.219 307.249 559.141 307.294 559.058 307.335 C 559.019 307.362 558.976 307.384 558.936 307.407 C 558.932 307.407 558.927 307.412 558.919 307.416 C 558.915 307.416 558.91 307.421 558.906 307.421 C 558.675 307.555 558.44 307.681 558.205 307.793 L 558.2 307.798 C 558.196 307.803 558.187 307.807 558.182 307.807 C 558.083 307.861 557.982 307.91 557.882 307.956 C 557.773 308.01 557.669 308.059 557.56 308.108 L 557.555 308.113 C 557.525 308.131 557.494 308.144 557.464 308.153 C 557.259 308.248 557.054 308.342 556.845 308.423 C 556.736 308.472 556.622 308.518 556.513 308.558 C 556.404 308.608 556.291 308.652 556.178 308.693 C 556.016 308.756 555.86 308.815 555.698 308.868 C 555.545 308.922 555.389 308.976 555.236 309.021 C 555.131 309.057 555.031 309.088 554.927 309.116 C 554.905 309.125 554.887 309.129 554.866 309.134 C 554.682 309.197 554.495 309.246 554.312 309.291 C 554.264 309.309 554.216 309.318 554.168 309.331 C 554.064 309.363 553.959 309.39 553.854 309.413 C 553.723 309.444 553.593 309.476 553.462 309.502 C 553.375 309.525 553.292 309.542 553.205 309.556 C 553.144 309.574 553.087 309.583 553.026 309.596 C 552.913 309.619 552.799 309.642 552.686 309.66 C 552.665 309.664 552.642 309.669 552.621 309.669 C 552.604 309.678 552.586 309.682 552.569 309.682 C 552.473 309.7 552.381 309.718 552.286 309.732 C 552.085 309.763 551.889 309.794 551.689 309.821 L 551.689 304.255 C 551.689 302.799 550.543 301.613 549.126 301.613 C 547.71 301.613 546.563 302.799 546.563 304.255 Z M 558.343 314.853 L 558.321 314.853 C 568.576 310.899 575.88 300.706 575.88 288.756 C 575.88 273.373 563.782 260.902 548.86 260.902 C 543.617 260.902 538.727 262.443 534.583 265.107 L 534.583 249.446 L 539.368 249.446 L 539.368 239.059 L 517.05 239.059 L 517.05 249.446 L 521.84 249.446 L 521.84 288.756 C 521.84 300.724 529.161 310.926 539.438 314.866 C 539.433 318.213 537.023 320.98 533.899 321.439 L 530.412 321.439 L 530.412 331.367 L 567.744 331.367 L 567.744 321.439 L 563.921 321.439 C 560.771 321.003 558.343 318.218 558.343 314.853 Z M 519.443 241.526 L 536.975 241.526 L 536.975 244.001 L 519.443 244.001 L 519.443 241.526 Z M 519.443 246.975 L 519.443 244.504 L 536.975 244.504 L 536.975 246.975 L 532.19 246.975 L 532.19 266.832 C 528.787 269.59 526.037 273.171 524.232 277.286 L 524.232 246.975 L 519.443 246.975 Z M 524.232 288.756 C 524.232 274.734 535.258 263.368 548.86 263.368 C 562.462 263.368 573.488 274.734 573.488 288.756 C 573.488 302.777 562.462 314.143 548.86 314.143 C 535.258 314.143 524.232 302.777 524.232 288.756 Z M 565.12 328.663 L 533.036 328.663 L 533.036 324.92 L 565.12 324.92 L 565.12 328.663 Z M 533.036 324.143 C 535.498 324.13 537.721 323.105 539.342 321.439 C 540.802 319.943 541.765 317.93 541.957 315.693 C 544.162 316.29 546.476 316.609 548.86 316.609 C 551.27 316.609 553.602 316.286 555.824 315.675 C 556.012 317.921 556.975 319.938 558.439 321.439 C 560.069 323.114 562.314 324.143 564.793 324.143 L 533.036 324.143 Z M 559.433 288.756 C 559.433 282.861 554.796 278.081 549.078 278.081 C 543.36 278.081 538.723 282.861 538.723 288.756 C 538.723 294.65 543.36 299.43 549.078 299.43 C 554.796 299.43 559.433 294.65 559.433 288.756 Z M 549.078 296.397 C 544.986 296.397 541.665 292.974 541.665 288.756 C 541.665 284.537 544.986 281.114 549.078 281.114 C 553.17 281.114 556.491 284.537 556.491 288.756 C 556.491 292.974 553.17 296.397 549.078 296.397 Z M 549.078 278.081 C 543.36 278.081 538.723 282.861 538.723 288.756 C 538.723 294.65 543.36 299.43 549.078 299.43 C 554.796 299.43 559.433 294.65 559.433 288.756 C 559.433 282.861 554.796 278.081 549.078 278.081 Z M 549.078 296.397 C 544.986 296.397 541.665 292.974 541.665 288.756 C 541.665 284.537 544.986 281.114 549.078 281.114 C 553.17 281.114 556.491 284.537 556.491 288.756 C 556.491 292.974 553.17 296.397 549.078 296.397 Z M 562.95 288.747 C 562.95 287.911 563.604 287.237 564.414 287.237 L 571.261 287.237 C 571.252 287.026 571.234 286.82 571.213 286.613 C 571.195 286.437 571.178 286.263 571.161 286.087 C 571.143 285.912 571.121 285.737 571.095 285.561 C 571.073 285.391 571.048 285.215 571.017 285.045 C 570.973 284.775 570.925 284.506 570.877 284.241 C 570.102 280.243 568.319 276.622 565.814 273.67 L 564.697 274.82 L 564.671 274.847 L 564.666 274.852 L 564.654 274.865 L 560.932 278.702 C 560.357 279.29 559.433 279.29 558.862 278.702 C 558.287 278.109 558.287 277.156 558.862 276.568 L 562.588 272.727 L 562.601 272.713 L 563.743 271.536 C 562.693 270.584 561.555 269.735 560.343 268.998 C 560.169 268.894 559.995 268.791 559.821 268.692 C 559.742 268.647 559.664 268.602 559.581 268.558 C 559.415 268.468 559.249 268.378 559.084 268.292 C 558.984 268.239 558.883 268.189 558.779 268.135 C 558.57 268.027 558.36 267.929 558.147 267.83 C 558.025 267.767 557.899 267.713 557.772 267.659 C 557.698 267.623 557.629 267.592 557.554 267.565 C 557.327 267.466 557.097 267.376 556.866 267.286 C 556.853 267.282 556.839 267.277 556.827 267.268 C 556.648 267.201 556.465 267.133 556.286 267.071 C 556.103 267.003 555.916 266.94 555.728 266.882 C 555.698 266.873 555.667 266.864 555.641 266.855 C 555.48 266.805 555.324 266.756 555.162 266.711 C 554.988 266.657 554.809 266.608 554.635 266.563 C 554.011 266.397 553.384 266.262 552.752 266.154 C 552.704 266.145 552.656 266.141 552.608 266.132 C 552.504 266.114 552.403 266.096 552.299 266.082 C 552.076 266.051 551.854 266.019 551.627 265.992 C 551.623 265.992 551.623 265.992 551.619 265.992 L 551.614 265.992 C 551.387 265.965 551.161 265.943 550.93 265.92 C 550.808 265.911 550.69 265.902 550.568 265.893 L 550.568 273.014 C 550.568 273.85 549.915 274.524 549.104 274.524 C 548.294 274.524 547.64 273.85 547.64 273.014 L 547.64 265.893 C 544.197 266.127 540.798 267.178 537.739 269.061 C 537.656 269.11 537.573 269.16 537.49 269.213 C 537.281 269.344 537.076 269.479 536.871 269.618 C 536.662 269.762 536.453 269.91 536.244 270.058 C 536.218 270.076 536.196 270.094 536.17 270.112 C 536.039 270.211 535.908 270.31 535.782 270.404 C 535.555 270.584 535.328 270.768 535.106 270.948 C 534.888 271.141 534.67 271.329 534.457 271.523 L 539.329 276.545 C 539.905 277.138 539.905 278.091 539.329 278.679 C 538.758 279.272 537.834 279.272 537.259 278.679 L 532.387 273.657 C 532.226 273.845 532.069 274.034 531.912 274.223 C 531.759 274.42 531.607 274.613 531.458 274.811 C 531.363 274.941 531.267 275.076 531.171 275.211 C 530.953 275.521 530.739 275.835 530.535 276.15 C 530.33 276.469 530.138 276.788 529.951 277.116 C 529.837 277.318 529.724 277.52 529.615 277.722 C 529.288 278.333 528.992 278.958 528.722 279.591 C 528.647 279.775 528.573 279.955 528.499 280.139 C 528.434 280.31 528.369 280.485 528.303 280.656 C 527.859 281.873 527.519 283.122 527.279 284.385 C 527.249 284.564 527.214 284.744 527.183 284.928 C 527.127 285.288 527.074 285.651 527.031 286.016 C 527.013 286.173 527 286.33 526.983 286.483 C 526.957 286.738 526.939 286.99 526.922 287.246 L 533.816 287.246 C 534.627 287.246 535.281 287.92 535.281 288.756 C 535.281 289.591 534.627 290.265 533.816 290.265 L 526.97 290.265 C 526.978 290.476 526.996 290.683 527.018 290.889 C 527.035 291.065 527.052 291.24 527.07 291.415 C 527.087 291.59 527.109 291.765 527.135 291.941 C 527.157 292.111 527.183 292.287 527.214 292.457 C 527.257 292.727 527.305 292.996 527.353 293.262 C 528.129 297.259 529.911 300.881 532.417 303.832 L 533.533 302.682 L 533.559 302.655 L 533.563 302.65 L 533.577 302.637 L 537.298 298.8 C 537.874 298.211 538.798 298.211 539.368 298.8 C 539.944 299.393 539.944 300.345 539.368 300.934 L 535.642 304.775 L 535.629 304.789 L 535.612 304.807 L 534.487 305.965 C 535.538 306.918 536.675 307.767 537.887 308.504 C 538.061 308.607 538.235 308.71 538.41 308.809 C 538.488 308.855 538.567 308.899 538.649 308.944 C 538.815 309.034 538.981 309.124 539.146 309.21 C 539.246 309.263 539.347 309.312 539.451 309.367 C 539.66 309.475 539.87 309.573 540.083 309.672 C 540.205 309.736 540.332 309.79 540.458 309.843 C 540.532 309.879 540.602 309.91 540.676 309.938 C 540.903 310.037 541.134 310.126 541.364 310.216 C 541.378 310.221 541.391 310.225 541.404 310.234 C 541.582 310.301 541.765 310.369 541.944 310.432 C 542.127 310.499 542.315 310.562 542.502 310.62 C 542.532 310.63 542.563 310.638 542.589 310.648 C 542.75 310.697 542.907 310.746 543.069 310.791 C 543.243 310.845 543.422 310.894 543.596 310.939 C 544.219 311.105 544.847 311.24 545.479 311.348 C 545.627 311.375 545.779 311.397 545.932 311.42 C 546.154 311.451 546.376 311.483 546.603 311.51 L 546.616 311.51 C 546.664 311.519 546.707 311.523 546.751 311.528 C 546.934 311.55 547.117 311.568 547.3 311.581 C 547.418 311.591 547.54 311.599 547.662 311.609 L 547.662 304.487 C 547.662 303.652 548.316 302.978 549.126 302.978 C 549.936 302.978 550.59 303.652 550.59 304.487 L 550.59 311.599 C 553.955 311.366 557.28 310.346 560.287 308.544 C 560.518 308.405 560.745 308.261 560.971 308.113 C 561.268 307.92 561.56 307.718 561.847 307.511 C 561.856 307.502 561.869 307.493 561.882 307.484 C 562.022 307.381 562.161 307.277 562.3 307.169 C 562.501 307.017 562.697 306.86 562.893 306.698 C 563.041 306.581 563.19 306.455 563.333 306.333 C 563.364 306.302 563.394 306.28 563.425 306.249 C 563.534 306.154 563.643 306.059 563.752 305.957 L 558.901 300.956 C 558.326 300.363 558.326 299.411 558.901 298.822 C 559.472 298.229 560.396 298.229 560.971 298.822 L 565.822 303.823 C 565.874 303.764 565.922 303.706 565.97 303.647 C 566.092 303.499 566.214 303.351 566.332 303.203 C 566.45 303.05 566.567 302.902 566.68 302.749 C 566.798 302.596 566.907 302.443 567.02 302.286 C 567.129 302.133 567.238 301.976 567.343 301.819 C 567.417 301.711 567.491 301.603 567.561 301.491 C 567.643 301.366 567.726 301.235 567.805 301.105 C 567.87 301.002 567.936 300.898 567.997 300.795 C 568.058 300.696 568.114 300.598 568.175 300.494 C 568.24 300.386 568.302 300.274 568.363 300.162 C 568.454 300 568.541 299.843 568.624 299.676 C 568.729 299.483 568.829 299.29 568.921 299.092 C 568.986 298.962 569.052 298.827 569.117 298.693 C 569.117 298.688 569.121 298.688 569.121 298.683 C 569.195 298.522 569.274 298.351 569.344 298.185 C 569.418 298.014 569.492 297.848 569.562 297.672 C 569.701 297.331 569.836 296.985 569.958 296.635 C 570.023 296.459 570.085 296.28 570.141 296.104 C 570.207 295.907 570.272 295.709 570.329 295.511 C 570.429 295.17 570.525 294.828 570.608 294.483 C 570.717 294.042 570.813 293.602 570.895 293.162 C 570.913 293.077 570.926 292.991 570.939 292.906 C 570.974 292.717 571.004 292.533 571.035 292.345 C 571.062 292.156 571.087 291.967 571.113 291.779 C 571.123 291.697 571.136 291.621 571.144 291.54 C 571.192 291.122 571.231 290.7 571.257 290.283 C 571.257 290.273 571.262 290.265 571.262 290.255 L 564.415 290.255 C 563.604 290.256 562.95 289.582 562.95 288.747 Z M 569.487 291.81 C 569.474 291.927 569.456 292.044 569.435 292.161 C 569.417 292.278 569.4 292.39 569.378 292.507 C 569.348 292.678 569.317 292.853 569.282 293.023 C 569.252 293.199 569.212 293.369 569.173 293.54 C 569.099 293.881 569.016 294.223 568.92 294.56 C 568.876 294.726 568.829 294.892 568.777 295.059 C 568.729 295.225 568.676 295.391 568.62 295.557 C 568.506 295.907 568.384 296.254 568.249 296.599 C 568.123 296.931 567.987 297.259 567.84 297.583 C 567.835 297.592 567.831 297.596 567.827 297.605 C 567.779 297.713 567.731 297.825 567.678 297.933 C 567.631 298.041 567.579 298.148 567.522 298.252 C 567.439 298.432 567.352 298.607 567.256 298.782 C 567.221 298.854 567.186 298.922 567.147 298.994 C 567.108 299.07 567.069 299.142 567.025 299.214 C 566.99 299.29 566.947 299.362 566.899 299.438 C 566.864 299.51 566.816 299.587 566.772 299.663 C 566.764 299.681 566.755 299.703 566.742 299.721 C 566.729 299.748 566.712 299.775 566.694 299.802 C 566.651 299.879 566.607 299.95 566.564 300.022 C 566.551 300.045 566.537 300.067 566.524 300.085 C 566.394 300.305 566.259 300.521 566.115 300.732 C 566.028 300.867 565.936 301.002 565.84 301.136 C 565.696 301.348 565.544 301.558 565.383 301.765 L 561.587 297.856 C 560.589 296.828 558.963 296.823 557.965 297.856 C 556.962 298.885 556.967 300.561 557.965 301.59 L 561.76 305.508 C 561.752 305.512 561.748 305.521 561.739 305.526 C 561.516 305.705 561.29 305.881 561.063 306.047 C 560.837 306.213 560.61 306.374 560.375 306.527 C 560.375 306.532 560.37 306.532 560.366 306.532 C 560.135 306.693 559.9 306.842 559.66 306.986 C 559.538 307.058 559.42 307.134 559.298 307.201 C 559.219 307.25 559.141 307.295 559.058 307.336 C 559.019 307.363 558.976 307.385 558.936 307.408 C 558.932 307.408 558.927 307.413 558.919 307.417 C 558.915 307.417 558.91 307.422 558.906 307.422 C 558.675 307.556 558.44 307.682 558.205 307.794 L 558.2 307.799 C 558.196 307.804 558.187 307.808 558.182 307.808 C 558.083 307.862 557.982 307.911 557.882 307.957 C 557.773 308.01 557.669 308.059 557.56 308.109 L 557.555 308.114 C 557.525 308.132 557.494 308.145 557.464 308.154 C 557.259 308.249 557.054 308.343 556.845 308.424 C 556.736 308.473 556.622 308.519 556.513 308.559 C 556.404 308.608 556.291 308.653 556.178 308.694 C 556.016 308.757 555.86 308.816 555.698 308.869 C 555.545 308.923 555.389 308.977 555.236 309.022 C 555.131 309.058 555.031 309.089 554.927 309.117 C 554.905 309.126 554.887 309.13 554.866 309.135 C 554.682 309.197 554.495 309.247 554.312 309.292 C 554.264 309.31 554.216 309.319 554.168 309.332 C 554.064 309.364 553.959 309.391 553.854 309.414 C 553.723 309.445 553.593 309.476 553.462 309.503 C 553.375 309.526 553.292 309.543 553.205 309.557 C 553.144 309.575 553.087 309.584 553.026 309.597 C 552.913 309.62 552.799 309.643 552.686 309.661 C 552.665 309.665 552.642 309.67 552.621 309.67 C 552.604 309.679 552.586 309.683 552.569 309.683 C 552.473 309.701 552.381 309.719 552.286 309.732 C 552.085 309.763 551.889 309.795 551.689 309.822 L 551.689 304.256 C 551.689 302.8 550.543 301.614 549.126 301.614 C 547.71 301.614 546.564 302.8 546.564 304.256 L 546.564 309.808 C 546.568 309.808 546.568 309.808 546.572 309.813 C 546.572 309.813 546.568 309.813 546.564 309.813 C 546.433 309.799 546.302 309.781 546.176 309.759 C 546.045 309.737 545.919 309.719 545.788 309.696 C 545.526 309.651 545.265 309.602 545.004 309.548 C 544.969 309.543 544.934 309.534 544.895 309.52 C 544.677 309.476 544.459 309.426 544.241 309.368 C 543.975 309.305 543.705 309.233 543.439 309.152 C 543.33 309.121 543.225 309.089 543.116 309.053 C 543.042 309.035 542.973 309.008 542.899 308.981 C 542.145 308.739 541.404 308.447 540.676 308.106 C 540.489 308.02 540.301 307.93 540.118 307.836 C 538.88 307.22 537.691 306.47 536.575 305.576 C 536.562 305.567 536.553 305.558 536.54 305.549 C 536.536 305.545 536.531 305.54 536.527 305.54 C 536.514 305.527 536.501 305.517 536.483 305.509 L 536.496 305.495 L 540.305 301.574 C 541.303 300.545 541.308 298.869 540.305 297.836 C 539.303 296.803 537.682 296.807 536.684 297.836 L 532.879 301.758 L 532.862 301.776 C 532.831 301.735 532.801 301.694 532.77 301.654 C 532.687 301.551 532.609 301.443 532.539 301.335 C 532.513 301.299 532.487 301.263 532.461 301.223 C 532.456 301.214 532.448 301.205 532.439 301.191 C 532.409 301.146 532.378 301.102 532.348 301.057 C 532.278 300.958 532.208 300.854 532.138 300.756 C 531.929 300.446 531.733 300.136 531.546 299.817 C 531.493 299.731 531.445 299.646 531.397 299.556 C 531.393 299.552 531.389 299.552 531.389 299.547 C 531.345 299.475 531.306 299.399 531.262 299.322 C 531.241 299.286 531.219 299.246 531.197 299.205 C 531.162 299.147 531.127 299.084 531.101 299.021 C 531.084 298.994 531.071 298.963 531.053 298.936 C 531.023 298.882 530.997 298.828 530.966 298.774 C 530.914 298.671 530.861 298.568 530.809 298.469 C 530.748 298.343 530.687 298.222 530.63 298.096 L 530.578 297.988 C 530.452 297.723 530.334 297.454 530.221 297.184 C 529.994 296.65 529.794 296.101 529.611 295.553 C 529.611 295.544 529.606 295.535 529.602 295.531 C 529.515 295.261 529.432 294.992 529.358 294.722 C 529.31 294.546 529.262 294.372 529.218 294.196 C 528.992 293.32 528.822 292.435 528.709 291.541 C 528.704 291.492 528.695 291.447 528.691 291.398 L 534.043 291.398 C 535.455 291.398 536.605 290.216 536.605 288.756 C 536.605 287.296 535.455 286.114 534.043 286.114 L 528.639 286.114 C 528.77 285.032 528.979 283.976 529.266 282.952 C 529.306 282.803 529.349 282.655 529.393 282.507 C 529.441 282.341 529.493 282.17 529.55 282.004 C 529.628 281.766 529.707 281.527 529.794 281.289 C 529.833 281.177 529.876 281.065 529.92 280.952 C 530.012 280.714 530.107 280.476 530.208 280.238 C 530.291 280.036 530.382 279.834 530.474 279.636 C 530.674 279.205 530.888 278.778 531.119 278.36 C 531.245 278.118 531.38 277.88 531.524 277.646 C 531.559 277.583 531.598 277.52 531.637 277.457 C 531.75 277.269 531.868 277.08 531.995 276.896 C 532.038 276.819 532.09 276.743 532.147 276.667 C 532.291 276.442 532.448 276.217 532.613 276.002 C 532.679 275.903 532.748 275.804 532.823 275.71 L 532.827 275.714 L 532.836 275.723 L 532.844 275.732 L 532.849 275.737 L 536.645 279.645 C 537.643 280.674 539.268 280.678 540.266 279.645 C 541.269 278.616 541.264 276.941 540.266 275.912 L 536.47 271.994 L 536.449 271.972 C 536.566 271.878 536.688 271.783 536.81 271.698 C 537.107 271.469 537.403 271.253 537.708 271.046 C 540.096 269.402 542.746 268.333 545.474 267.843 C 545.609 267.821 545.749 267.794 545.884 267.771 C 546.102 267.731 546.324 267.699 546.542 267.677 L 546.542 273.248 C 546.542 274.703 547.688 275.889 549.104 275.889 C 550.52 275.889 551.667 274.703 551.667 273.248 L 551.667 267.695 C 551.662 267.695 551.662 267.695 551.658 267.69 C 551.658 267.69 551.662 267.69 551.667 267.69 C 551.798 267.704 551.929 267.722 552.055 267.744 C 552.186 267.767 552.312 267.785 552.443 267.807 C 552.705 267.852 552.966 267.902 553.227 267.956 C 553.262 267.96 553.297 267.969 553.336 267.982 C 553.554 268.027 553.772 268.077 553.99 268.135 C 554.256 268.198 554.526 268.27 554.792 268.351 C 554.901 268.382 555.005 268.414 555.114 268.45 C 555.188 268.468 555.258 268.495 555.332 268.522 C 556.086 268.764 556.828 269.056 557.555 269.398 C 557.743 269.483 557.93 269.573 558.113 269.667 C 559.351 270.283 560.54 271.033 561.656 271.927 C 561.669 271.936 561.678 271.945 561.691 271.954 C 561.696 271.958 561.7 271.963 561.704 271.963 C 561.717 271.976 561.73 271.985 561.748 271.994 L 561.735 272.008 L 557.926 275.93 C 556.928 276.959 556.923 278.634 557.926 279.668 C 558.928 280.701 560.55 280.696 561.548 279.668 L 565.352 275.746 L 565.369 275.728 C 565.4 275.768 565.43 275.808 565.461 275.849 C 565.544 275.952 565.622 276.06 565.692 276.168 C 565.718 276.204 565.744 276.24 565.77 276.28 C 565.775 276.289 565.783 276.298 565.792 276.312 C 565.823 276.357 565.854 276.401 565.884 276.446 C 565.953 276.545 566.023 276.649 566.093 276.747 C 566.302 277.057 566.498 277.367 566.686 277.686 C 566.737 277.772 566.785 277.857 566.834 277.947 C 566.838 277.951 566.842 277.951 566.842 277.956 C 566.887 278.028 566.925 278.104 566.969 278.181 C 566.991 278.216 567.013 278.257 567.034 278.297 C 567.069 278.356 567.104 278.419 567.13 278.482 C 567.148 278.508 567.161 278.54 567.178 278.567 C 567.208 278.621 567.235 278.675 567.265 278.729 C 567.317 278.832 567.369 278.935 567.422 279.034 C 567.483 279.16 567.544 279.281 567.6 279.407 L 567.653 279.515 C 567.779 279.78 567.897 280.049 568.01 280.319 C 568.237 280.854 568.437 281.402 568.62 281.95 C 568.62 281.959 568.624 281.968 568.629 281.972 C 568.716 282.242 568.799 282.511 568.873 282.781 C 568.921 282.956 568.969 283.131 569.012 283.307 C 569.239 284.183 569.409 285.068 569.522 285.962 C 569.527 286.011 569.535 286.056 569.54 286.105 L 564.188 286.105 C 562.776 286.105 561.625 287.287 561.625 288.747 C 561.625 290.207 562.776 291.389 564.188 291.389 L 569.544 291.389 C 569.531 291.527 569.509 291.671 569.487 291.81 Z M 549.078 278.081 C 543.36 278.081 538.723 282.861 538.723 288.756 C 538.723 294.65 543.36 299.43 549.078 299.43 C 554.796 299.43 559.433 294.65 559.433 288.756 C 559.433 282.861 554.796 278.081 549.078 278.081 Z M 549.078 296.397 C 544.986 296.397 541.665 292.974 541.665 288.756 C 541.665 284.537 544.986 281.114 549.078 281.114 C 553.17 281.114 556.491 284.537 556.491 288.756 C 556.491 292.974 553.17 296.397 549.078 296.397 Z M 549.078 278.081 C 543.36 278.081 538.723 282.861 538.723 288.756 C 538.723 294.65 543.36 299.43 549.078 299.43 C 554.796 299.43 559.433 294.65 559.433 288.756 C 559.433 282.861 554.796 278.081 549.078 278.081 Z M 549.078 296.397 C 544.986 296.397 541.665 292.974 541.665 288.756 C 541.665 284.537 544.986 281.114 549.078 281.114 C 553.17 281.114 556.491 284.537 556.491 288.756 C 556.491 292.974 553.17 296.397 549.078 296.397 Z M 549.078 278.081 C 543.36 278.081 538.723 282.861 538.723 288.756 C 538.723 294.65 543.36 299.43 549.078 299.43 C 554.796 299.43 559.433 294.65 559.433 288.756 C 559.433 282.861 554.796 278.081 549.078 278.081 Z M 549.078 296.397 C 544.986 296.397 541.665 292.974 541.665 288.756 C 541.665 284.537 544.986 281.114 549.078 281.114 C 553.17 281.114 556.491 284.537 556.491 288.756 C 556.491 292.974 553.17 296.397 549.078 296.397 Z M 562.95 288.747 C 562.95 287.911 563.604 287.237 564.414 287.237 L 571.261 287.237 C 571.252 287.026 571.234 286.82 571.213 286.613 C 571.195 286.437 571.178 286.263 571.161 286.087 C 571.143 285.912 571.121 285.737 571.095 285.561 C 571.073 285.391 571.048 285.215 571.017 285.045 C 570.973 284.775 570.925 284.506 570.877 284.241 C 570.102 280.243 568.319 276.622 565.814 273.67 L 564.697 274.82 L 564.671 274.847 L 564.666 274.852 L 564.654 274.865 L 560.932 278.702 C 560.357 279.29 559.433 279.29 558.862 278.702 C 558.287 278.109 558.287 277.156 558.862 276.568 L 562.588 272.727 L 562.601 272.713 L 563.743 271.536 C 562.693 270.584 561.555 269.735 560.343 268.998 C 560.169 268.894 559.995 268.791 559.821 268.692 C 559.742 268.647 559.664 268.602 559.581 268.558 C 559.415 268.468 559.249 268.378 559.084 268.292 C 558.984 268.239 558.883 268.189 558.779 268.135 C 558.57 268.027 558.36 267.929 558.147 267.83 C 558.025 267.767 557.899 267.713 557.772 267.659 C 557.698 267.623 557.629 267.592 557.554 267.565 C 557.327 267.466 557.097 267.376 556.866 267.286 C 556.853 267.282 556.839 267.277 556.827 267.268 C 556.648 267.201 556.465 267.133 556.286 267.071 C 556.103 267.003 555.916 266.94 555.728 266.882 C 555.698 266.873 555.667 266.864 555.641 266.855 C 555.48 266.805 555.324 266.756 555.162 266.711 C 554.988 266.657 554.809 266.608 554.635 266.563 C 554.011 266.397 553.384 266.262 552.752 266.154 C 552.704 266.145 552.656 266.141 552.608 266.132 C 552.504 266.114 552.403 266.096 552.299 266.082 C 552.076 266.051 551.854 266.019 551.627 265.992 C 551.623 265.992 551.623 265.992 551.619 265.992 L 551.614 265.992 C 551.387 265.965 551.161 265.943 550.93 265.92 C 550.808 265.911 550.69 265.902 550.568 265.893 L 550.568 273.014 C 550.568 273.85 549.915 274.524 549.104 274.524 C 548.294 274.524 547.64 273.85 547.64 273.014 L 547.64 265.893 C 544.197 266.127 540.798 267.178 537.739 269.061 C 537.656 269.11 537.573 269.16 537.49 269.213 C 537.281 269.344 537.076 269.479 536.871 269.618 C 536.662 269.762 536.453 269.91 536.244 270.058 C 536.218 270.076 536.196 270.094 536.17 270.112 C 536.039 270.211 535.908 270.31 535.782 270.404 C 535.555 270.584 535.328 270.768 535.106 270.948 C 534.888 271.141 534.67 271.329 534.457 271.523 L 539.329 276.545 C 539.905 277.138 539.905 278.091 539.329 278.679 C 538.758 279.272 537.834 279.272 537.259 278.679 L 532.387 273.657 C 532.226 273.845 532.069 274.034 531.912 274.223 C 531.759 274.42 531.607 274.613 531.458 274.811 C 531.363 274.941 531.267 275.076 531.171 275.211 C 530.953 275.521 530.739 275.835 530.535 276.15 C 530.33 276.469 530.138 276.788 529.951 277.116 C 529.837 277.318 529.724 277.52 529.615 277.722 C 529.288 278.333 528.992 278.958 528.722 279.591 C 528.647 279.775 528.573 279.955 528.499 280.139 C 528.434 280.31 528.369 280.485 528.303 280.656 C 527.859 281.873 527.519 283.122 527.279 284.385 C 527.249 284.564 527.214 284.744 527.183 284.928 C 527.127 285.288 527.074 285.651 527.031 286.016 C 527.013 286.173 527 286.33 526.983 286.483 C 526.957 286.738 526.939 286.99 526.922 287.246 L 533.816 287.246 C 534.627 287.246 535.281 287.92 535.281 288.756 C 535.281 289.591 534.627 290.265 533.816 290.265 L 526.97 290.265 C 526.978 290.476 526.996 290.683 527.018 290.889 C 527.035 291.065 527.052 291.24 527.07 291.415 C 527.087 291.59 527.109 291.765 527.135 291.941 C 527.157 292.111 527.183 292.287 527.214 292.457 C 527.257 292.727 527.305 292.996 527.353 293.262 C 528.129 297.259 529.911 300.881 532.417 303.832 L 533.533 302.682 L 533.559 302.655 L 533.563 302.65 L 533.577 302.637 L 537.298 298.8 C 537.874 298.211 538.798 298.211 539.368 298.8 C 539.944 299.393 539.944 300.345 539.368 300.934 L 535.642 304.775 L 535.629 304.789 L 535.612 304.807 L 534.487 305.965 C 535.538 306.918 536.675 307.767 537.887 308.504 C 538.061 308.607 538.235 308.71 538.41 308.809 C 538.488 308.855 538.567 308.899 538.649 308.944 C 538.815 309.034 538.981 309.124 539.146 309.21 C 539.246 309.263 539.347 309.312 539.451 309.367 C 539.66 309.475 539.87 309.573 540.083 309.672 C 540.205 309.736 540.332 309.79 540.458 309.843 C 540.532 309.879 540.602 309.91 540.676 309.938 C 540.903 310.037 541.134 310.126 541.364 310.216 C 541.378 310.221 541.391 310.225 541.404 310.234 C 541.582 310.301 541.765 310.369 541.944 310.432 C 542.127 310.499 542.315 310.562 542.502 310.62 C 542.532 310.63 542.563 310.638 542.589 310.648 C 542.75 310.697 542.907 310.746 543.069 310.791 C 543.243 310.845 543.422 310.894 543.596 310.939 C 544.219 311.105 544.847 311.24 545.479 311.348 C 545.627 311.375 545.779 311.397 545.932 311.42 C 546.154 311.451 546.376 311.483 546.603 311.51 L 546.616 311.51 C 546.664 311.519 546.707 311.523 546.751 311.528 C 546.934 311.55 547.117 311.568 547.3 311.581 C 547.418 311.591 547.54 311.599 547.662 311.609 L 547.662 304.487 C 547.662 303.652 548.316 302.978 549.126 302.978 C 549.936 302.978 550.59 303.652 550.59 304.487 L 550.59 311.599 C 553.955 311.366 557.28 310.346 560.287 308.544 C 560.518 308.405 560.745 308.261 560.971 308.113 C 561.268 307.92 561.56 307.718 561.847 307.511 C 561.856 307.502 561.869 307.493 561.882 307.484 C 562.022 307.381 562.161 307.277 562.3 307.169 C 562.501 307.017 562.697 306.86 562.893 306.698 C 563.041 306.581 563.19 306.455 563.333 306.333 C 563.364 306.302 563.394 306.28 563.425 306.249 C 563.534 306.154 563.643 306.059 563.752 305.957 L 558.901 300.956 C 558.326 300.363 558.326 299.411 558.901 298.822 C 559.472 298.229 560.396 298.229 560.971 298.822 L 565.822 303.823 C 565.874 303.764 565.922 303.706 565.97 303.647 C 566.092 303.499 566.214 303.351 566.332 303.203 C 566.45 303.05 566.567 302.902 566.68 302.749 C 566.798 302.596 566.907 302.443 567.02 302.286 C 567.129 302.133 567.238 301.976 567.343 301.819 C 567.417 301.711 567.491 301.603 567.561 301.491 C 567.643 301.366 567.726 301.235 567.805 301.105 C 567.87 301.002 567.936 300.898 567.997 300.795 C 568.058 300.696 568.114 300.598 568.175 300.494 C 568.24 300.386 568.302 300.274 568.363 300.162 C 568.454 300 568.541 299.843 568.624 299.676 C 568.729 299.483 568.829 299.29 568.921 299.092 C 568.986 298.962 569.052 298.827 569.117 298.693 C 569.117 298.688 569.121 298.688 569.121 298.683 C 569.195 298.522 569.274 298.351 569.344 298.185 C 569.418 298.014 569.492 297.848 569.562 297.672 C 569.701 297.331 569.836 296.985 569.958 296.635 C 570.023 296.459 570.085 296.28 570.141 296.104 C 570.207 295.907 570.272 295.709 570.329 295.511 C 570.429 295.17 570.525 294.828 570.608 294.483 C 570.717 294.042 570.813 293.602 570.895 293.162 C 570.913 293.077 570.926 292.991 570.939 292.906 C 570.974 292.717 571.004 292.533 571.035 292.345 C 571.062 292.156 571.087 291.967 571.113 291.779 C 571.123 291.697 571.136 291.621 571.144 291.54 C 571.192 291.122 571.231 290.7 571.257 290.283 C 571.257 290.273 571.262 290.265 571.262 290.255 L 564.415 290.255 C 563.604 290.256 562.95 289.582 562.95 288.747 Z M 569.487 291.81 C 569.474 291.927 569.456 292.044 569.435 292.161 C 569.417 292.278 569.4 292.39 569.378 292.507 C 569.348 292.678 569.317 292.853 569.282 293.023 C 569.252 293.199 569.212 293.369 569.173 293.54 C 569.099 293.881 569.016 294.223 568.92 294.56 C 568.876 294.726 568.829 294.892 568.777 295.059 C 568.729 295.225 568.676 295.391 568.62 295.557 C 568.506 295.907 568.384 296.254 568.249 296.599 C 568.123 296.931 567.987 297.259 567.84 297.583 C 567.835 297.592 567.831 297.596 567.827 297.605 C 567.779 297.713 567.731 297.825 567.678 297.933 C 567.631 298.041 567.579 298.148 567.522 298.252 C 567.439 298.432 567.352 298.607 567.256 298.782 C 567.221 298.854 567.186 298.922 567.147 298.994 C 567.108 299.07 567.069 299.142 567.025 299.214 C 566.99 299.29 566.947 299.362 566.899 299.438 C 566.864 299.51 566.816 299.587 566.772 299.663 C 566.764 299.681 566.755 299.703 566.742 299.721 C 566.729 299.748 566.712 299.775 566.694 299.802 C 566.651 299.879 566.607 299.95 566.564 300.022 C 566.551 300.045 566.537 300.067 566.524 300.085 C 566.394 300.305 566.259 300.521 566.115 300.732 C 566.028 300.867 565.936 301.002 565.84 301.136 C 565.696 301.348 565.544 301.558 565.383 301.765 L 561.587 297.856 C 560.589 296.828 558.963 296.823 557.965 297.856 C 556.962 298.885 556.967 300.561 557.965 301.59 L 561.76 305.508 C 561.752 305.512 561.748 305.521 561.739 305.526 C 561.516 305.705 561.29 305.881 561.063 306.047 C 560.837 306.213 560.61 306.374 560.375 306.527 C 560.375 306.532 560.37 306.532 560.366 306.532 C 560.135 306.693 559.9 306.842 559.66 306.986 C 559.538 307.058 559.42 307.134 559.298 307.201 C 559.219 307.25 559.141 307.295 559.058 307.336 C 559.019 307.363 558.976 307.385 558.936 307.408 C 558.932 307.408 558.927 307.413 558.919 307.417 C 558.915 307.417 558.91 307.422 558.906 307.422 C 558.675 307.556 558.44 307.682 558.205 307.794 L 558.2 307.799 C 558.196 307.804 558.187 307.808 558.182 307.808 C 558.083 307.862 557.982 307.911 557.882 307.957 C 557.773 308.01 557.669 308.059 557.56 308.109 L 557.555 308.114 C 557.525 308.132 557.494 308.145 557.464 308.154 C 557.259 308.249 557.054 308.343 556.845 308.424 C 556.736 308.473 556.622 308.519 556.513 308.559 C 556.404 308.608 556.291 308.653 556.178 308.694 C 556.016 308.757 555.86 308.816 555.698 308.869 C 555.545 308.923 555.389 308.977 555.236 309.022 C 555.131 309.058 555.031 309.089 554.927 309.117 C 554.905 309.126 554.887 309.13 554.866 309.135 C 554.682 309.197 554.495 309.247 554.312 309.292 C 554.264 309.31 554.216 309.319 554.168 309.332 C 554.064 309.364 553.959 309.391 553.854 309.414 C 553.723 309.445 553.593 309.476 553.462 309.503 C 553.375 309.526 553.292 309.543 553.205 309.557 C 553.144 309.575 553.087 309.584 553.026 309.597 C 552.913 309.62 552.799 309.643 552.686 309.661 C 552.665 309.665 552.642 309.67 552.621 309.67 C 552.604 309.679 552.586 309.683 552.569 309.683 C 552.473 309.701 552.381 309.719 552.286 309.732 C 552.085 309.763 551.889 309.795 551.689 309.822 L 551.689 304.256 C 551.689 302.8 550.543 301.614 549.126 301.614 C 547.71 301.614 546.564 302.8 546.564 304.256 L 546.564 309.808 C 546.568 309.808 546.568 309.808 546.572 309.813 C 546.572 309.813 546.568 309.813 546.564 309.813 C 546.433 309.799 546.302 309.781 546.176 309.759 C 546.045 309.737 545.919 309.719 545.788 309.696 C 545.526 309.651 545.265 309.602 545.004 309.548 C 544.969 309.543 544.934 309.534 544.895 309.52 C 544.677 309.476 544.459 309.426 544.241 309.368 C 543.975 309.305 543.705 309.233 543.439 309.152 C 543.33 309.121 543.225 309.089 543.116 309.053 C 543.042 309.035 542.973 309.008 542.899 308.981 C 542.145 308.739 541.404 308.447 540.676 308.106 C 540.489 308.02 540.301 307.93 540.118 307.836 C 538.88 307.22 537.691 306.47 536.575 305.576 C 536.562 305.567 536.553 305.558 536.54 305.549 C 536.536 305.545 536.531 305.54 536.527 305.54 C 536.514 305.527 536.501 305.517 536.483 305.509 L 536.496 305.495 L 540.305 301.574 C 541.303 300.545 541.308 298.869 540.305 297.836 C 539.303 296.803 537.682 296.807 536.684 297.836 L 532.879 301.758 L 532.862 301.776 C 532.831 301.735 532.801 301.694 532.77 301.654 C 532.687 301.551 532.609 301.443 532.539 301.335 C 532.513 301.299 532.487 301.263 532.461 301.223 C 532.456 301.214 532.448 301.205 532.439 301.191 C 532.409 301.146 532.378 301.102 532.348 301.057 C 532.278 300.958 532.208 300.854 532.138 300.756 C 531.929 300.446 531.733 300.136 531.546 299.817 C 531.493 299.731 531.445 299.646 531.397 299.556 C 531.393 299.552 531.389 299.552 531.389 299.547 C 531.345 299.475 531.306 299.399 531.262 299.322 C 531.241 299.286 531.219 299.246 531.197 299.205 C 531.162 299.147 531.127 299.084 531.101 299.021 C 531.084 298.994 531.071 298.963 531.053 298.936 C 531.023 298.882 530.997 298.828 530.966 298.774 C 530.914 298.671 530.861 298.568 530.809 298.469 C 530.748 298.343 530.687 298.222 530.63 298.096 L 530.578 297.988 C 530.452 297.723 530.334 297.454 530.221 297.184 C 529.994 296.65 529.794 296.101 529.611 295.553 C 529.611 295.544 529.606 295.535 529.602 295.531 C 529.515 295.261 529.432 294.992 529.358 294.722 C 529.31 294.546 529.262 294.372 529.218 294.196 C 528.992 293.32 528.822 292.435 528.709 291.541 C 528.704 291.492 528.695 291.447 528.691 291.398 L 534.043 291.398 C 535.455 291.398 536.605 290.216 536.605 288.756 C 536.605 287.296 535.455 286.114 534.043 286.114 L 528.639 286.114 C 528.77 285.032 528.979 283.976 529.266 282.952 C 529.306 282.803 529.349 282.655 529.393 282.507 C 529.441 282.341 529.493 282.17 529.55 282.004 C 529.628 281.766 529.707 281.527 529.794 281.289 C 529.833 281.177 529.876 281.065 529.92 280.952 C 530.012 280.714 530.107 280.476 530.208 280.238 C 530.291 280.036 530.382 279.834 530.474 279.636 C 530.674 279.205 530.888 278.778 531.119 278.36 C 531.245 278.118 531.38 277.88 531.524 277.646 C 531.559 277.583 531.598 277.52 531.637 277.457 C 531.75 277.269 531.868 277.08 531.995 276.896 C 532.038 276.819 532.09 276.743 532.147 276.667 C 532.291 276.442 532.448 276.217 532.613 276.002 C 532.679 275.903 532.748 275.804 532.823 275.71 L 532.827 275.714 L 532.836 275.723 L 532.844 275.732 L 532.849 275.737 L 536.645 279.645 C 537.643 280.674 539.268 280.678 540.266 279.645 C 541.269 278.616 541.264 276.941 540.266 275.912 L 536.47 271.994 L 536.449 271.972 C 536.566 271.878 536.688 271.783 536.81 271.698 C 537.107 271.469 537.403 271.253 537.708 271.046 C 540.096 269.402 542.746 268.333 545.474 267.843 C 545.609 267.821 545.749 267.794 545.884 267.771 C 546.102 267.731 546.324 267.699 546.542 267.677 L 546.542 273.248 C 546.542 274.703 547.688 275.889 549.104 275.889 C 550.52 275.889 551.667 274.703 551.667 273.248 L 551.667 267.695 C 551.662 267.695 551.662 267.695 551.658 267.69 C 551.658 267.69 551.662 267.69 551.667 267.69 C 551.798 267.704 551.929 267.722 552.055 267.744 C 552.186 267.767 552.312 267.785 552.443 267.807 C 552.705 267.852 552.966 267.902 553.227 267.956 C 553.262 267.96 553.297 267.969 553.336 267.982 C 553.554 268.027 553.772 268.077 553.99 268.135 C 554.256 268.198 554.526 268.27 554.792 268.351 C 554.901 268.382 555.005 268.414 555.114 268.45 C 555.188 268.468 555.258 268.495 555.332 268.522 C 556.086 268.764 556.828 269.056 557.555 269.398 C 557.743 269.483 557.93 269.573 558.113 269.667 C 559.351 270.283 560.54 271.033 561.656 271.927 C 561.669 271.936 561.678 271.945 561.691 271.954 C 561.696 271.958 561.7 271.963 561.704 271.963 C 561.717 271.976 561.73 271.985 561.748 271.994 L 561.735 272.008 L 557.926 275.93 C 556.928 276.959 556.923 278.634 557.926 279.668 C 558.928 280.701 560.55 280.696 561.548 279.668 L 565.352 275.746 L 565.369 275.728 C 565.4 275.768 565.43 275.808 565.461 275.849 C 565.544 275.952 565.622 276.06 565.692 276.168 C 565.718 276.204 565.744 276.24 565.77 276.28 C 565.775 276.289 565.783 276.298 565.792 276.312 C 565.823 276.357 565.854 276.401 565.884 276.446 C 565.953 276.545 566.023 276.649 566.093 276.747 C 566.302 277.057 566.498 277.367 566.686 277.686 C 566.737 277.772 566.785 277.857 566.834 277.947 C 566.838 277.951 566.842 277.951 566.842 277.956 C 566.887 278.028 566.925 278.104 566.969 278.181 C 566.991 278.216 567.013 278.257 567.034 278.297 C 567.069 278.356 567.104 278.419 567.13 278.482 C 567.148 278.508 567.161 278.54 567.178 278.567 C 567.208 278.621 567.235 278.675 567.265 278.729 C 567.317 278.832 567.369 278.935 567.422 279.034 C 567.483 279.16 567.544 279.281 567.6 279.407 L 567.653 279.515 C 567.779 279.78 567.897 280.049 568.01 280.319 C 568.237 280.854 568.437 281.402 568.62 281.95 C 568.62 281.959 568.624 281.968 568.629 281.972 C 568.716 282.242 568.799 282.511 568.873 282.781 C 568.921 282.956 568.969 283.131 569.012 283.307 C 569.239 284.183 569.409 285.068 569.522 285.962 C 569.527 286.011 569.535 286.056 569.54 286.105 L 564.188 286.105 C 562.776 286.105 561.625 287.287 561.625 288.747 C 561.625 290.207 562.776 291.389 564.188 291.389 L 569.544 291.389 C 569.531 291.527 569.509 291.671 569.487 291.81 Z M 549.078 278.081 C 543.36 278.081 538.723 282.861 538.723 288.756 C 538.723 294.65 543.36 299.43 549.078 299.43 C 554.796 299.43 559.433 294.65 559.433 288.756 C 559.433 282.861 554.796 278.081 549.078 278.081 Z M 549.078 296.397 C 544.986 296.397 541.665 292.974 541.665 288.756 C 541.665 284.537 544.986 281.114 549.078 281.114 C 553.17 281.114 556.491 284.537 556.491 288.756 C 556.491 292.974 553.17 296.397 549.078 296.397 Z M 549.078 278.081 C 543.36 278.081 538.723 282.861 538.723 288.756 C 538.723 294.65 543.36 299.43 549.078 299.43 C 554.796 299.43 559.433 294.65 559.433 288.756 C 559.433 282.861 554.796 278.081 549.078 278.081 Z M 549.078 296.397 C 544.986 296.397 541.665 292.974 541.665 288.756 C 541.665 284.537 544.986 281.114 549.078 281.114 C 553.17 281.114 556.491 284.537 556.491 288.756 C 556.491 292.974 553.17 296.397 549.078 296.397 Z\" transform=\"matrix(0, 1, -1, 0, 831.677999, -261.252003)\" id=\"Pump_Out\" style=\"fill:black;\"/>\n  </g>\n  <rect x=\"272.316\" y=\"39.063\" width=\"113.326\" height=\"199.971\" style=\"stroke: rgb(0, 0, 0); fill: rgb(171, 196, 239);\"/>\n  <ellipse style=\"fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);\" cx=\"329.262\" cy=\"39.493\" rx=\"56.258\" ry=\"4.5\">\n  </ellipse>\n  <rect x=\"289\" y=\"59\" width=\"77\" height=\"162\" style=\"stroke: rgb(0, 0, 0); fill: rgb(255, 255, 255);\" id=\"WaterTank\"/>\n  <rect x=\"290\" y=\"250\" width=\"75\" height=\"0\" style=\"stroke:none;fill:rgb(0,191,255)\" id=\"WaterLevel\" transform=\"matrix(1 0 0 -1 0 470)\"/>\n  <path d=\"M290,200h75\" style=\"fill:none;stroke:red;stroke-width:1.5px\" id=\"SP_line\"/><text dy=\"-0.5em\" style=\"fill:black;font-family:Arial;font-size:9px\" id=\"e2_text\" xml:space=\"preserve\">\n    <textPath id=\"e1_textPath\" xlink:href=\"#SP_line\" style=\"fill:red;font-size:9px\" startOffset=\"22.5\">Set Point</textPath></text>\n  <g transform=\"matrix(0.755506, 0, 0, 0.666569, 7.888053, 19.066032)\" style=\"\">\n  \n  </g>\n  <g transform=\"matrix(0.20807 0 0 0.191073 262.409 44.1944)\" style=\"\">\n    <defs/>\n    <g partid=\"854526950\" transform=\"matrix(1, 0, 0, 1, -8.765513, -123.593353)\">\n      <g transform=\"translate(265.428,0)\">\n        <g id=\"breadboard\">\n          <g transform=\"matrix(1, 0, 0, 1, -72.2812, -223.656)\">\n            <g id=\"layer1\">\n              <rect fill=\"#8C8C8C\" height=\"18.1\" width=\"2.171\" x=\"124.042\" y=\"279.528\" id=\"rect4104-0\">\n              </rect>\n              <rect fill=\"#8C8C8C\" height=\"18.1\" width=\"2.172\" x=\"131.423\" y=\"279.528\" id=\"rect4104-0-4\">\n              </rect>\n              <rect fill=\"#8C8C8C\" height=\"18.1\" width=\"2.171\" x=\"138.642\" y=\"279.528\" id=\"rect4104-0-4-5\"/>\n              <rect fill=\"#8C8C8C\" height=\"18.1\" width=\"2.172\" x=\"116.981\" y=\"279.528\" id=\"rect4104\">\n              </rect>\n              <rect fill=\"rgb(30,23,255)\" height=\"56.999\" width=\"114\" x=\"72.281\" y=\"223.656\" id=\"rect2985\">\n              </rect>\n              <g transform=\"matrix(1.29636, 0, 0, 1.3296, -40.1996, -28.9943)\">\n                <g id=\"g3821\">\n                  \n                  \n                </g>\n              </g>\n              <rect fill=\"#BBC0A5\" height=\"3.697\" width=\"3.698\" x=\"116.256\" y=\"275.678\" id=\"rect3849\">\n              </rect>\n              <rect fill=\"#BBC0A5\" height=\"3.697\" width=\"3.697\" x=\"123.413\" y=\"275.678\" id=\"rect3849-4\">\n              </rect>\n              <rect fill=\"#BBC0A5\" height=\"3.697\" width=\"3.697\" x=\"130.784\" y=\"275.678\" id=\"rect3849-4-9\">\n              </rect>\n              <rect fill=\"#BBC0A5\" height=\"3.697\" width=\"3.697\" x=\"137.939\" y=\"275.678\" id=\"rect3849-4-9-7\"/>\n              \n              <path fill=\"#FFFFFF\" d=\"M78.975,226.945c0,1.57,-1.401,2.843,-3.129,2.843c-1.728,0,-3.128,-1.273,-3.128,-2.843c0,-1.568,1.4,-2.843,3.128,-2.843C77.574,224.101,78.975,225.376,78.975,226.945z\" id=\"path3920\"/>\n              <g transform=\"matrix(1.29636, 0, 0, 1.3296, 44.7304, -28.9943)\">\n                <g id=\"g3821-9\">\n                  \n                  \n                </g>\n              </g>\n              <path fill=\"#FFFFFF\" d=\"M78.957,277.374c0,1.572,-1.4,2.842,-3.128,2.842c-1.728,0,-3.128,-1.27,-3.128,-2.842c0,-1.57,1.401,-2.846,3.128,-2.846C77.557,274.528,78.957,275.803,78.957,277.374z\" id=\"path3920-6\"/>\n              <path fill=\"#FFFFFF\" d=\"M185.832,277.339c0,1.57,-1.396,2.844,-3.129,2.844c-1.725,0,-3.126,-1.273,-3.126,-2.844c0,-1.572,1.401,-2.842,3.126,-2.842C184.436,274.497,185.832,275.766,185.832,277.339z\" id=\"path3920-0\"/>\n              <path fill=\"#FFFFFF\" d=\"M185.715,226.903c0,1.572,-1.397,2.844,-3.129,2.844c-1.727,0,-3.129,-1.272,-3.129,-2.844c0,-1.571,1.402,-2.844,3.129,-2.844C184.317,224.059,185.715,225.332,185.715,226.903z\" id=\"path3920-0-5\"/>\n              <g transform=\"scale(1.1126369,0.8987658)\">\n                <g id=\"text3047\">\n                  \n                  \n                  \n                  \n                  \n                  \n                  \n                </g>\n              </g>\n              <g id=\"text3041\">\n                \n                \n                \n                \n                \n              </g>\n              <g transform=\"matrix(0,-1,1,0,0,0)\">\n                <g id=\"text3071\">\n                  \n                  \n                  \n                </g>\n              </g>\n              <g transform=\"matrix(0,-1,1,0,0,0)\">\n                <g id=\"text3053\">\n                  \n                  \n                  \n                </g>\n              </g>\n              <g transform=\"matrix(0,-1,1,0,0,0)\">\n                <g id=\"text3059\">\n                  \n                  \n                  \n                  \n                </g>\n              </g>\n              <g transform=\"matrix(0,-1,1,0,0,0)\">\n                <g id=\"text3065\">\n                  \n                  \n                  \n                  \n                </g>\n              </g>\n            </g>\n          </g>\n          <rect fill=\"none\" height=\"4.021\" width=\"4.022\" x=\"43.917\" y=\"51.751\"/>\n          <rect fill=\"none\" height=\"4.021\" width=\"4.022\" x=\"50.908\" y=\"51.745\"/>\n          <rect fill=\"none\" height=\"4.021\" width=\"4.021\" x=\"58.563\" y=\"51.923\"/>\n          <rect fill=\"none\" height=\"4.021\" width=\"4.019\" x=\"65.52\" y=\"51.745\"/>\n          <rect fill=\"none\" height=\"4.092\" width=\"2.172\" x=\"44.7\" y=\"69.885\" id=\"connector8\"/>\n          <rect fill=\"none\" height=\"4.092\" width=\"2.171\" x=\"51.761\" y=\"69.885\" id=\"connector9\"/>\n          <rect fill=\"none\" height=\"4.088\" width=\"2.172\" x=\"59.142\" y=\"69.884\" id=\"connector10\"/>\n          <rect fill=\"none\" height=\"4.09\" width=\"2.17\" x=\"66.361\" y=\"69.882\" id=\"connector11\"/>\n        </g>\n      </g>\n    </g>\n  </g>\n  <path style=\"fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);\" d=\"M339.73958,24.871881L422.84558,24.871881\"/>\n  <rect x=\"423.225000\" y=\"14.682400\" width=\"56.663000\" height=\"19.997000\" style=\"stroke: rgb(0, 0, 0); fill: rgb(255, 255, 255);\" rx=\"3.971\" ry=\"3.971\"/>\n  \n<rect x=\"23.462200\" y=\"161.855000\" width=\"196.227000\" height=\"14.031000\" style=\"stroke: rgb(0, 0, 0); fill: rgb(255, 255, 255);\" id=\"Pipe_Out\" transform=\"matrix(0.222355 0 0 1 449.961 27.8091)\"/>\n<text style=\"fill:black;font-family:Arial;font-size:10px\" x=\"444.766\" y=\"28.3957\" id=\"WaterLevel_Value\">Chưa có</text>\n<circle id=\"e1_circle\" cx=\"329.563000\" cy=\"28.372300\" style=\"fill:darkseagreen;stroke:darkseagreen;stroke-width:1px\" r=\"3.100780\" transform=\"matrix(1.18132 0 0 1.18132 -68.1139 -7.81366)\"/><circle id=\"e2_circle\" cx=\"340.321000\" cy=\"28.493500\" style=\"fill:darkseagreen;stroke:darkseagreen;stroke-width:1px\" r=\"3.100780\" transform=\"matrix(1.18132 0 0 1.18132 -68.1139 -7.81366)\"/><circle id=\"e3_circle\" cx=\"307.935000\" cy=\"29.127900\" style=\"fill:black;stroke:black;stroke-width:1px\" r=\"4.148200\" transform=\"matrix(0.755726 0 0 0.755726 88.5331 3.69926)\"/><circle id=\"e16_circle\" cx=\"324.703000\" cy=\"29.459500\" style=\"fill:black;stroke:black;stroke-width:1px\" r=\"4.148200\" transform=\"matrix(0.755726 0 0 0.755726 88.5331 3.69926)\"/></svg>",
        "clickableShapes": [],
        "javascriptHandlers": [],
        "smilAnimations": [],
        "bindings": [],
        "showCoordinates": false,
        "autoFormatAfterEdit": false,
        "showBrowserErrors": false,
        "showBrowserEvents": false,
        "enableJsDebugging": false,
        "sendMsgWhenLoaded": false,
        "noClickWhenDblClick": false,
        "outputField": "payload",
        "editorUrl": "//drawsvg.org/drawsvg.html",
        "directory": "",
        "panning": "disabled",
        "zooming": "disabled",
        "panOnlyWhenZoomed": false,
        "doubleClickZoomEnabled": false,
        "mouseWheelZoomEnabled": false,
        "dblClickZoomPercentage": 150,
        "cssString": "div.ui-svg svg{\n    color: var(--nr-dashboard-widgetColor);\n    fill: currentColor !important;\n}\ndiv.ui-svg path {\n    fill: inherit;\n}",
        "name": "",
        "x": 1200,
        "y": 360,
        "wires": [
            [
                "0a41fd3369c7c834"
            ]
        ]
    },
    {
        "id": "9060520e1af00fd6",
        "type": "function",
        "z": "5bfeef237ac94587",
        "name": "Up value Set Point",
        "func": "const Setpoint = msg.payload;\nlet Mid = Setpoint.toString();\nlet Left = \"M290,\";\nlet Right = \"h75\";\nlet d = Left + Mid + Right;\n\nconst msgOutput =\n{ payload:\n    {\n        command: \"update_attribute\",\n        selector: \"#SP_line\",\n        attributeName: \"d\",\n        attributeValue: d\n    }\n};\nreturn msgOutput;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 400,
        "wires": [
            [
                "36e6b6b1ef9bfdb6"
            ]
        ]
    },
    {
        "id": "094dc4fe2f52e96d",
        "type": "function",
        "z": "5bfeef237ac94587",
        "name": "Up Number Water Level",
        "func": "const msgInput = msg.payload;\n\nconst msgOutput =\n{ payload:\n    {\n        command: \"update_text\",\n        selector: \"#WaterLevel_Value\",\n        textContent: msgInput\n    }\n};\nreturn msgOutput;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 600,
        "wires": [
            [
                "36e6b6b1ef9bfdb6"
            ]
        ]
    },
    {
        "id": "2da606e7746b6367",
        "type": "inject",
        "z": "5bfeef237ac94587",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "d60b8efa9ffe2894"
            ]
        ]
    },
    {
        "id": "bebe9b4002d42f24",
        "type": "ui_group",
        "name": "Điều khiển",
        "tab": "ec4120bbe958fcb6",
        "order": 3,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "17365f225a7fccae",
        "type": "ui_group",
        "name": "Thông số",
        "tab": "ec4120bbe958fcb6",
        "order": 2,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "8a6069de70574e4e",
        "type": "ui_group",
        "name": "Mô phỏng",
        "tab": "ec4120bbe958fcb6",
        "order": 1,
        "disp": true,
        "width": 16,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ec4120bbe958fcb6",
        "type": "ui_tab",
        "name": "Hệ thống bơm hai van",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]